<%include header%>
    <div class="container py-5">
      <div class="card border-0">
        <div class="row">
          <div class="col-md-4">
           <img src="/files/<%=entity.type%>/<%=entity.photo%>" class="w-75 float-right">
          </div>
          <div class="col-md-8 p-4 my-auto">
            <div class="card-block px-3">
              <h4><%=entity.title%></h4>
              <p class="small"><%=entity.createdAt.getDate() + "/" + (entity.createdAt.getMonth() + 1) + "/" + entity.createdAt.getFullYear()%></p>
              <p><%-entity.description%></p>
              <h6>View Links:</h6>
              <p class="card-text">
                <%entity.pdf.forEach(function(x){%>
              <button class="btn btn-sm btn-outline-success">
              <a style="color: green" href="/files/<%=entity.type%>/<%=x.filename%>" target="_blank"><%=x.filename%></a></button>
              <br>
              <li>
              <a style="color: green" href="/files/<%=entity.type%>/<%=x.filename%>" target="_blank"><%=x.filename%></a>
              </li>
                <%})%>
            </div>
          </div>
        </div>
    </div>
</p>
</div>
</div>
</div>
</div>
</div>
    <%include footer%>

   