<%include header%>

      <div id="boxes">
         <div style="top: 50%; left: 50%; display: none;" id="dialog" class="window"> 
            <div id="san" class="" style="background: url('');">
            <a href="#" class="close agree"><i class="fa fa-close float-right text-white"  style="float:right; margin-right: -30px; margin-top: -30px;" ></i></a>
            <div class="py-3">
               <img class="pt-3" src="./img/gbu_logo.png" width="100vw" >
               <h4 class="py-3 text-center">Welcome<br>to<br>Gautam Buddha University</h4>
            </div>
            </div>
         </div>
         <div style="width: 2478px; font-size: 32pt; color:white; height: 1202px; display: none; opacity: 0.4;" id="mask"> 
         </div>
      </div>
      <!-- sliding banner start from here -->
      <div class="container-fluid" style="background-color: orange">
         <div class="row">
            <div class="col-12 p-0">
               <div id="demo" class="carousel slide shadow carousel-fade" data-ride="carousel">
                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                     <li data-target="#demo" data-slide-to="0" class="active"></li>
                     <li data-target="#demo" data-slide-to="1"></li>
                     <li data-target="#demo" data-slide-to="2"></li>
                  </ul>
                  <!-- The slideshow -->
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <img src="./img/banner1.png" id="fill" width="100%">
                        <div class="carousel-caption py-2 px-1" id="carousel-capton-text">
                           <h2>A 511 acres lush green campus in Greater Noida and one of the most iconic infrastructures in India</h2>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <img src="./img/banner-bms.jpg" id="fill" width="100%">
                        <div class="carousel-caption py-2 px-1" id="carousel-capton-text">
                           <h2>Jyoti rao phule meditation centre to provide a peaceful environment for meditation</h2>
                        </div> 
                     </div>
                     <div class="carousel-item">
                        <img src="./img/yogiingbu.jpg" id="fill" width="100%">
                        
                        <div class="carousel-caption py-2 px-1" id="carousel-capton-text">
                           <h2>Explore and seek answers to your curiosity at GBU</h2>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <img src="./img/sport 1.JPG" id="fill" width="100%">
                        <div class="carousel-caption py-2 px-1" id="carousel-capton-text">
                           <h2>Regular sports activities at its own majestic indoor and outdoor stadium</h2>
                        </div>
                     </div>
                  </div>
                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                     <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                     <span class="carousel-control-next-icon"></span>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <!-- sliding banner start from here -->
      <div class="" style="background-color: orange" >
         <div class="container text-center pt-2 pb-0" style="vertical-align:middle;">
            <marquee align="center" onmouseout="start();" onmouseover="stop();" scrollamount="4" >
            <p style="color: #fff; font-size: 16px;"> Registration open for Admission in Advance Certificate Course in Big Data Analytics </p>
            </marquee> 
         </div>
      </div>
      <!-- home content section start from here -->
      <div id="highlights" style="background-color: #2f415f; padding: 10px 0px 40px 0px;">
         <div class="news-header">
            <div class="m-4" style="background-color: transparent;">
               <div class="container pt-0">
                  <div class="row py-3">
                     <div class="col-2">
                        <h4 class=" text-white">
                        <font style="vertical-align: inherit; text-transform: uppercase; letter-spacing: .2rem">Highlights</font>
                        </h4>
                     </div>
                     <div class="col-10 text-right ">
                        <div class="px-3 py-1 position-absolute " style="right: 0">
                           <div class="drop">
                              <div class="drop-news " style="border-bottom: 5px red;background-color: #a9a9a9;">
                                 <button id="newsMenu" onclick="showCollapsNewsmenu()">News</button>
                              </div>
                              <ul id="myTab" class="nav nav-tabs display-5 text-white text-left">
                                 <li>
                                    <a href="#news" data-toggle="tab" onclick="active(this.textContent,this,1)">
                                       <span id="0">News</span> </a>
                                 </li>
                                 <li>
                                    <a href="#events" data-toggle="tab" onclick="active(this.textContent,this, 2)">
                                    <span id="1">Events</span></a>
                                 </li>
                                 <li>
                                    <a href="#workshops" data-toggle="tab" onclick="active(this.textContent, this, 3)">
                                    <span id="2">Workshops</span></a>
                                 </li>
                                 <li>
                                    <a href="#notices" data-toggle="tab" onclick="active(this.textContent, this, 4)"> <span
                                    id="3">Notices</span></a>
                                 </li>
                                 <li>
                                    <a href="#technology" data-toggle="tab" onclick="active(this.textContent, this, 5)">
                                       <span id="4">Conferences</span></a>
                                 </li>
                                 <li>
                                    <a href="#cultural" data-toggle="tab" onclick="active(this. textContent, this, 6)"> <span
                                       id="5">Cultural</span></a>
                                 </li>
                                             
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- <div class="tab-content"> -->
                        <div class="tab-content">
                           <div id="news" class="news-content tab-pane pt-1 active">
                              <div class=" mt-0" style="background-color: transparent;">
                                 <div class="container text-center">
                                    <%var count=0%>
                                    <div class="row mx-auto">
                                       
                                       <%entities.forEach(function(entity){%>
                                       <%if(entity.type=="news" &&count<=7){%>
                                       <%count++%>
                                       <div class="col-md-3 ">
                                          <a href="/<%=entity.type%>/<%=entity._id%>" class="m-1">
                                             <div class="tab">
                                                <div class="news-img">
                                                   <img
                                                   src="/files/events/<%=entity.photo%>"
                                                   alt="img" class="" height="175px" width="300px">
                                                </div>
                                             </div>
                                             <br>
                                            <p class="h5 text-left"><%=entity.title%></p>

                                                <h5 class="block-text text-left " style="font-weight: 300; letter-spacing: 1.1px; font-size: 14px !important ; color: #a7a7a7;">
                                                <%-entity.description%>
                                                </h5>
                                             <div class="date-time text-left">
                                                <h1
                                                style="text-transform: uppercase; font-size: 10px;letter-spacing: 4px; word-spacing: 1px; color: #ffffff8c; font-weight: 600">
                                                <%=entity.createdAt.getDate() + "/" + (entity.createdAt.getMonth() + 1) + "/" + entity.createdAt.getFullYear()%></h1>
                                                <p class="float-right" style="font-size:12px;">Read more</p>
                                             </div>
                                          </a>
                                       </div>
                                       <%}})%>
                                    </div>
                                    
                                 </div>
                              </div>
                              <div class="view-more text-md-right container">
                                 <a href="/news" class="btn btn-sm btn-outline-secondary">Show More</a>
                              </div>
                           </div>
                           <div id="events" class="news-content tab-pane pt-1">
                              <div class=" mt-0" style="background-color: transparent;">
                                 <div class="container text-center">
                                   <%var count=0%>
                                    <div class="row">
                                       
                                       <%entities.forEach(function(entity){%>
                                       <%if(entity.type=="events" &&count<=7){%>
                                       <%count++%>
                                       <div class="col-md-3 ">
                                          <a href="/<%=entity.type%>/<%=entity._id%>" class="m-1">
                                             <div class="tab">
                                                <div class="news-img">
                                                   <img
                                                   src="/files/events/<%=entity.photo%>"
                                                   alt="img" class="" height="175px" width="300px">
                                                </div>
                                             </div>
                                             <br>
                                            <p class="h5 text-left"><%=entity.title%></p>

                                                <h5 class="block-text text-left " style="font-weight: 300; letter-spacing: 1.1px; font-size: 14px !important ; color: #a7a7a7;">
                                                <%-entity.description%>
                                                </h5>
                                             <div class="date-time text-left">
                                                <h1
                                                style="text-transform: uppercase; font-size: 10px;letter-spacing: 4px; word-spacing: 1px; color: #ffffff8c; font-weight: 600">
                                                <%=entity.createdAt.getDate() + "/" + (entity.createdAt.getMonth() + 1) + "/" + entity.createdAt.getFullYear()%></h1>
                                                <p class="float-right" style="font-size:12px;">Read more</p>
                                             </div>
                                          </a>
                                       </div>
                                       <%}})%>
                                    </div>
                                    
                                 </div>
                              </div>
                              <div class="view-more text-md-right pt-1 container">
                                 <a href="/events" class="btn btn-sm btn-outline-secondary">Show More</a>
                              </div>
                           </div>
                           <div id="workshops" class="news-content tab-pane pt-1">
                              <div class=" mt-0" style="background-color: transparent;">
                                 <div class="container text-center">
                                   <%var count=0%>
                                    <div class="row">
                                       
                                       <%entities.forEach(function(entity){%>
                                       <%if(entity.type=="workshops" &&count<=7){%>
                                       <%count++%>
                                       <div class="col-md-3 ">
                                          <a href="/<%=entity.type%>/<%=entity._id%>" class="m-1">
                                             <div class="tab">
                                                <div class="news-img">
                                                   <img
                                                   src="/files/events/<%=entity.photo%>"
                                                   alt="img" class="" height="175px" width="300px">
                                                </div>
                                             </div>
                                             <br>
                                            <p class="h5 text-left"><%=entity.title%></p>

                                                <h5 class="block-text text-left " style="font-weight: 300; letter-spacing: 1.1px; font-size: 14px !important ; color: #a7a7a7;">
                                                <%-entity.description%>
                                                </h5>
                                             <div class="date-time text-left">
                                                <h1
                                                style="text-transform: uppercase; font-size: 10px;letter-spacing: 4px; word-spacing: 1px; color: #ffffff8c; font-weight: 600">
                                                <%=entity.createdAt.getDate() + "/" + (entity.createdAt.getMonth() + 1) + "/" + entity.createdAt.getFullYear()%></h1>
                                                <p class="float-right" style="font-size:12px;">Read more</p>
                                             </div>
                                          </a>
                                       </div>
                                       <%}})%>
                                    </div>
                                    
                                 </div>
                              </div>
                              <div class="view-more text-md-right pt-1 container">
                                 <a href="/workshops" class="btn btn-sm btn-outline-secondary">Show More</a>
                              </div>
                           </div>
                           <div id="notices" class="news-content tab-pane pt-1">
                              <div class=" mt-0" style="background-color: transparent;">
                                 <div class="container text-center">
                                    <%var count=0%>
                                    <div class="row mx-auto">
                                       
                                       <%entities.forEach(function(entity){%>
                                       <%if(entity.type=="notices" &&count<=7){%>
                                       <%count++%>
                                       <div class="col-md-3 m-2">
                                          <a href="/<%=entity.type%>/<%=entity._id%>" class="m-1">
                                             <div class="tab">
                                                <div class="news-img">
                                                   <img
                                                   src="/files/events/<%=entity.photo%>"
                                                   alt="img" class="" height="175px" width="300px">
                                                </div>
                                             </div>
                                             <br>
                                            <p class="h5 text-left"><%=entity.title%></p>

                                                <h5 class="block-text text-left " style="font-weight: 300; letter-spacing: 1.1px; font-size: 14px !important ; color: #a7a7a7;">
                                                <%-entity.description%>
                                                </h5>
                                             <div class="date-time text-left">
                                                <h1
                                                style="text-transform: uppercase; font-size: 10px;letter-spacing: 4px; word-spacing: 1px; color: #ffffff8c; font-weight: 600">
                                                <%=entity.createdAt.getDate() + "/" + (entity.createdAt.getMonth() + 1) + "/" + entity.createdAt.getFullYear()%></h1>
                                                <p class="float-right" style="font-size:12px;">Read more</p>
                                             </div>
                                          </a>
                                       </div>
                                       <%}})%>
                                    </div>
                                    
                                 </div>
                              </div>
                              <div class="view-more text-md-right pt-1 container">
                                 <a href="/notices" class="btn btn-sm btn-outline-secondary">Show More</a>
                              </div>
                           </div>
                           <div id="technology" class="news-content tab-pane pt-1">
                              <div class=" mt-0" style="background-color: transparent;">
                                 <div class="container text-center">
                                    <%var count=0%>
                                    <div class="row mx-auto">
                                       
                                       <%entities.forEach(function(entity){%>
                                       <%if(entity.type=="technology" &&count<=7){%>
                                       <%count++%>
                                       <div class="col-md-3 ">
                                          <a href="/<%=entity.type%>/<%=entity._id%>" class="m-1">
                                             <div class="tab">
                                                <div class="news-img">
                                                   <img
                                                   src="/files/events/<%=entity.photo%>"
                                                   alt="img" class="" height="175px" width="300px">
                                                </div>
                                             </div>
                                             <br>
                                            <p class="h5 text-left"><%=entity.title%></p>

                                                <h5 class="block-text text-left " style="font-weight: 300; letter-spacing: 1.1px; font-size: 14px !important ; color: #a7a7a7;">
                                                <%-entity.description%>
                                                </h5>
                                             <div class="date-time text-left">
                                                <h1
                                                style="text-transform: uppercase; font-size: 10px;letter-spacing: 4px; word-spacing: 1px; color: #ffffff8c; font-weight: 600">
                                                <%=entity.createdAt.getDate() + "/" + (entity.createdAt.getMonth() + 1) + "/" + entity.createdAt.getFullYear()%></h1>
                                                <p class="float-right" style="font-size:12px;">Read more</p>
                                             </div>
                                          </a>
                                       </div>
                                       <%}})%>
                                    </div>
                                    
                                 </div>
                              </div>
                              <div class="view-more text-md-right pt-1 container">
                                 <a href="/technology" class="btn btn-sm btn-outline-secondary">Show More</a>
                              </div>
                           </div>
                           <div id="cultural" class="news-content tab-pane pt-1">
                              <div class=" mt-0" style="background-color: transparent;">
                                 <div class="container text-center">
                                    <%var count=0%>
                                    <div class="row mx-auto">
                                       
                                       <%entities.forEach(function(entity){%>
                                       <%if(entity.type=="cultural" &&count<=7){%>
                                       <%count++%>
                                       <div class="col-md-3">
                                          <a href="/<%=entity.type%>/<%=entity._id%>" class="m-1">
                                             <div class="tab">
                                                <div class="news-img">
                                                   <img
                                                   src="/files/events/<%=entity.photo%>"
                                                   alt="img" class="" height="175px" width="300px">
                                                </div>
                                             </div>
                                             <br>
                                            <p class="h5 text-left"><%=entity.title%></p>

                                                <h5 class="block-text text-left " style="font-weight: 300; letter-spacing: 1.1px; font-size: 14px !important ; color: #a7a7a7;">
                                                <%-entity.description%>
                                                </h5>
                                             <div class="date-time text-left">
                                                <h1
                                                style="text-transform: uppercase; font-size: 10px;letter-spacing: 4px; word-spacing: 1px; color: #ffffff8c; font-weight: 600">
                                                <%=entity.createdAt.getDate() + "/" + (entity.createdAt.getMonth() + 1) + "/" + entity.createdAt.getFullYear()%></h1>
                                                <p class="float-right" style="font-size:12px;">Read more</p>
                                             </div>
                                          </a>
                                       </div>
                                       <%}})%>
                                    </div>
                                    
                                 </div>
                              </div>
                              <div class="view-more text-md-right pt-1 container">
                                 <a href="/cultural" class="btn btn-sm btn-outline-secondary">Show More</a>
                              </div>
                           </div>
                           
                        </div>
                     </div>
                     
                     <!--- end of section 1-->
                     <!--- start of new Section -->
                     <div class="">
                        <div class="banner-holder "
                           style="background-image: url(img/indexpageimg.jpg); padding: 8rem 0rem; background-repeat: no-repeat; background-size: cover;background-attachment: fixed;">
                           <div class="strip p-5" style="background-color: #ffffffb3;">
                              <div class="container">
                                 <div class="tagline text-center">
                                    <h2> <span>We’re a family. <br> A team. A community.</span> </h2>
                                 </div>
                                 <div class="text-center p-2 ">​
                                    <h3 style="font-size: 20px; color: #24445f8c">We stick together. We help each other get to where we
                                    want to go.</h3>
                                 </div>
                                 <br>
                                 <div class="container text-center " style=" width: 100%;">
                                    <a class="btn campus-life-btn-div text-center text-white mt-2" href="/campus-life" style="display: inline-block; width: 30vh;">
                                       
                                             <span>Campus life</span>

                                    </a>
                                    <a class="btn campus-life-btn-div mt-2 text-white" href="/city-life" style="display: inline-block; width: 30vh;">
                                     
                                             <span>City life</span>
                                      
                                    </a>
                                    <a class="btn campus-life-btn-div mt-2 text-white" href="gallery/gallery" style="display: inline-block;width: 30vh;">
                                             <span>Visit</span>
                                    </a>
                                    <br>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--- end of new Section -->
                     <!-- new section start  -->
                     <div class="">
                        <div class="outer-tag" style="overflow-x: hidden;">
                           <div class="row  align-items-center">
                              <div class="col-md-6 p-2 " style="background-color: rgb(0, 140, 149); ">
                                 <div
                                    style=" height: 100px;background-image: url(img/lifecapbg.png);background-size: contain;background-repeat: no-repeat; background-image:  url(img/lifecapbg.png);">
                                 </div>
                                 <div class=" container  mt-3 pb-0">
                                    <div class=" text-white text-center ml-4 mr-4">
                                       <h2 class="display-4">Who we are</h2>
                                       <p class="m-4 " style="font-size: 20px;">Gautam Buddha University, dre1mers become thinke rs, doers,
                                          solvers, travelers, influencers. We help you become more of who you are, and more of who you
                                       want to be.</p>
                                    </div>
                                 </div>
                                 <div style="height: 100px;width: 100%; background-size: contain;background-repeat: no-repeat;background-image:  url(img/lifecapbg.png);background-position-x: right;">
                                 </div>
                              </div>
                              <div class="col-md-6 text-center row align-middle" style="padding: 10px 0px;">
                                 <div class="col-2 ">
                                    <div class="float-right">
                                        <svg class="tcb-icon " viewBox="0 0 30 32"
                                          data-name="quote-left">
                                          <path
                                             d="M13.714 17.143v6.857c0 1.893-1.536 3.429-3.429 3.429h-6.857c-1.893 0-3.429-1.536-3.429-3.429v-12.571c0-5.036 4.107-9.143 9.143-9.143h1.143c0.625 0 1.143 0.518 1.143 1.143v2.286c0 0.625-0.518 1.143-1.143 1.143h-1.143c-2.518 0-4.571 2.054-4.571 4.571v0.571c0 0.946 0.768 1.714 1.714 1.714h4c1.893 0 3.429 1.536 3.429 3.429zM29.714 17.143v6.857c0 1.893-1.536 3.429-3.429 3.429h-6.857c-1.893 0-3.429-1.536-3.429-3.429v-12.571c0-5.036 4.107-9.143 9.143-9.143h1.143c0.625 0 1.143 0.518 1.143 1.143v2.286c0 0.625-0.518 1.143-1.143 1.143h-1.143c-2.518 0-4.571 2.054-4.571 4.571v0.571c0 0.946 0.768 1.714 1.714 1.714h4c1.893 0 3.429 1.536 3.429 3.429z">
                                          </path>
                                       </svg>
                                    </div>

                                 </div>
                                 <div class="col-8 text-center">
                                       <div class="text-center " style=" font-size: 17px;color: rgb(53, 54, 56)">
                                      "The approach of our programmes is secular, egalitarian, and critical, relying on the Buddhist philosophy and its applicability in restoring supremacy of peace, co-existence, and development in totality. With emphasis on the rigorous training and education of our young aspirants, we ensure experiential, experimental and inter-disciplinary learning and research in various fields of studies."
                                       </div>
                                       <div><br><br>
                                          <div class="text-right container">
                                             <p>:-
                                                <i> 
                                                Prof. Bhagwati Prakash Sharma <br>
                                                Vice-Chancellor
                                                </i>
                                             </p>
                                          </div>
                                       </div>
                                 </div>
                                 <div class="col-2 ">
                                    <div class="float-left">
                                    <svg class="tcb-icon" viewBox="0 0 26 28"
                                          data-name="quote-right">
                                          <path
                                             d="M12 5v11c0 4.406-3.594 8-8 8h-1c-0.547 0-1-0.453-1-1v-2c0-0.547 0.453-1 1-1h1c2.203 0 4-1.797 4-4v-0.5c0-0.828-0.672-1.5-1.5-1.5h-3.5c-1.656 0-3-1.344-3-3v-6c0-1.656 1.344-3 3-3h6c1.656 0 3 1.344 3 3zM26 5v11c0 4.406-3.594 8-8 8h-1c-0.547 0-1-0.453-1-1v-2c0-0.547 0.453-1 1-1h1c2.203 0 4-1.797 4-4v-0.5c0-0.828-0.672-1.5-1.5-1.5h-3.5c-1.656 0-3-1.344-3-3v-6c0-1.656 1.344-3 3-3h6c1.656 0 3 1.344 3 3z">
                                          </path>
                                       </svg>
                                    </div>
                                 </div>
                                 
                              </div>
                           </div>
                        </div>
                    </div>
                        <!-- end New section -->
                        <!--- start of new section -->
                       <!--  <div class="py-3" id="section-events">
                           <div class="container py-3">
                              <div class="mx-auto text-center" id="">
                                 <h1 style="font-weight: 600 ; font-size: 40px; color: #fff" class="py-2">Events</h1>
                                 <h6 style="color: #fff;" class="py-1">Events happening across campus</h6>
                              </div>
                              <div class="row py-3">
                                 <div class="col-lg-3 col-md-4 col-12">
                                    <div class="card shadow border-0" id="events-card">
                                       <img src="img/gautambuddha2.jpg" class="events-img" width="100%">
                                       <h6 class="card-text pl-3 pt-2" id="events-card-title">Date and time</h6>
                                       <div class="card-body pt-0" id="events-card-body">
                                          <h5>Demo heading</h5>
                                          <p>asdasdhaksjd as ths is bacically nothing. you should do something interesting.</p>
                                          <button class="btn btn-outline-primary btn-sm">Read More</button>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-3 col-md-4 col-12">
                                    <div class="card shadow border-0" id="events-card">
                                       <img src="img/gautambuddha2.jpg" class="events-img" width="100%">
                                       <h6 class="card-text pl-3 pt-2" id="events-card-title">Date and time</h6>
                                       <div class="card-body pt-0" id="events-card-body">
                                          <h5>Title Heading</h5>
                                          <p>asdasdhaksjd as ths is bacically nothing. you should do sdasdasdas g sf gdf dfgf gd fg dfg d
                                          fg df gd fgsomething interesting.</p>
                                          <button class="btn btn-outline-primary btn-sm">Read More</button>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-3 col-md-4 col-12">
                                    <div class="card shadow border-0" id="events-card">
                                       <img src="img/gautambuddha2.jpg" class="events-img" width="100%">
                                       <h6 class="card-text pl-3 pt-2" id="events-card-title">Date and time</h6>
                                       <div class="card-body pt-0" id="events-card-body">
                                          <h5>Title Heading</h5>
                                          <p>asdasdhaksjd as ths is bacically nothing. asdas sdf sdfs dfgdfgd f you should do something
                                          interesting.</p>
                                          <button class="btn btn-outline-primary btn-sm">Read More</button>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-3 col-md-4 col-12">
                                    <div class="card shadow border-0" id="events-card">
                                       <img src="img/gautambuddha2.jpg" class="events-img" width="100%">
                                       <h6 class="card-text pl-3 pt-2" id="events-card-title">Date and time</h6>
                                       <div class="card-body pt-0" id="events-card-body">
                                          <h5>Title Heading</h5>
                                          <p>asdasdhaksjd as ths is bacically nothing. you should do something interesting.</p>
                                          <button class="btn btn-outline-primary btn-sm">Read More</button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div> -->
                        <!-- end of new section -->
                        <div id="section2">
                           <!-- section 2 -->
                           <div class="container py-3">
                              <header class="mx-auto text-center pt-3" id="">
                                 <h1 style="font-weight: 700 ; font-size: 40px" class="py-2">University Schools</h1>
                                 <!-- <h6>Lorem Ipsem is here</h6> -->
                              </header>
                              <div>
                                 <div class="row py-3 text-center">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                                       <a href="/schools/som">
                                          <img src="img/schools/management_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                                          <div class="card-img-overlay">
                                             <h6 class="card-text">Management</h6>
                                          </div>
                                       </a>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                                       <a href="/schools/soict">
                                          <img src="img/schools/ict_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                                          <div class="card-img-overlay">
                                             <h6 class="card-text">Information & Communication Technology</h6>
                                          </div>
                                       </a>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                                       <a href="/schools/soe">
                                          <img src="img/schools/engine_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                                          <div class="card-img-overlay">
                                             <h6 class="card-text">Engineering</h6>
                                          </div>
                                       </a>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                                       <a href="/schools/sovs">
                                          <img src="img/schools/vocational_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                                          <div class="card-img-overlay">
                                             <h6 class="card-text">Vocational Studies & Applied Sciences</h6>
                                          </div>
                                       </a>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                                       <a href="/schools/sob">
                                          <img src="img/schools/biotech_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                                          <div class="card-img-overlay">
                                             <h6 class="card-text">Biotechnology</h6>
                                          </div>
                                       </a>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                                       <a href="/schools/sobs">
                                          <img src="img/schools/buddhist_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                                          <div class="card-img-overlay">
                                             <h6 class="card-text">Buddhist Studies & Civilization</h6>
                                          </div>
                                       </a>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                                       <a href="/schools/soh">
                                          <img src="img/schools/humanities_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                                          <div class="card-img-overlay">
                                             <h6 class="card-text">Humanities & Social Sciences</h6>
                                          </div>
                                       </a>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                                       <a href="/schools/soljg">
                                          <img src="img/schools/law_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                                          <div class="card-img-overlay">
                                             <h6 class="card-text">Law, Justice & Governance</h6>
                                          </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

<%include footer%>