<%include header%>
      <!--nav bar section end here -->
      <!-- sliding banner start from here -->
      <div class="container">
         <div class="row">
            <div class="col-12 p-0">
               <div id="demo" class="carousel slide shadow carousel-fade" data-ride="carousel">
                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                     <li data-target="#demo" data-slide-to="0" class="active"></li>
                     <li data-target="#demo" data-slide-to="1"></li>
                     <li data-target="#demo" data-slide-to="2"></li>
                     <li data-target="#demo" data-slide-to="3"></li>
                     <li data-target="#demo" data-slide-to="4"></li>
                     <li data-target="#demo" data-slide-to="5"></li>
                  </ul>
                  <!-- The slideshow -->
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <img src="./img/yogiingbu.jpg" id="fill" width="100%">
                        <div class="carousel-caption">
                           <h1>Title</h1>
                           <p>This is the place or description</p>
                        </div>
                     </div>
                     <div class="carousel-item ">
                        <img src="./img/gautambuddhauniversity123.jpg" id="fill" width="100%">
                        <div class="carousel-caption">
                           <h1>Title</h1>
                           <p>This is the place or description</p>
                        </div>
                     </div>
                     <div class="carousel-item ">
                        <img src="./img/yogiingbu2.jpg" id="fill" width="100%">
                        <div class="carousel-caption">
                           <h1>Title</h1>
                           <p>This is the place or description</p>
                        </div>
                     </div>
                     <div class="carousel-item ">
                        <img src="./img/wall1.png" id="fill" width="100%">
                        <div class="carousel-caption">
                           <h1>Title</h1>
                           <p>This is the place or description</p>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <img src="./img/banner1.png" id="fill" width="100%">
                        <div class="carousel-caption">
                           <h1>Title</h1>
                           <p>This is the place or description</p>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <img src="./img/banner3.png" id="fill" width="100%">
                        <div class="carousel-caption">
                           <h1>Title</h1>
                           <p>This is the place or description</p>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <img src="./img/banner5.png" id="fill" width="100%">
                        <div class="carousel-caption">
                           <h1>Title</h1>
                           <p>This is the place or description</p>
                        </div>
                     </div>
                  </div>
                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <!-- sliding banner start from here -->
      <!-- home content section start from here -->
      <div class="py-5 container m-auto" id="section1">
         <div class="mx-auto text-center py-3" id="header-section-1">
            <h1 style="font-weight: 700 ; font-size: 40px;" class="py-2">GBU Today</h1>
            <h5>The latest from GBU</h5>
         </div>
         <div>
            <div class="row py-3">
               <div class="col-lg-3 col-10 m-auto p-1">
                  <div class="card shadow overflow-auto m-auto border-0" id="section1-card">
                     <div class="card-header text-center p-2" id="section1-card-header1"><i class="fa fa-calendar"></i><br> News</div>
                     <div class="card-body overflow-auto" id="section1-card-body">
                        <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="2">
                            <%entities.forEach(function(entity){%> 
                      <%if(entity.type=='news'){%>
                        <a href="/news/<%=entity._id%>"><p><%=entity.title%></p></a>
                        <% }})%>
                        </marquee>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-12 m-auto " id="section1-carousel">
                  <div id="demo" class="carousel slide shadow" data-ride="carousel">
                     <!-- Indicators -->
                     <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                     </ul>
                     <!-- The slideshow -->
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <img src="./img/campuslife3.jpg" class="img-fluid" width="100%" height="400">
                        </div>
                        <div class="carousel-item">
                           <img src="./img/campuslife2.jpg" class="img-fluid" width="100%" height="400">
                        </div>
                        <div class="carousel-item">
                           <img src="./img/campuslife4.jpg" class="img-fluid" width="100%" height="400">
                        </div>
                     </div>
                     <!-- Left and right controls -->
                     <a class="carousel-control-prev" href="#demo" data-slide="prev">
                     <span class="carousel-control-prev-icon"></span>
                     </a>
                     <a class="carousel-control-next" href="#demo" data-slide="next">
                     <span class="carousel-control-next-icon"></span>
                     </a>
                  </div>
               </div>
               <div class="col-lg-3 col-10 m-auto p-1">
                  <div class="card shadow overflow-auto m-auto border-0" id="section1-card">
                     <div class="card-header text-center p-2" id="section1-card-header2"><i class="fa fa-university"></i><br>Notices</div>
                     <div class="card-body overflow-auto" id="section1-card-body">
                        <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                           <%entities.forEach(function(entity){%> 
                      <%if(entity.type=='notices'){%>
                        <a href="/notices/<%=entity._id%>"><p><%=entity.title%></p></a>
                        <% }})%>
                        </marquee>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--- end of section 1-->
      <!--- start of new Section -->
      <!--- end of new Section -->
      <!--- start of new section -->
      <div class="py-3" id="section-events">
         <div class="container py-3">
            <div class="mx-auto text-center" id="">
               <h1 style="font-weight: 600 ; font-size: 40px; color: #fff" class="py-2">Events</h1>
               <h6 style="color: #fff;" class="py-1">Events happening across campus</h6>
            </div>
            <div class="row py-3">
               <%entities.forEach(function(entity){%> 
               <%if(entity.type=='events'){%>
               <div class="col-lg-3 col-md-4 col-12">
                  <div class="card shadow border-0" id="events-card">
                     <%if(entity.filetype=="image/jpeg"||entity.filetype=="image/png"||entity.filetype=="image/jpg"||entity.filetype=="image/gif"){%>
                     <img src="/files/events/<%=entity.filename%>" class="events-img" width="100%" height="150px">
                     <%}else if(entity.filetype=="video/mkv"||entity.filetype=="video/x-matroska"||entity.filetype=="video/mp4"||entity.filetype=="video/mp3"){%>
                     <video width="100%" height="150px" controls>
                     <source src="/files/events/<%=entity.filename%>" type="<%=entity.filetype%>">
                     </video>
                     <%}else{%>
                     <img src="./img/placeholder-pdf.svg" class="events-img py-3" width="100%" height="150px">
                     <%}%>
                     <h6 class="card-text pl-3 pt-2" id="events-card-title"><%=entity.createdAt.getDate() + "/" + (entity.createdAt.getMonth() + 1) + "/" + entity.createdAt.getFullYear()%></h6>
                     <div class="card-body pt-0" id="events-card-body">
                        <h5><%=entity.title%></h5>
                        <%if(entity.description.split(" ").length>10){%>
                        <p><%=entity.description.split(" ").splice(0,10).join(" ")%></p>
                        <%}else{%>
                        <p><%=entity.description%></p>
                        <%}%>
                        <a href="/events/<%=entity._id%>"><button class="btn btn-outline-success btn-sm">Read More</button></a>
                     </div>
                  </div>
               </div>
                    <% }})%>
            </div>
         </div>
      </div>
      <!-- end of new section -->
      <div id="section2">
         <!-- section 2 -->
         <div class="container py-3" >
            <header class="mx-auto text-center pt-3" id="">
               <h1 style="font-weight: 700 ; font-size: 40px" class="py-2">Schools</h1>
               <h6>Lorem Ipsem is here</h6>
            </header>
            <div>
               <div class="row py-3 text-center">
                  <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                     <a href="/schools/som">
                  <img src="./img/schools/management_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                     <div class="card-img-overlay">
                        <h6 class="card-text">Management</h6>
                     </div>
                  </a>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                     <a href="/schools/soict">
                     <img src="./img/schools/ict_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                     <div class="card-img-overlay">
                        <h6 class="card-text">Information & Communication Technology</h6>
                     </div>
                  </a>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                     <a href="/schools/soe">
                     <img src="./img/schools/engine_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                     <div class="card-img-overlay">
                        <h6 class="card-text">Engineering</h6>
                     </div>
                  </a>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                     <a href="/schools/sovs">
                     <img src="./img/schools/vocational_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                     <div class="card-img-overlay">
                        <h6 class="card-text">Vocational Studies & Applied Sciences</h6>
                     </div>
                  </a>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                     <a href="/schools/sob">
                     <img src="./img/schools/biotech_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                     <div class="card-img-overlay">
                        <h6 class="card-text">Biotechnology</h6>
                     </div>
                  </a>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                     <a href="/schools/sobs">
                     <img src="./img/schools/buddhist_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                     <div class="card-img-overlay">
                        <h6 class="card-text">Buddhist Studies & Civilization</h6>
                     </div>
                  </a>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                     <a href="/schools/soh">
                     <img src="./img/schools/humanities_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                     <div class="card-img-overlay">
                        <h6 class="card-text">Humanities & Social Sciences</h6>
                     </div>
                  </a>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-6 p-3 img-hover-zoom">
                     <a href="/schools/soljg">
                     <img src="./img/schools/law_school.jpg" class="card-img-top img-fluid shadow" width="100%">
                     <div class="card-img-overlay">
                        <h6 class="card-text">Law, Justice & Governance</h6>
                     </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--- end of section 2-->
      <!-- section 4 -->
      <section class=" py-5" id="section4">
         <div class="text-center">
            <h1 style="font-weight: 700 ; font-size: 40px; color: #010327">Clubs</h1>
            <h5>Over 12 clubs and societies covering a wide variety of interests available</h5>
         </div>
         <div class="container carousel slide carousel-fade " data-ride="carousel" id="postsCarousel">
            <div class="container text-right px-5 py-3">
               <a class="btn btn-outline-danger text-danger prev" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
               <a class="btn btn-outline-danger text-danger next" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
            </div>
            <div class=" p-t-0 m-t-2 carousel-inner text-center">
               <div class="carousel-item active m-t-0">
                  <div class="row">
                     <div class="col-md-4 col-12 mb-4">
                        <div class="card border-0" id="clubs-cards">
                           <div class="card-img-top card-img-top-250">
                              <img class="img-fluid" src="img/club/dance.jpg" alt="Carousel 1">
                           </div>
                           <div class="card-block p-3">
                              <h5 class="medium text-danger p-b-2">Dance Club</h5>
                              <p class="pt-0">
                                 <a style="color: #000; text-decoration:none" href="clubs/dance_club.html">Highlight the talent of dance and creativity.</a>
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-12 mb-4">
                        <div class="card border-0" id="clubs-cards">
                           <div class="card-img-top card-img-top-250">
                              <img class="img-fluid" src="img/club/techno.jpg" alt="Carousel 2">
                           </div>
                           <div class="card-block p-3">
                              <h5 class="medium text-danger p-b-2">Techno Club</h5>
                              <p class="pt-0">
                                 <a style="color: #000; text-decoration:none" href="clubs/techno_club.html">Updating the students’ knowledge on technologies.</a>
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-12 mb-4">
                        <div class="card border-0" id="clubs-cards">
                           <div class="card-img-top card-img-top-250">
                              <img class="img-fluid" src="img/club/meditation.jpg" alt="Carousel 3">
                           </div>
                           <div class="card-block p-3">
                              <h5 class="medium text-danger p-b-2">Meditation Club</h5>
                              <p class="pt-0">
                                 <a style="color: #000; text-decoration:none"  href="clubs/meditation_club.html">Make living a more mindful and skillful life</a>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                <div class="carousel-item">
                  <div class="row">
                     <div class="col-md-4 col-12 mb-4">
                        <div class="card border-0" id="clubs-cards">
                           <div class="card-img-top card-img-top-250">
                              <img class="img-fluid" src="img/club/nature.jpg" alt="Carousel 1">
                           </div>
                           <div class="card-block p-3">
                              <h5 class="medium text-danger p-b-2">Nature's Club</h5>
                              <p class="pt-0">
                                 <a style="color: #000; text-decoration:none"  href="clubs/music_club.html">To inculcate love and respect for nature.</a>
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-12 mb-4">
                        <div class="card border-0" id="clubs-cards">
                           <div class="card-img-top card-img-top-250">
                              <img class="img-fluid" src="img/club/audio.jpg" alt="Carousel 2">
                           </div>
                           <div class="card-block p-3">
                              <h5 class="medium text-danger p-b-2">Vox Pop Club</h5>
                              <p class="pt-0">
                                 <a style="color: #000; text-decoration:none"  href="clubs/social_service_club.html"> Supports learning by providing innovative education.</a>
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-12 mb-4">
                        <div class="card border-0" id="clubs-cards">
                           <div class="card-img-top card-img-top-250">
                              <img class="img-fluid" src="img/club/literary.jpg" alt="Carousel 3">
                           </div>
                           <div class="card-block p-3">
                              <h5 class="medium text-danger p-b-2">Literary Club</h5>
                              <p class="pt-0">
                                 <a style="color: #000; text-decoration:none" href="clubs/dishayan_club.html">Building a responsible student
      community, sensitive to the culture.</a>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="row">
                     <div class="col-md-4 col-12 mb-4">
                        <div class="card border-0" id="clubs-cards">
                           <div class="card-img-top card-img-top-250">
                              <img class="img-fluid" src="img/club/music.jpg" alt="Carousel 10">
                           </div>
                           <div class="card-block p-3">
                              <h5 class="medium text-danger p-b-2">Music Club</h5>
                              <p class="pt-0">
                                 <a style="color: #000; text-decoration:none" href="clubs/music_club.html">Focused to share and express through different flavors of music.</a>
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-12 mb-4">
                        <div class="card border-0" id="clubs-cards">
                           <div class="card-img-top card-img-top-250">
                              <img class="img-fluid" src="img/club/social.jpg" alt="Carousel 2">
                           </div>
                           <div class="card-block p-3">
                              <h5 class="medium text-danger p-b-2">Social Service Club</h5>
                              <p class="pt-0">
                                 <a style="color: #000; text-decoration:none"  href="clubs/social_service_club.html"> Involve in social and spiritual activities for students.</a>
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-12 mb-4">
                        <div class="card border-0" id="clubs-cards">
                           <div class="card-img-top card-img-top-250">
                              <img class="img-fluid" src="img/club/drama.jpg" alt="Carousel 3">
                           </div>
                           <div class="card-block p-3">
                              <h5 class="medium text-danger p-b-2">Dramatics Club</h5>
                              <p class="pt-0">
                                 <a style="color: #000; text-decoration:none"  href="clubs/dishayan_club.html">Developing the groups acting skills in a fun & safe environment.</a>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="row">
                     <div class="col-md-4 col-12 mb-4">
                        <div class="card border-0" id="clubs-cards">
                           <div class="card-img-top card-img-top-250">
                              <img class="img-fluid" src="img/club/photography.jpg" alt="Carousel 1">
                           </div>
                           <div class="card-block p-3">
                              <h5 class="medium text-danger p-b-2">Photography Club</h5>
                              <p class="pt-0">
                                 <a style="color: #000; text-decoration:none" href="clubs/photography_club.html">Provide an environment for students to share their passion of photography.</a>
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-12 mb-4">
                        <div class="card border-0" id="clubs-cards">
                           <div class="card-img-top card-img-top-250">
                              <img class="img-fluid" src="img/club/debate.jpg" alt="Carousel 2">
                           </div>
                           <div class="card-block p-3">
                              <h5 class="medium text-danger p-b-2">Debate Club</h5>
                              <p class="pt-0">
                                 <a style="color: #000; text-decoration:none" href="clubs/dhritikon.html">Improving personal and professional attributes and skills of students.</a>
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-12 mb-4">
                        <div class="card border-0" id="clubs-cards">
                           <div class="card-img-top card-img-top-250">
                              <img class="img-fluid" src="img/club/painting.jpg" alt="Carousel 3">
                           </div>
                           <div class="card-block p-3">
                              <h5 class="medium text-danger p-b-2">Art/Painting Club</h5>
                              <p class="pt-0">
                                 <a style="color: #000; text-decoration:none" href="clubs/art_painting_club.html">Dedicated to provide the opportunities for painting.</a>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <%include footer%>