<%include header%>
<div class="site-wrap">
        <%include faculty_head%>
                    
        <div class="jumbotron mt-0 pt-0">
            <div class="container">
                <div class="row text-left">

                       <%include faculty_nav%>

                    <div class="col-md-9">
                        <div id="maincontent">
                            <div class="roundbannertop"><div></div></div>
                        <div id="content">
                            <div class="font-weight-normal" style="color: #ffff; background-color:#78335d; padding: 5px 0px; ">
                                <h5 class="ml-3">Ph.D Students</h5>
                            </div>
                                 
                                <p align = "justify">
                                          
                                       <%-faculty.phd_students%>
                                    
                                </p><br>

                            <div class="font-weight-normal" style="color: #ffff; background-color:#78335d; padding: 5px 0px; ">
                               <h5 class="ml-3">MTech & BTech Students</h5>
                            </div>
                                    
                                    <p align = "justify">
                                          
                                       
                                       <%-faculty.m_b_tech_students%>
                                    
                                    
                                </p><br>

                            <div class="font-weight-normal" style="color: #ffff; background-color:#78335d; padding: 5px 0px; ">
                                <h5 class="ml-3">Graduated Students</h5>
                            </div>   
                                
                                <p align = "justify">
                                          
                                       
                                       <%-faculty.graduated_students%>
                                    
                                    
                                </p><br>

                             <div class="font-weight-normal" style="color: #ffff; background-color:#78335d; padding: 5px 0px; ">
                                <h5 class="ml-3">Research Assistants</h5>
                            </div>
                                <p align = "justify">
                                          
                                       
                                       <%-faculty.research_assistants%>
                                    
                                    
                                </p><br>
                            <div class="font-weight-normal" style="color: #ffff; background-color:#78335d; padding: 5px 0px; ">
                                <h5 class="ml-3">Summer Interns</h5>
                            </div>

                                <p align = "justify">
                                          
                                       
                                       <%-faculty.summer_interns%>
                                    
                                    
                                </p><br>
                                 
                            <div class="font-weight-normal" style="color: #ffff; background-color:#78335d; padding: 5px 0px; ">
                                <h5 class="ml-3">Independent Studies and Projects</h5>
                            </div>
                                    
                                <p align = "justify">
                                          
                                       
                                       <%-faculty.independent_studies%>
                                    
                                    
                                </p><br>

                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <%include footer%>