<!doctype html>
<html lang="en">
  <head>

    <title>GBU</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../schools/css/style.css">
     <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins:400,500|Source+Sans+Pro&display=swap" rel="stylesheet">
  </head>
  <body>
    
   <div class="header sticky-top">

      <div class="global-header">
        
        <div class="back-to-home justify-content-center">
          <nav class="navbar shadow py-1" id="top-navigation">
            <div class="container">
              <a class="navbar-brand float-left" href="/"><img src="../../img/logo_gbu.png" id="gbu-logo" class="logo ">
                <h5 class="px-2 my-auto" id="gbu-name">Gautam Buddha University</h5>
              </a>
              <form class="form-inline my-1 my-lg-0 d-none d-lg-block">
                <div class="container">
                  <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
          </nav>
        </div>
        <nav class="navbar shadow navbar-expand-lg navbar-bgcolor">
          <div class="container px-3 my-3">

            <a class="navbar-brand my-auto" href="/schools/sobs">
              <div class="row">
                <div class="col" id="col-college-name-1">
                  <div class="row justify-content-end">
                    <h5 class="my-auto" id="college-name-1">University</h5>
                  </div> 
                  <div class="row justify-content-end">
                  <h5 class="my-auto " id="college-name-1">School of</h5>
                  </div>
                </div>
                <div class="col my-auto">
                  <h5 class="my-auto float-right" id="college-name-2">Buddhism</h5>
                </div>
              </div>
              
            </a>

            <button class="navbar-toggler collapsed my-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
              <span ><i class="fa fa-bars"></i></span>
            </button>

            <div class="navbar-collapse collapse" id="collapsibleNavbar">
              <ul class="nav ml-auto text-center justify-content-center" id="nav-tabs" role="tablist">
                <li class="nav-item active"><a href="#home-tab" class="nav-link" data-toggle="tab" role="tab">Home</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"id="navbardrop" data-toggle="dropdown" href="">About Us</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#about-overview-tab" data-toggle="tab">Overview</a>
                    <a class="dropdown-item" href="#deanmsg-tab" data-toggle="tab">Dean's Message</a>     
                    <a class="dropdown-item" href="#programs-tab" data-toggle="tab">Programs</a>
                    <a class="dropdown-item" href="#contactus-tab" data-toggle="tab">Contact Us</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Placements</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#placements-overview-tab" data-toggle="tab">Overview</a>     
                    <a class="dropdown-item" href="#placement-helpdesk-tab" data-toggle="tab">Placement Helpdesk</a>
                  </div>
                </li>
                <li class="nav-item"><a href="#faculty-tab" class="nav-link" data-toggle="tab">Faculty</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Research & Training</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#research-publications" data-toggle="tab">Research & Publications</a>
                    <a class="dropdown-item" href="#training-consultancy" data-toggle="tab">Training & Consultancy</a>
                  </div>
                </li>
              </ul>               
            </div>
          </div>  
        </nav>
      </div>  
    </div>

    <div class="tab-content" id="nav-tabcontent">
      <div class="tab-pane active" id="home-tab" role="tabpanel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img  width="100%" id="fill-image" src="../img/banner1.png" alt="First slide">
            </div>
            <div class="carousel-item">
              <img  width="100%" id="fill-image" src="../img/banner5.png" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img  width="100%" id="fill-image" src="../img/banner3.png" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="my-5">
          <div class="container">
            <div class="jumbotron">
              <h1 class="text-center">School of Buddhist Studies and Civilization</h1>
              <br>
              <p class="text-justify">The School of Buddhist Studies and Civilization is oriented to invigorate the academic excellence in the field of Buddhism. Its aim is to strengthen the traditional knowledge of Buddhism as well as engaging its virtues and principles for humanity. Buddhism is a growing force in the world with a hope to provide sustainable alternative for progress and peace. In recent years there has been a tremendous upsurge of interest in the investigation of religions to discover, interpret, and solve ongoing calamities and miseries of the world. As a consequence of this development, interest and study of Buddhism are no longer restricted to believers and academics but also has attracted wider participation by people in many other fields and religious backgrounds. This has in turn produced an even richer pool of talent and knowledge that will enrich serious Buddhist studies. In line with this trend, the School of Buddhist Studies and Civilization of Gautam Buddha University was established in 2011 to promote the study and research into all aspects of Buddhism and its relevance in the world. Here, it is imperative to mention that probably this is the only University in India where this discipline is started as a Faculty/School. Since 2012-2013, the School has been offering a broad range of Buddhist studies programmes viz. postgraduate (M. A.) and research (M. Phil. / Ph. D.). After the getting a good response, School has introduced under graduate programme during the academic session 2014-2015 i.e. Integrated [B. A. (Hons.) + M. A.] Five Years programme of Ten (10) Semesters with exit option after completion of B. A. (Hons.) or Three Years or Six (6) Semesters. Our courses covering social application, Indian Buddhism, Chinese Buddhism, Buddhist Canonical languages, Buddhist Meditation and others are taught by a team of renowned Buddhist scholars from all over India. The School has also started a course on Buddhist Meditation at Jyotiba Phule Dhyana Kendra of the University under the supervision of the faculty of our School since 2012. 
              </p>
            </div>
          </div>
        </div>
            
        <div class="my-5">
          <div class="container py-5">
              <h1 class="text-center">Updates</h1>
          </div>      
          <div class="row container mx-auto mb-5">
            <div class="container-fluid col-md-4 my-2">
              <div class="card" id="card-height">
                <div class="card-header text-center">News</div>
                <div class="card-body">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3"> 
                    <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='news'){%>
                    <a href="/schools/sobs/news/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
            <div class="container-fluid col-md-4 my-2">
              <div class="card" id="card-height">
                <div class="card-header text-center">Events</div>
                <div class="card-body">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3"> 
                    <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='events'){%>
                    <a href="/schools/sobs/events/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>                     
            <div class="container-fluid col-md-4 my-2">
              <div class="card" id="card-height">
                <div class="card-header text-center">Notices</div>
                <div class="card-body">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3"> 
                   <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='notices'){%>
                    <a href="/schools/sobs/notices/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
          </div>
        </div>
        <header class="py-3 mx-auto">
          <h1 id="photo-galary-header" class="pt-3">Photo Gallery</h1>
        </header>
            <!-- carousel  ------>
              <div class="container my-3 pb-5">
                <div id="demo" class="carousel slide" data-ride="carousel">
                        
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="../schools/img/sobs/buddhism.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/sobs/buddhism1.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/sobs/buddhism2.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/sobs/buddhism3.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/sobs/buddhism4.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/sobs/buddhism5.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/sobs/buddhism6.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/sobs/buddhism7.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/sobs/buddhism8.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                        </div>
                        
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div> 
              </div>
        </div>

      <div class="tab-pane fade" id="about-overview-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron p-5">
              <h1 class="text-center">Overview</h1>
              <br>
              <p>The School of Buddhist Studies and Civilization is a consequential nucleus for the academic research and discourses leading to the promotion of peace and harmony guided by Buddhist Ethics and human values. The very quintessence of Buddhist Ethics and its practices in global world are torn apart by conflict, hatred, and violence and thus have lost its due recognition. Therefore, the research and practices carried out at School reinforces respect for the Buddhist tradition and appreciation for its benevolent values and profound spiritual emancipation. The research and other programmes offered in School intertwined together the diverse theories in Buddhism and its expressions in our day to day life, mediating a meaningful inclusion of Buddhist values in our cultural, social, and intellectual assumptions. It stands out as an effort to revitalize the Buddhist ethics and practices which find immense significance in the modern context. The school encourages comparative study of Buddhism vis-à-vis other major world religions and their philosophies with an attempt to understand how the various Buddhist movements across the world have helped the societies in their emergence, for instance the Dalit Movement in India. It also facilitates researches aimed at finding ways of resolving national and international conflicts and disputes through the application of Buddhist principles and values. With a rich and magnificent collection in our library, a marvellous meditation centre and a conducive and tranquil lush green campus, the School promises a very productive academic engagement and practice of Buddhist techniques of Vipassana under qualified supervision. In addition to the above, the School provides an ideal forum for cross-cultural, interfaith and intellectual dialogues of scholars through conventions, symposia, seminars, conferences, lectures, etc. The School promotes academic collaboration, joint research programmes and faculty and student exchange programmes with academic institutions of repute dedicated to Buddhist Studies in the World. In order to do so, last year i.e. 2013, School has signed a Memorandum of Understanding (MoU) with Dhammachai International Research Institute (DIRI) based in Bangkok, Thailand, New Zealand, and Australia.
              </p>
              <div class="collapse" id="more-content">
                <p class="text-justify">The School of Buddhist Studies and Civilization oversees a variety of research programs, scholarly events, and outreach activities, often in collaboration with units on and off campus. Activities include a colloquium series, conferences, a visiting scholar program, etc. The School is dedicated to promoting and supporting scholarship in Buddhist Studies in a spirit of non-sectarian tolerance, scientific research and communication as preeminent objectives. It seeks to promote the academic study, and teaching of all aspects of Buddhist thought, practice, social, economic, human rights, animal right, global issues of concern including historical interactions with Buddhist developments in South, East, and Central Asia. The Gautam Buddha University started it academic activities in 2009 but academic activities of this School started since November 2011 with appointment of eleven faculty members. The faculty members have prepared course structure form M. A., M. Phil., Ph. D. along with two mandatory papers of Human Values and Buddhist Ethics for UG and PG students of the University. The School has started Ph.D. programme for academic session 2011-2012 (Even Semester). During the academic session 2012-2013 the School invited application for M.A., M. Phil. and Ph.D. programmes. The USP of this school is its international students whose number is as much as almost 90% of total enrolment. At present, the total strength of school is approximately 120. One batch (2012-2014) of M. A and two Batches (2012-2013 & 2013-2014) have already completed their programme out of which some of them are still registered in M. Phil. and Ph. D. programmes of the School. Another Batch (2013-2015) of 17 MA programme is about to complete their programme. Last year i.e. during academic session 2014-2015 school has admitted 35 students in MA programme out of which 33 are foreign nationals and in M. Phil. programme 23 out of which 27 are foreign nationals.
                </p>
                <br>
                <h5>What all we offer:</h5>
                <p class="text-justify">The programme is intended for students, monks, nuns, teachers, psychologists, social workers and counsellors who want to study how Buddhist teachings add a new dimension to the science of human psyche and how they are applied to their daily work. It is also for individuals who are interested in the philosophy of life and want to study Buddhism and its practice as a means for spiritual development in a comprehensive and scientific way. We believe that our programmes of studies offer a new dimension on the study of Buddhism. The traditional approach of study was based on learning religious texts and commentaries and was largely conducted in monasteries and specialized institutes. Our programmes go far beyond this by offering new perspectives on many other areas not traditionally associated with the study of the religion. The programmes will offer students the opportunity to study Buddhism not only as a religion but also as a philosophy, an ethics system and in metaphysical terms. They will also be of interest to those who wish to learn more about the international academic research being carried out into the relationship between science and Buddhism. Through a fundamental understanding of Buddhist teachings, the programmes will enable students to develop better mind and life-management skills. The courses provide you with a step by step approach that gently leads students through an overview of the world of Buddhism. The program focuses on the study of canonical and post-canonical languages and literature of the Buddhist tradition. Therefore, successful completion of the program requires extensive language and textual study. The program offers a concentration in South Asian Buddhism with the relevant languages (Sanskrit, Pali, Gandhari, and Chinese). Related courses in disciplines other than language and literature, such as cultural anthropology, history, philosophy, religion, and ethnomusicology, constitute an important part of the program, and students will normally take courses in these disciplines. In particular, our Master of Buddhist Studies & Civilization Programme (M. A.) and postgraduate research programme leading to the award of M. Phil. and Ph. D. degrees provide participants with the opportunity to explore how Buddhist teachings may add a new dimension to the science of the human psyche and how their application may enhance effectiveness in their personal and professional lives. We believe that India uniquely combines an Eastern culture and tradition with all the dynamism of an ultra-modern and cosmopolitan society and therefore provides the perfect setting for an academic centre that offers Buddhist studies set firmly in an international context.
                </p>
                <p>The specific program of courses will be worked out on an individual basis between the student and faculty. Prospective students should consult with the Dean/Head of Department of the School (Foreign nationals are advised to consult Director, International Affairs). The School offers following programmes:
                </p>
                <ul>
                  <li>At Graduate Level:</li>
                    <p>[B. A. (Hons.) + M. A.] Five Years programme with exit option after completion of B. A. (Hons.) or Three Years</p>
                  <br>
                  <li>At Post Graduate Level:</li>
                    <p>M. A. (Master of Arts)</p>
                  <br>
                  <li>At Pre-Doctoral Level:</li>
                    <p>M. Phil. (Master of Philosophy)</p>
                  <br>
                  <li>At Doctoral/Research Level:</li>
                    <p>Ph. D. (Doctoral of Philosophy)</p>
                  <br>
                </ul>
              </div>
              <a href="#more-content" class="float-right" data-toggle="collapse"><i class="fa fa-plus"></i></a>
            </div>
          </div>
      </div>

      <div class="tab-pane fade" id="deanmsg-tab" role="tabpanel">
          <div class="container py-3">
            <div class="card">
              <div class="row ">
                <div class="col-md-3">
                    <center><img src="../schools/img/soljg/sksingh.png" class="w-100"  id="card-image">
                    </center>
                    <h4 class="text-center py-3">Dean's Message</h4>
                </div>
                <div class="col-md-9 p-4 my-auto">
                  <div class="card-block px-3">
                    
                    <p class="card-text">The School of Buddhist Studies & Civilization welcomes all the students and academia. The School has been set up with a vision to produce the erudite scholars and distinguished researches in the field of Buddhism in order to develop and cater their knowledge to serve the humanity. The School adopts interdisciplinary and multidimensional approaches with the help of other sciences and social sciences like Archaeology, History, and Philosophy etc. for producing scientific researches.
                    </p>
                    <p class="card-text">The School is well supported by talented and innovative faculty members, who are striving hard to establish the School as an institution of repute with their pioneer researches, conference participations and academic endeavours. Their commitment for the School is to encourage scientific inquiry and inquisitiveness among the students as well as academicians.
                    </p>
                    <p class="card-text">The School offers various academic programmes at post Graduate and Research level including M.A., M Phil and Ph. D. These flagship programmes are aimed to train the students to inculcate their expertise and vision for socio-economic, religious and political development of the World. The existing facilities of the School and Gautam Buddha University will embolden the students to integrate themselves with global academic forums and other academic institutes. Our vision is to establish the School of Buddhist Studies and Civilization, Gautam Buddha University as a major research centre of the world.
                    </p>
                    <h5 class="card-title float-left">Prof. Surendra Kumar Singh</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="tab-pane fade" id="programs-tab" role="tabpanel">
        <div class="container my-5">
          <div class="jumbotron">
            <h1 class="text-center pb-5">Programs Offerred | SOBSC</h1>
            <table class="table-responsive border-0" class="mx-auto" border="1" width="100%">

              <tbody><tr>
               <th class="py-1 px-3">S.No.</th>
               <th class="py-1 px-3">School Name</th>
               <th class="py-1 px-3">Department</th>
               <th class="py-1 px-3">Program Name</th>
               <th class="py-1 px-3">Course Structure/Syllabus</th>

            
          </tr>

                </tbody><tbody>
            <tr>
                <td class="py-1 px-3">1. </td>
                <td class="py-1 px-3">School Of Buddhist Studies &amp; Civilization</td>
                <td class="py-1 px-3">BS</td>
                <td class="py-1 px-3">B.A. (Hons) - M. A. in Buddhist Studies and Civilization</td>
                <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOBSC/IBS.pdf"> Course Structure</a></td>
                       
                  </tr>

                  <tr>
                      <td class="py-1 px-3">2. </td>
                      <td class="py-1 px-3">School Of Buddhist Studies &amp; Civilization</td>
                      <td class="py-1 px-3">BS</td>
                      <td class="py-1 px-3">M.A. (Buddhist Studies and Civilization)</td>
                      <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOBSC/MBS.pdf"> Course Structure</a></td>
                     
                  </tr>
                  <tr>
                      <td class="py-1 px-3">3.</td>
                      <td class="py-1 px-3">School Of Buddhist Studies &amp; Civilization</td>
                      <td class="py-1 px-3">BS</td>
                      <td class="py-1 px-3">M.Phil. (Buddhist Studies and Civilization)</td>
                      <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOBSC/MBC.pdf"> Course Structure</a></td>
                      
                  </tr>

                  <tr>
                      <td class="py-1 px-3">4.</td>
                      <td class="py-1 px-3">School Of Buddhist Studies &amp; Civilization</td>
                      <td class="py-1 px-3">BS</td>
                      <td class="py-1 px-3">Ph.D. (Buddhist Studies and Civilization)</td>
                      <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOBSC/PBS.pdf"> Course Structure</a></td>
                    
                  </tr>
                            
            </tbody>
            </table>
          </div>  
        </div>
      </div>
      <div class="tab-pane fade" id="contactus-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center pb-5">Contact Us | SOBSC</h1>
              <br>
              <p><b>Admissions inquiries, contact:</b></p><p><b>Academic Office</b></p><p>Phone No.: 0120-234-6179</p><p>Email : deanbsc@gbu.ac.in</p>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="faculty-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center pb-3">Faculty | SOBSC</h1>
              <br>
              <table class="table-responsive border-0" class="mx-auto" border="1" width="100%">
                <tbody>
                    <tr align="left" valign="middle">
                        <th class="py-1 px-3" scope="col">Title</th>
                        <th class="py-1 px-3" scope="col">Name of Faculty</th>
                        <th class="py-1 px-3" scope="col">Designation</th>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Prof.</td>
                        <td class="td-txt py-1 px-3">
                            <a href="SchoolFacultyProfile.aspx?UserId=238&amp;roleId=3">Surendra Kumar Singh    </a>
                            <br>
                        </td>
                        <td class="td-txt py-1 px-3" align="left" valign="middle">Professor and Dean </td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="td-txt py-1 px-3">
                            <a href="SchoolFacultyProfile.aspx?UserId=163&amp;roleId=3">Anand Singh</a>
                            <br>
                        </td>
                        <td class="td-txt py-1 px-3" align="left" valign="middle">Associate Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="td-txt py-1 px-3">
                            <a href="SchoolFacultyProfile.aspx?UserId=164&amp;roleId=3">Arvind Kumar Singh</a>
                            <br>
                        </td>
                        <td class="td-txt py-1 px-3" align="left" valign="middle">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="td-txt py-1 px-3">
                            <a href="SchoolFacultyProfile.aspx?UserId=165&amp;roleId=3">Chandrashekhar Paswan</a>
                            <br>
                        </td>
                        <td class="td-txt py-1 px-3" align="left" valign="middle">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="td-txt py-1 px-3">
                            <a href="SchoolFacultyProfile.aspx?UserId=166&amp;roleId=3">Chintala Venkata Siva Sai</a>
                            <br>
                        </td>
                        <td class="td-txt py-1 px-3" align="left" valign="middle">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="td-txt py-1 px-3">
                            <a href="SchoolFacultyProfile.aspx?UserId=167&amp;roleId=3">Gurmet Dorjey</a>
                            <br>
                        </td>
                        <td class="td-txt py-1 px-3" align="left" valign="middle">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="td-txt py-1 px-3">
                            <a href="SchoolFacultyProfile.aspx?UserId=168&amp;roleId=3">Gyanaditya Shakya</a>
                            <br>
                        </td>
                        <td class="td-txt py-1 px-3" align="left" valign="middle">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="td-txt py-1 px-3">
                            <a href="SchoolFacultyProfile.aspx?UserId=170&amp;roleId=3">Priyadarsini Mittra</a>
                            <br>
                        </td>
                        <td class="td-txt py-1 px-3" align="left" valign="middle">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="td-txt py-1 px-3">
                            <a href="SchoolFacultyProfile.aspx?UserId=171&amp;roleId=3">Priya Sen Singh</a>
                            <br>
                        </td>
                        <td class="td-txt py-1 px-3" align="left" valign="middle">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="td-txt py-1 px-3">
                            <a href="SchoolFacultyProfile.aspx?UserId=172&amp;roleId=3">Manish T. Meshram</a>
                            <br>
                        </td>
                        <td class="td-txt py-1 px-3" align="left" valign="middle">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Ms.</td>
                        <td class="td-txt py-1 px-3">
                            <a href="SchoolFacultyProfile.aspx?UserId=204&amp;roleId=3">Sangeeta Wadhwa</a>
                            <br>
                        </td>
                        <td class="td-txt py-1 px-3" align="left" valign="middle">Research / Faculty Associate</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Mr.</td>
                        <td class="td-txt py-1 px-3">
                            <a href="SchoolFacultyProfile.aspx?UserId=227&amp;roleId=3">Vikram Singh Yadav</a>
                            <br>
                        </td>
                        <td class="td-txt py-1 px-3" align="left" valign="middle">Research / Faculty Associate</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="placements-overview-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Placements | SOBSC</h1>
              <br>
              <p><span>The corporate relationship center (CRC) involves students strategically and guides them for obtaining appropriate placement. The departmental placement committee which comprises of student representatives supervised by faculty coordinators works in collaboration with the university CRC.</span></p>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="placement-helpdesk-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Placement HelpDesk | SOBSC</h1>
              <br>
              <p><b>Mr. Vinay Kumar Litoria</b></p><p>Manager,Corporate Relations</p><p>Phone no. +91-120-2344209</p><p>Mobile no. +91-9717195787</p><p><b>Email:</b> crc@gbu.ac.in , vinay.litoria@gbu.ac.in</p><p><b>Web: www.gbu.ac.in</b><br><hr></p><p><b>Mr. Abhinav Sharma</b></p><p>Corporate Resource Center</p><p>Cell No. +919999964456</p><p>Phone no. +91-120-2344327</p><p><b>Email:</b> crc@gbu.ac.in</p><p><b>Web:</b> www.gbu.ac.in</p>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="research-publications" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Research and Publications | SOBSC</h1>
              <br>
              <p>To promote research and development in the school, we try our best to encourage the students for conference participation and help them in formulation, hypothesis, writing abstract and preparing full papers. It is heartening to mention that some of students have been able to get selected for abstract and full papers in different countries and some of them have presented their research papers at international conferences and others are about to present in near future. Apart from this school provide research guidance to students for their M.A. and M.Phil. dissertation and Ph.D. thesis writing.
              </p>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="training-consultancy" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Training and Cunsultancy</h1>
              <br>
              <p>To promote research and development in the school, we try our best to encourage the students for conference participation and help them in formulation, hypothesis, writing abstract and preparing full papers. It is heartening to mention that some of students have been able to get selected for abstract and full papers in different countries and some of them have presented their research papers at international conferences and others are about to present in near future. Apart from this school provide research guidance to students for their M.A. and M.Phil. dissertation and Ph.D. thesis writing.
              </p>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="contactus-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Contact Us</h1>
              <br>
                <p>To promote research and development in the school, we try our best to encourage the students for conference participation and help them in formulation, hypothesis, writing abstract and preparing full papers. It is heartening to mention that some of students have been able to get selected for abstract and full papers in different countries and some of them have presented their research papers at international conferences and others are about to present in near future. Apart from this school provide research guidance to students for their M.A. and M.Phil. dissertation and Ph.D. thesis writing.
                </p>              
            </div>
        </div>
      </div>
      

    </div>
    
<%include footer%>