<!doctype html>
<html lang="en">
  <head>

    <title>GBU</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../schools/css/style.css">
     <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins:400,500|Source+Sans+Pro&display=swap" rel="stylesheet">
  </head>
  <body>
    
   <div class="header sticky-top">

      <div class="global-header">
        
        <div class="back-to-home justify-content-center">
          <nav class="navbar shadow py-1" id="top-navigation">
            <div class="container">
              <a class="navbar-brand float-left" href="/"><img src="../../img/logo_gbu.png" id="gbu-logo" class="logo ">
                <h5 class="px-2 my-auto" id="gbu-name">Gautam Buddha University</h5>
              </a>
              <form class="form-inline my-1 my-lg-0 d-none d-lg-block">
                <div class="container">
                  <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
          </nav>
        </div>
        <nav class="navbar shadow navbar-expand-lg navbar-bgcolor">
          <div class="container px-3 my-3">
            <a class="navbar-brand my-auto" href="/schools/soe">
              <div class="row">
                <div class="col" id="col-college-name-1">
                  <div class="row justify-content-end">
                    <h5 class="my-auto" id="college-name-1">University</h5>
                  </div> 
                  <div class="row justify-content-end">
                  <h5 class="my-auto " id="college-name-1">School of</h5>
                  </div>
                </div>
                <div class="col my-auto">
                  <h5 class="my-auto float-right" id="college-name-2">Engineering</h5>
                </div>
              </div>
              
            </a>

            <button class="navbar-toggler collapsed my-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
              <span ><i class="fa fa-bars"></i></span>
            </button>

            <div class="navbar-collapse collapse" id="collapsibleNavbar">
              <ul class="nav ml-auto text-center justify-content-center" id="nav-tabs" role="tablist">
                <li class="nav-item active"><a href="#home-tab" class="nav-link" data-toggle="tab" role="tab">Home</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"id="navbardrop" data-toggle="dropdown" href="">About Us</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#about-overview-tab" data-toggle="tab">Overview</a>
                    <a class="dropdown-item" href="#departments-tab" data-toggle="tab">Departments</a>
                    <a class="dropdown-item" href="#programs-tab" data-toggle="tab">Programs</a>
                    <a class="dropdown-item" href="#acheivements-tab" data-toggle="tab">Acheivements</a>
                    <a class="dropdown-item" href="#laboratories-tab" data-toggle="tab">Laboratories</a>
                    <a class="dropdown-item" href="#boardofstudies-tab" data-toggle="tab">Board of Studies</a>
                    <a class="dropdown-item" href="#academic-collaboration-tab" data-toggle="tab">Academic Collaboration</a>
                    <a class="dropdown-item" href="#coa-approved-letter-tab" data-toggle="tab">CoA Approved Letters</a>
                    <a class="dropdown-item" href="#directory-tab" data-toggle="tab">Directory</a>
                    <a class="dropdown-item" href="#guest-speaker-tab" data-toggle="tab">Guest Speaker</a>
                    <a class="dropdown-item" href="#contactus-tab" data-toggle="tab">Contact Us</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Placements</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#placements-overview-tab" data-toggle="tab">Overview</a>                    
                    <a class="dropdown-item" href="#internships-tab" data-toggle="tab">Interships</a>
                    <a class="dropdown-item" href="#placement-helpdesk-tab" data-toggle="tab">Placement Helpdesk</a>
                  </div>
                </li>
                <li class="nav-item"><a href="#faculty-tab" class="nav-link" data-toggle="tab">Faculty</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Research & Trainings</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#research-publication-tab" data-toggle="tab">Research & Publications</a>
                    <a class="dropdown-item" href="#training-consultancy-tab" data-toggle="tab">Training & Consultancy</a>
                  </div>
                </li>
              </ul>               
            </div>
          </div>  
        </nav>
      </div>  
    </div>

    <div class="tab-content" id="nav-tabcontent">
      <div class="tab-pane active" id="home-tab" role="tabpanel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img  width="100%" id="fill-image" src="../img/banner1.png" alt="First slide">
            </div>
            <div class="carousel-item">
              <img  width="100%" id="fill-image" src="../img/banner5.png" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img  width="100%" id="fill-image" src="../img/banner3.png" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="my-5">
          <div class="container">
            <div class="jumbotron">
              <h1 class="text-center">School of Engineering</h1>
              <br>
              <p class="text-justify">In accordance with the Vision of the University, School of Engineering has been conceptualized and established with an objective to work out and develop a dependable model for growth, consistency and significant breakthrough in cutting edge technology and innovation. The rapid diffusion of core engineering fields like Civil Engineering, Electrical Engineering and Mechanical Engineering has the potential of bringing improvement in productivity and efficiency in almost every aspects of our life and consequently turning out to be a key driver of our economic growth.
              </p>
              <br>
              <p class="text-justify">We are committed to prepare technology leaders for tomorrow with our innovative curriculum and meticulous pedagogy for training. The programmes offered are unique in their right and fall in line with international practices. Our efforts travel beyond classrooms and encompass trends and practices through our research and modular training at par with some of the best institutions of national and international repute.</p>
              <br>
              <div class="collapse" id="more-content">
                <p class="text-justify">We encourage our graduates to opt for courses from different streams which shall not restrict them to one area but open new avenues in their field of interest. Faculty members are encouraged to use innovative tools in their teaching. We ensure that our graduate students possess necessary skills like Creativity, Innovation, Critical Thinking, Problem Solving and Collaboration.
                </p>
                <br>
                <p class="text-justify">The School offers innovative and interdisciplinary programmes, complemented by experiential learning in real world situation that allow our students to combine classroom learning and their exposure to the industry to understand current trends in their field of interest and expertise. We offer five years Integrated Dual-degree Programmes (B.Tech. + M. Tech./ B.Tech. + MBA) in the following branches:
                <ol>
                  <li>Civil Engineering</li>
                  <li>Mechanical Engineering</li>
                  <li>Electrical Engineering</li>
                  <li>Architecture & Regional Planning</li>
                </ol>
              </p>
              </div>
              <a href="#more-content" class="float-right" data-toggle="collapse"><i class="fa fa-plus"></i></a>
            </div>
          </div>
        </div>
            
      
        <div id="section-updates">
          <div class="container py-5">
              <h1 class="text-center">Updates</h1>
          </div>
          <div class="row container mx-auto mb-5">
            <div class="container-fluid col-md-4 my-2">
              <div class="card">
                <div class="card-header text-center">News</div>
                <div class="card-body overflow-auto">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                    <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='news'){%>
                    <a href="/schools/soe/news/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
            <div class="container-fluid col-md-4 my-2">
              <div class="card">
                <div class="card-header text-center">Events</div>
                <div class="card-body overflow-auto">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                    <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='events'){%>
                    <a href="/schools/soe/events/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
            <div class="container-fluid col-md-4 my-2">
              <div class="card">
                <div class="card-header text-center">Notices</div>
                <div class="card-body overflow-auto">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                   <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='notices'){%>
                    <a href="/schools/soe/notices/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
          </div>
        </div>

        <header class="py-3 mx-auto">
          <h1 id="photo-galary-header" class="pt-3">Photo Gallery</h1>
        </header>
            <!-- carousel  ------>
              <div class="container my-3 pb-5">
                <div id="demo" class="carousel slide" data-ride="carousel">
                        
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="../../img/campuslife1.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../../img/campuslife2.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../../img/campuslife3.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../../img/campuslife4.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                        </div>
                        
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div> 
              </div>

            <!--- carousel end --->
        </div>

      <div class="tab-pane fade" id="about-overview-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron p-5">
              <h1 class="text-center">Overview</h1>
              <br>
              <p>
                The School offers innovative and interdisciplinary programmes, complemented by experiential learning in real world situation that allow our students to combine classroom learning and their exposure to the industry to understand current trends in their field of interest and expertise. We offer five years Integrated Dual-degree Programmes (B.Tech. + M. Tech./ B.Tech. + MBA) in the following branches:

                <ol>
                  <li>Civil Engineering</li>
                  <li>Mechanical Engineering</li>
                  <li>Electrical Engineering</li>
                  <li>Architecture & Regional Planning</li>
                </ol>

              </p>
            </div>
            <div class="container py-3">
                  <div class="card">
                    <div class="row ">
                      <div class="col-md-3">
                          <img src="http://placehold.it/560x560" class="w-100">
                          <h4 class="text-center py-3">Dean's Message</h4>
                      </div>
                      <div class="col-md-9 p-4 my-auto">
                        <div class="card-block px-3">
                          
                          <p class="card-text">It is my proud privilege to welcome you at School of Engineering on the Website of Gautam Buddha University. The School has came in to existence in the academic session, 2010 -11 with the beginning of Five years Integrated dual degree program ( B.Tech. + M.Tech / M.B.A.) in three core branches of engineering ( Civil, Mechanical & Electrical ). In the academic session, 2014 -15, the first batch of Engineers of the University is going to pass out. In successive years B. Arch in Architecture & Regional Planning, Masters & Doctoral Programs in different disciplines have come in to existence.
                          </p>
                          <p class="card-text">As an academic community, the school is committed to the belief that expanding our knowledge of the liberal Sciences & Technologies will enable us to live better lives and to contribute more to society. Thus we are constantly trying to remain competitive, to maintain excellence in teaching to strengthen our undergraduate and graduate programs and to build the School’s research agenda to increase the external partnerships & sponsors. I hope that you will join us in our mission.
                          </p>
                          <h5 class="card-title float-left">Prof. Pradeep Kumar Yadav</h5>
                          <button class="btn btn-outline-primary float-right" type="button">Know more</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
      </div>
<div class="tab-pane fade" id="boardofstudies-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Board Of Studies</h1>
              <br>
              <div class="container ">
                <div class="container py-3">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4">
                    <img src="../schools/img/soe/induprety.png" class="card-img-top img-fluid" id="card-image">
                      </div>
                      <div class="col-md-8 p-4 my-auto">
                        <div class="card-block px-3">
                      <h5 class="card-title">Dr. Indu Uprety</h5> 
                      <p class="card-text">Dean (I/C)<br>Associate Professor<br>School of ICT<br>Gautam Buddha University</p>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>  
                
                <div class="container my-5">
                  <h3 class="text-center">External Members</h3>
                </div>
                <div class="card-deck justify-content-center">
                  <div class="card my-3">
                    <div class="card-body">
                      <h5 class="card-title">Prof. Sudhir Kumar</h5>
                      <p class="card-text">Professor<br>Department of Civil Engineering<br>M. N. I. T. Jaipur</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="directory-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Directory | SOE</h1>
              <br>
              <table class="table-responsive border-0" border="1" cellpadding="10px" cellspacing="0" width="100%"><tbody><tr><th>Name/Designation/Section</th><th>Phone No.</th><th>Ext. No.</th></tr><tr><td>Dean</td><td>0120- 2344491</td><td>4491</td></tr><tr><td>Dean Office</td><td>0120- 2344494</td><td>4494</td></tr><tr><td>Academic Office</td><td>0120-2344493</td><td>4493</td></tr><tr><td>Ms. Nirmita Mehrotra</td><td>0120-2346043</td><td>6043</td></tr><tr><td>Dr. Shilpa Pal</td><td>0120-2346042</td><td>6042</td></tr><tr><td>Dr. Shobharam</td><td>0120-2346013</td><td>6013</td></tr><tr><td>Dr. Nidhi Singh Pal</td><td>0120-2346003</td><td>6003</td></tr><tr><td>Dr. Mohd. Ahmad Ansari</td><td>0120-2346018</td><td>6018</td></tr><tr><td>Dr. Shabana Urooj</td><td>0120-2346015</td><td>6015</td></tr><tr><td>Dr. Satpal Sharma</td><td>0120-2346001</td><td>6001</td></tr><tr><td>Dr. Harishchandra Thakur</td><td>0120-2346017</td><td>6017</td></tr></tbody></table>
            </div>
        </div>
      </div>


      <div class="tab-pane fade" id="contactus-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Contact Us | SOE</h1>
              <br>
              <table class="table-responsive border-0" width="100%" height="98%" border="0"><tbody><tr><td><table class="table-responsive border-0" width="100%"><tbody><tr><td><p>For Admissions related information contact us at :</p><br><p><b>Admission Office</b></p><p>Phone No.: 0120-2344234</p><p>Email : admissions@gbu.ac.in</p><br><p>For more information about Integrated Dual-degree Programmes(B.Tech+M.Tech/B.Tech+MBA)</p><p>contact us at :</p><br><p><b>Programme Office</b></p><p>Phone No.: 01202344494</p></td></tr><tr><td colspan="3"></td></tr></tbody></table></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td colspan="3"><div><div><ul class="extras"><b></b></ul></div></div></td></tr></tbody></table>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="departments-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Departments | SOE</h1>
              <br>
              <h4><b>Department OF Civil Engineering</b></h4><p>The Department of Civil Engineering aims at understanding of fundamental principles, development and innovation to cater to the needs and demands of our changing trend and practices in the field. The academic activities of the Department aim at producing high quality technical manpower needed by industry, R&amp;D organizations, and academic institutions. The Department offers Integrated Dual Degree with B.Tech.+M.Tech./MBA (05 years) in Civil Engineering with specializations in Environmental Engineering, Structural Engineering, Infrastructure Design &amp; Management, Geomatics Engineering, Geotechnical Engineering, and Transportation Engineering. The programme offered is a unique programme and finds matches perhaps nowhere across the country.</p><br><p>Besides these, the Department has strong research focus in the field of water management,environment engineering, and structural engineering. The Department is offering Doctoral Degree Programme (Ph.D.) and encourage intensive research in these areas. We firmly believe that sound research on the part of faculty members feeds significantly into the quality of classroom input and consequently delivers innovative leaders of tomorrow.</p><p>This department is running in School of Engineering Block B </p><br><h4><b>DEPARTMENT OF ELECTRICAL ENGINEERING</b></h4><p>Presently the department is offering the Integrated Dual Degree course in Electrical Engineering with specialization in Power System and Control &amp; Instrumentation Engineering. The department is extending the facilities to carry out research work for Doctor of Philosophy (Ph.D.) degree, R&amp;D work for sponsored and consultancy projects and testing and consultancy work for industrial problems. The Department has strong research focus in the field of Power System, Semiconductors, VLSI, Control &amp; Instrumentation, System Design, Reliability Engineering, Power Electronic Drives, Industrial Automation and Control, High Voltage Engineering, Power Systems, Industrial and Biomedical Instrumentation and various important areas of Electrical Engineering.</p><br><p>The mission of the Electrical Engineering department is to shape graduates into hardcore professionals who would become effective leaders and noteworthy innovators in the technology areas of Electrical Engineering. While producing competent professionals and responsible citizens, it is also our endeavour to ensure that our graduates adhere to ethical values in life and be sensitive to environmental and social issues. It is also part of our mission to motivate and encourage our students to engage in lifelong learning which would help them keep abreast with contemporary developments in their fields of operation and enable them to leverage on the power of knowledge to become outstanding performers in whatever careers they choose.</p><br><h4><b>DEPARTMENT OF MECHANICAL ENGINEERING</b></h4><p>The Department offers a high quality education and training in the field of Mechanical Engineering at par with that of reputed national and international institutions and delivers technocrats of global standards. The Department offers Integrated Dual degree(B.Tech.+M.Tech/MBA (05 years)) with B.Tech in Mechanical Engineering and M.Tech degree in Mechanical Engineering with specializations in CAD/CAM and Manufacturing Engineering.</p><br><p>The research focus of the Department lays heavy emphasis on innovations in the field of Machine Design, Production Engineering (CAD/CAM), Thermal Engineering, and Industrial Engineering. Continuing with our commitment to quality research, the Department plans to offer a Doctoral Degree Programme (Ph.D.) in near future.</p> <br><h4><b>DEPARTMENT OF ARCHITECTURE </b></h4><p>Department of Architecture &amp; Regional Planning has been conceptualized with post graduation programme in Urban and Regional Planning along with integrated dual degree programme in B. Arch &amp; M. Planning to inculcate and promote the integrated &amp; multi-disciplinary studies for design of built environment and develop cross cutting interface of technology in the field of design and development.</p><br><p>Materially, the department envisions to have totally computerized studios, facilitating latest drafting and modeling software; state of art laboratories for GIS with latest equipments like Laser scanner, ground penetrating radars; Surveying Lab with advanced equipment like the total system and GPS; Environment Lab with research level measuring and observation gadgets; Material and Structure Labs, with infrastructure to demonstrate structural systems and test the strength of materials. These laboratories will not only assist in research into core areas of environment and its development but also facilitate consultancy to Government and large corporate clients in Design &amp; Planning of Townships and Institutions that are sustainable and equipped with the latest technology.</p><p>This department is running in School of Architecture &amp; Built Enviornment.
            <br><br>
            <a href="http://www.gbu.ac.in/SOE/DeptArch_CoAInspection_22Sept2018.pdf"></a></p><h4><a href="http://www.gbu.ac.in/SOE/DeptArch_CoAInspection_22Sept2018.pdf">Inspection from Council of Architecture (CoA) 2018 Department of Architecture and Planning</a></h4>
            <p></p>
            <p><br></p><h4><b>DEPARTMENT OF URBAN &amp; REGIONAL PLANNING </b></h4><p><b><br></b></p>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="programs-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Programme | SOE</h1>
              <br>
        <table class="table-responsive border-0" border="1" width="100%">

        <tbody>
          <tr>
           <th class="py-1 px-3">S.No.</th>
           <th class="py-1 px-3">School Name</th>
           <th class="py-1 px-3">Department</th>
           <th class="py-1 px-3">Program Name</th>
           <th class="py-1 px-3">Course Structure/Syllabus</th>        
          </tr>

        </tbody><tbody>

                <tr>
                  <td class="py-1 px-3">1.</td>
                  <td class="py-1 px-3">School Of Engineering</td>
                  <td class="py-1 px-3">CE</td>
                  <td class="py-1 px-3">Integrated Dual Degree Programme B.Tech - M.Tech/MBA</td>
                  <td class="py-1 px-3"> <a href="http://gbu.ac.in/AcadProg/SOE/ICE-EV.pdf"> Course Structure (EV) </a>
                  <br>
                  <a href="http://gbu.ac.in/AcadProg/SOE/ICE-Str.pdf"> Course Structure (STR) </a>
                  </td>
                </tr>
                <tr>
                    <td class="py-1 px-3">2.</td>
                    <td class="py-1 px-3">School Of Engineering</td>
                    <td class="py-1 px-3">EE</td>
                    <td class="py-1 px-3">Integrated Dual Degree Programme B.Tech - M.Tech/MBA</td>
                    <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/Integrated_BTechMTech_CS_12Sept19.pdf"> Course Structure </a></td>
                </tr>
                <tr>
                    <td class="py-1 px-3">3.</td>
                    <td class="py-1 px-3">School Of Engineering</td>
                    <td class="py-1 px-3">EE</td>
                    <td class="py-1 px-3">B.Tech (Electrical Engineering)</td>
                    <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/BTech_EE_CS_12Sept19.pdf"> Course Structure </a></td>
                </tr>
                <tr>
                    <td class="py-1 px-3">4.</td>
                    <td class="py-1 px-3">School Of Engineering</td>
                    <td class="py-1 px-3">EE</td>
                    <td class="py-1 px-3">B.Tech (Electrical Engineering - Continuing Education/Evening)</td>
                    <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/BTech_EE_EvePrg_12Sept19.pdf"> Course Structure </a></td>
                </tr>
                <tr>
                    <td class="py-1 px-3">3.</td>
                    <td class="py-1 px-3">School Of Engineering</td>
                    <td class="py-1 px-3">ME</td>
                    <td class="py-1 px-3">Integrated Dual Degree Programme B.Tech - M.Tech/MBA</td>
                    <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/IME.pdf"> Course Structure </a></td>
                </tr>
                <tr>
                    <td class="py-1 px-3">4.</td>
                    <td class="py-1 px-3">School Of Engineering</td>
                    <td class="py-1 px-3">AR</td>
                    <td class="py-1 px-3">Bachelor in Architecture (B. Arch.)</td>
                    <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/IAR.pdf"> Course Structure </a></td>
                 </tr>
                 <tr>
                     <td class="py-1 px-3">5.</td>
                     <td class="py-1 px-3">School Of Engineering</td>
                     <td class="py-1 px-3">AR</td>
                     <td class="py-1 px-3">M.Plan (Masters in Urban and Regional Planning)</td>
                     <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/MURP.pdf"> Course Structure </a></td>
                  </tr>
                  <tr>
                        <td class="py-1 px-3">6.</td>
                        <td class="py-1 px-3">School Of Engineering</td>
                        <td class="py-1 px-3">CE</td>
                        <td class="py-1 px-3">M.Tech. (Environmental Engineering)</td>
                        <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/MEV.pdf"> Course Structure </a></td>
                  </tr>
                  <tr>
                        <td class="py-1 px-3">7. </td>
                        <td class="py-1 px-3">School Of Engineering</td>
                        <td class="py-1 px-3">CE</td>
                        <td class="py-1 px-3">M.Tech. (Structural Engineering)</td>
                        <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/MST.pdf"> Course Structure </a></td>
                  </tr>
                  <tr>
                        <td class="py-1 px-3">8.</td>
                        <td class="py-1 px-3">School Of Engineering</td>
                        <td class="py-1 px-3">EE</td>
                        <td class="py-1 px-3">M.Tech. (Power System Engineering)</td>
                        <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/MTech_PowerSystems_CS_12Sept19.pdf"> Course Structure</a></td>
                  </tr>
                  <tr>
                        <td class="py-1 px-3">9.</td>
                        <td class="py-1 px-3">School Of Engineering</td>
                        <td class="py-1 px-3">EE</td>
                        <td class="py-1 px-3">M.Tech. (Instrumentation and Control)</td>
                        <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/MTech_Instrumentation_CS_12Sept19.pdf"> Course Structure </a></td>
                  </tr>
                  <tr>
                        <td class="py-1 px-3">10.</td>
                        <td class="py-1 px-3">School Of Engineering</td>
                        <td class="py-1 px-3">EE</td>
                        <td class="py-1 px-3">M.Tech. (Instrumentation and Control- Continuing Education/Evening Programme -3yrs)</td>
                        <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/MTech_Instrumentation_EvePrg_12Sept19.pdf"> Course Structure </a></td>
                  </tr>
                  <tr>
                        <td class="py-1 px-3">11.</td>
                        <td class="py-1 px-3">School Of Engineering</td>
                        <td class="py-1 px-3">EE</td>
                        <td class="py-1 px-3">M.Tech. (Power Electronics and Drives)</td>
                        <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/MTech_PowerElec_CS_12Sept19.pdf"> Course Structure </a></td>
                  </tr>
                  <tr>
                        <td class="py-1 px-3">12.</td>
                        <td class="py-1 px-3">School Of Engineering</td>
                        <td class="py-1 px-3">EE</td>
                        <td class="py-1 px-3">M.Tech. (Renewable Energy Systems)</td>
                        <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/MTech_RenewableEnergy_CS_12Sept19.pdf"> Course Structure </a></td>
                   </tr>
                  <tr>
                        <td class="py-1 px-3">13.</td>
                        <td class="py-1 px-3">School Of Engineering</td>
                        <td class="py-1 px-3">ME</td>
                        <td class="py-1 px-3">M.Tech. (Manufacturning Engg)</td>
                        <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/MME.pdf"> Course Structure </a></td>
                   </tr>
                   <tr>
                        <td class="py-1 px-3">14.</td>
                        <td class="py-1 px-3">School Of Engineering</td>
                        <td class="py-1 px-3">EE</td>
                        <td class="py-1 px-3">M.Tech. (Design Engg.)</td>
                        <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/MDE.pdf"> Course Structure</a></td>
                    </tr>
                    <tr>
                            <td class="py-1 px-3">15.</td>
                            <td class="py-1 px-3">School Of Engineering</td>
                            <td class="py-1 px-3">ME</td>
                            <td class="py-1 px-3">M.Tech. (Thermal Engg.)</td>
                            <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOE/MTH.pdf"> Course Structure</a></td>
                    </tr>
                    <tr>
                            <td class="py-1 px-3">16.</td>
                            <td class="py-1 px-3">School Of Engineering</td>
                            <td class="py-1 px-3">EE</td>
                            <td class="py-1 px-3">Ph.D. (Electrical Engg.)</td>
                            <td class="py-1 px-3"> <a href="http://gbu.ac.in/AcadProg/SOE/MTH.pdf"> Course Structure </a> </td>
                    </tr>
                     <tr>
                            <td class="py-1 px-3">17.</td>
                            <td class="py-1 px-3">School Of Engineering</td>
                            <td class="py-1 px-3">CE</td>
                            <td class="py-1 px-3">Ph.D. (Civil Engg.)</td>
                            <td class="py-1 px-3"> <a href="http://gbu.ac.in/AcadProg/SOE/MTH.pdf"> Course Structure </a> </td>
                    </tr>
                    <tr>
                            <td class="py-1 px-3">18.</td>
                            <td class="py-1 px-3">School Of Engineering</td>
                            <td class="py-1 px-3">EE</td>
                            <td class="py-1 px-3">Ph.D. (Electrical Engg.)</td>
                            <td class="py-1 px-3"><a href="/cbcs/program/soe/ee/pee"> Course Structure</a></td>
                    </tr>
                    <tr>
                            <td class="py-1 px-3">19.</td>
                            <td class="py-1 px-3">School Of Engineering</td>
                            <td class="py-1 px-3">CE</td>
                            <td class="py-1 px-3">Ph.D. (Civil Engg.)</td>
                            <td class="py-1 px-3"><a href="/cbcs/program/soe/ce/pce"> Course Structure</a></td>
                    </tr>
              </tbody>
              </table>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="acheivements-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Achievement | SOE</h1>
              <br>
              <h5>Department of Civil Engineering School of Engineering</h5>
              <p>
                1. <a href="http://gbu.ac.in/data/engineering/GATE.pdf">GATE qualified by students by Civil Engineering students</a>
                <br>
                2. <a href="http://gbu.ac.in/data/engineering/student%20achievemnets.pdf">Extra curriculum activities – CED students (2016-17, 2017-18)</a>
              </p>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="laboratories-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Laboratories | SOE</h1>
              <br>
              <table class="table-responsive border-0" width="100%">
                <tbody>
                        <td>
                            <p>
                                <br><img alt="" src="http://www.gbu.ac.in/images/bullet.gif"><a href="http://www.gbu.ac.in/Labfacilities_SchoolofEngineering.pdf" target="_blank"><b> Lab Facilities for School of Engineering</b></a>
                                <br><br>
                                <br><img alt="" src="http://www.gbu.ac.in/images/bullet.gif"> <span><b>Department of Architecture &amp; Planning </b> </span>
                                <br> 
                                <br>1. <a href="http://www.gbu.ac.in/SOE/SOE_Labs_Arch Planning_6Oct2018.pdf" target="_blank"><b>Lab Laborateries and Workshop  </b></a>
                                <br>
                                
                                <br>2. <a href="http://www.gbu.ac.in/Labfacilities_SchoolofArchitecture.pdf" target="_blank"><b>Lab Facilities for School of Department of Architecture &amp; Planning: </b></a>
                                <br>
                                <br>
                                <br><img alt="" src="http://www.gbu.ac.in/images/bullet.gif"> <span><b>Department of Civil Engineering</b> </span>
                                <br>
                                <br>1. <a href="http://www.gbu.ac.in/SOE/SOE_civilLabs_31Jan18.pdf" target="_blank"><b>Laboratories in Civil Engineering</b> </a>
                                <br>
                                <br>2. <a href="http://www.gbu.ac.in/SOE/SOE_CivilConsultancyLabs_31Jan18.pdf" target="_blank"><b>Material Testing Consultancy Work In Following Laboratories </b></a>
                                <br>
                                <br>
                                <br><img alt="" src="http://www.gbu.ac.in/images/bullet.gif"> <span><b>Department of Electrical Engineering</b> </span>
                                <br>
                                <br>1. <a href="http://www.gbu.ac.in/SOE/SOE_ElectricalTechLab_1Feb18.pdf" target="_blank"><b>Laboratories in Electrical Engineering</b></a></p>
                              </td>
                          </tr>
                      </tbody>
                  </table>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="placements-overview-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Placements | SOE</h1>
              <br>
              <p><br><span>The corporate relationship center (CRC) involves students strategically and guides them for obtaining appropriate placement. The departmental placement committee which comprises of student representatives supervised by faculty coordinators works in collaboration with the university CRC.</span><br><br></p>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="internships-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Internship | SOE</h1>
              <br>
              <h5>A. Semester Internship</h5>
              <p>
                
                <a href="http://gbu.ac.in/SOE/B. Arch internship 2018.pdf">B.Arch Internship 2018</a>
                <br>
                
              </p>
              <h5>B. Summer Internship</h5>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="placement-helpdesk-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Placement HelpDesk | SOE</h1>
              <br>
              <table class="table-responsive border-0" width="100%">
                <tbody>
                  <tr>
                    <td>
                      <p><b>Mr. Vinay Kumar Litoria</b></p>
                      <p>Manager,Corporate Relations</p>
                      <p>Phone no. +91-120-2344209</p>
                      <p>Mobile no. +91-9717195787</p>
                      <p><b>Email:</b> crc@gbu.ac.in , vinay.litoria@gbu.ac.in</p>
                      <p><b>Web:</b> www.gbu.ac.in</p>
                      <br>
                    </td>
                  </tr>
                  </tbody>
              </table>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="faculty-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Faculty | SOE</h1>
              <br>
              <p class="py-3">Our accomplished and dedicated intellectual resource ensures delivery of our objectives in engineering education, research and training. The faculty members have distinguished academic achievements in their respective areas and the related basic disciplines and are committed to the cause. They undertake consultancy assignments to keep themselves updated with the real-life challenges in public and Private Sectors, Financial Institutions, Government Agencies and International Agencies. We are committed to identify, nurture and groom our young aspirants who intend to assume their role as techno leaders. We walk extra mile that separates excellence from merely being adequate. The University being a residential campus ensures availability of its faculty member for consultations and guidance outside the classroom in an informal and customized situation.</p>
              <table class="table-responsive border-0" class="mx-auto" border="1" width="100%">
    <tbody>
        <tr>
            <th class="py-1 px-3" scope="col">Title</th>
            <th class="py-1 px-3" scope="col">Name of Faculty</th>
            <th class="py-1 px-3" scope="col">Designation</th>
        </tr>
        <tr>
            <td class="py-1 px-3">Prof.</td>
            <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Pradeep Kumar Yadav">Pradeep Kumar Yadav</a>
                <br>
            </td>
            <td class="py-1 px-3"> Professor and Dean </td>
        </tr>
        <tr>
            <td class="py-1 px-3">Dr.</td>
            <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Kirti Pal">Kirti Pal </a>
                <br>
            </td>
            <td class="py-1 px-3">Associate Professor</td>
        </tr>
        <tr>
            <td class="py-1 px-3">Dr.</td>
            <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Satpal Sharma">Satpal Sharma </a>
                <br>
            </td>
            <td class="py-1 px-3">Assistant Professor</td>
        </tr>
        <tr>
            <td class="py-1 px-3">Dr.</td>
            <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Nirmita Mehrotra (HOD Architecture Planning)">Nirmita Mehrotra (HOD Architecture Planning) </a>
                <br>
            </td>
            <td class="py-1 px-3">Assistant Professor</td>
        </tr>
        <tr>
            <td class="py-1 px-3">Dr.</td>
            <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Mohd. Ahmad Ansari">Mohd. Ahmad Ansari </a>
                <br>
            </td>
            <td class="py-1 px-3">Assistant Professor</td>
        </tr>
        <tr>
            <td class="py-1 px-3">Dr.</td>
            <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Nidhi Singh Pal">Nidhi Singh Pal </a>
                <br>
            </td>
            <td class="py-1 px-3">Assistant Professor</td>
        </tr>
        <tr>
            <td class="py-1 px-3">Dr.</td>
            <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Shabana Urooj">Shabana Urooj </a>
                <br>
            </td>
            <td class="py-1 px-3">Assistant Professor</td>
        </tr>
        <tr>
            <td class="py-1 px-3">Dr.</td>
            <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Harishchandra Thakur">Harishchandra Thakur </a>
                <br>
            </td>
            <td class="py-1 px-3">Assistant Professor</td>
        </tr>
        <tr>
            <td class="py-1 px-3">Dr.</td>
            <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Shobharam">Shobharam </a>
                <br>
            </td>
            <td class="py-1 px-3">Assistant Professor</td>
        </tr>
        <tr>
            <td class="py-1 px-3">Dr.</td>
            <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Dharamvir Mangal">Dharamvir Mangal </a>
                <br>
            </td>
            <td class="py-1 px-3">Assistant Professor</td>
        </tr>
        <tr>
            <td class="py-1 px-3">Dr.</td>
            <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Chandra Bhan Vishwakarma">Chandra Bhan Vishwakarma </a>
                <br>
            </td>
            <td class="py-1 px-3">Assistant Professor</td>
        </tr>
        <tr>
            <td class="py-1 px-3">Dr.</td>
            <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Omveer Singh">Omveer Singh </a>
                <br>
            </td>
            <td class="py-1 px-3">Assistant Professor</td>
        </tr>
        <tr>
            <td class="py-1 px-3">Dr.</td>
            <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Anant Pratap Singh">Anant Pratap Singh </a>
                <br>
            </td>
            <td class="py-1 px-3">Assistant Professor</td>
        </tr>
        <tr>
            <td class="py-1 px-3">Ms.</td>
            <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Madhuri Agarwal">Madhuri Agarwal </a>
                <br>
            </td>
            <td class="py-1 px-3">Assistant Professor</td>
        </tr>
    </tbody>
</table>

            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="research-publication-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Research and Publications | SOE</h1>
              <br>
              <h5>Department of Civil Engineering</h5>

              1. <a href="http://www.gbu.ac.in/data/engineering/Publication of Dr Shilpa pal.pdf">Publication of Dr Shilpa Pal</a>

              <br>

              2. <a href="http://www.gbu.ac.in/data/engineering/PUBLICATION OF Dr SHOBHA RAM.pdf">Publication of Dr Shobha Ram</a><p></p>
              <p></p><h5> Department of Architecture &amp; Regional Planning</h5>
              1. <a href="http://www.gbu.ac.in/SOE/Publications/Ar.Nirmita Mehrotra.pdf">Publication of Ar Nirmita Mehrotra</a>
              <br>
              2. <a href="http://www.gbu.ac.in/SOE/Publications/AnantSingh.pdf">Publication of Ar Anant Singh</a>

              <br>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="training-consultancy-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Training and Consultancy | SOE</h1>
              <br>
              <h5>1. Department of Civil Engineering</h5>
                <p>
                  A. <a href="http://www.gbu.ac.in/data/engineering/SITE VISITS ORGANIZED BY DEPARTMENT OF CIVIL ENGINEERING.pdf">SITE VISITS ORGANIZED BY DEPARTMENT OF CIVIL ENGINEERING</a>
                  <br><br>
                  2. <a href="http://www.gbu.ac.in/data/engineering/TRAINING PROGRAMMES.pdf">Training Programmes</a>
                  
                </p>
                <h5>2. Department of Architecture &amp; Regional Planning</h5>
                <p>
                  A. <a href="http://www.gbu.ac.in/SOE/SOE_FieldTours_6Oct2018.pdf">Feild trips &amp; Tours </a>
                  <br>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="guest-speaker-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Guest Speak | SOE</h1>
              <br>
              <h5>GUEST SPEAKER IN DEPARTMENT OF CIVIL ENGINEERING</h5>
                <ul>
                  <li>Expert Lecture by Dr. Hemant Kumar (NIT Hamirpur)  on Recent Advances in Civil Engineering on 14th September 2015</li>
                  <li>Expert Lecture by Prof. Chandan Ghosh (NIDM) on Rapid Visual Screening of Buildings on 14th September 2015.</li>
                  <li>Expert Lecture by Prof. Pramod Kumar Gupta (IITR) on Use of Concrete Filled Steel Tubular Columns (CFSTC) In Construction on 14th September 2015.</li>
                  <li>Expert Lecture by Prof. Kusum Deep (IITR) on Application of Evolutionary computation in engineering on 28th March 2016.</li>
                  <li>Expert Lecture by Dr. Jagdish C. Bansal (SAU) on Particle Swarm Optimization and its Application in Engineering on 28th March 2016.</li>
                  <li>Expert Lecture by Dr. Vasant Matsagar (IITD) on Application of Genetic Algorithm in Civil Engineering on 28th March 2016.</li>
                  <li>Expert Lecture by Dr. Vinay Sinha. TERI University, Delhi on Application of Remote Sensing and GIS in Water Resource Engineering on 12th November 2016.</li>
                  <li>Lecture on Advances in cement by the experts from ACC (Sponsored by ACC).</li>
                  <li>Expert Lecture by Dr.Binod Kumar, CRRI on Rigid and Flexible Pavements on 12th November 2016(Sponsored by ACC).</li>
                  <li>Expert Lecture by Mr. Kunal Kumud (IIM Bangalore) and Mr. Gautam Gopal (IIM Shillong) on Importance of Soft Skill in carrier growth on 8th September 2017.</li>
                  <li>Expert Lecture by Bentley Experts on MX Road software on 7th September 2017(Sponsored by Bentley).</li>
                  <li>Expert Lecture by Mr. Anupam Jain (Principal consultant) RdD on Green Buildings on 18th January 2018.</li>
                  <li>Expert Lecture by (Retd.) Prof.  D.K.  Paul from IIT Roorkee on Codal Provision of Revised IS 1893-2016 and IS 13920– 2016 for Earthquake Resistant Design of structures on 11th April 2018.</li>
                  <li>Expert Lecture by (Retd.)Prof. Jagdish Prasad from IIT Roorkee on Concept in Creating Green Buildings on 16th April 2018.</li>
                  <li>Expert Lecture by (Retd.) Prof. Sarvesh Chandra from IIT Kanpur on Research: An Insight on 22/08/2018.</li>
                </ul>

                <h5><a href="http://www.gbu.ac.in/Guest%20Speaker/Guest%20Lecture%2022%2003%202012.xlsx">School of Engineering Guest Speaker</a></h5>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="coa-approved-letter-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">CoA Approved Letters | SOE</h1>
              <br>
              <ol>
                <li><a href="http://www.gbu.ac.in/UniversityDoc/CoA_LetterApproval_6Sept19.pdf">CoA Approval Letter 2012-2013,2013-2014, 2014-2015</a></li>               
              </ol>
            </div>
        </div>
      </div>
      

      <div class="tab-pane fade" id="academic-collaboration-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Academic Collaboration | SOE</h1>
              <br>
              <h2>Annual Reports</h2>
                <a href="http://www.gbu.ac.in/data/engineering/Annual Report of Civil Engineering Academic Society.pdf">Annual Report of Civil Engineering Academic Society</a>
                <br>
                <a href="http://www.gbu.ac.in/data/engineering/Annual Report of Civil Engineering Academic Society 16-17.pdf">Annual Report of Civil Engineering Academic Society 16-17</a>
              
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="contactus-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Guest Speak | SOE</h1>
              <br>
              
            </div>
        </div>
      </div>      

    </div>
    
    <%include footer%>