<!doctype html>
<html lang="en">
  <head>

    <title>GBU</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../schools/css/style.css">
     <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    
   <div class="header sticky-top">

      <div class="global-header">
        
        <div class="back-to-home justify-content-center">
          <nav class="navbar shadow py-1" id="top-navigation">
            <div class="container">
              <a class="navbar-brand float-left" href="/"><img src="../../img/logo_gbu.png" id="gbu-logo" class="logo ">
                <h5 class="px-2 my-auto" id="gbu-name">Gautam Buddha University</h5>
              </a>
              <form class="form-inline my-1 my-lg-0">
                <div class="container">
                  <input class="form-control form-control-sm" type="search" placeholder="Search Box" aria-label="Search">
                  <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
          </nav>
        </div>
        <nav class="navbar shadow navbar-expand-md navbar-bgcolor">

          <div class="container">
            <a class="navbar-brand my-auto" href="/schools/soh">
              <h5 class="my-auto" id="college-name-1">School</h5><div class="vl my-auto"></div><h5 class="my-auto" id="college-name-2">Humanities</h5>
            </a>

            <button class="navbar-toggler collapsed my-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
              <span ><i class="fa fa-bars"></i></span>
            </button>

            <div class="navbar-collapse collapse" id="collapsibleNavbar">
              <ul class="nav ml-auto text-center justify-content-center" id="nav-tabs" role="tablist">
                <li class="nav-item active"><a href="#home-tab" class="nav-link" data-toggle="tab" role="tab">Home</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"id="navbardrop" data-toggle="dropdown" href="">About Us</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#about-overview-tab" data-toggle="tab">Overview</a>
                    <a class="dropdown-item" href="#departments-tab" data-toggle="tab">Departments</a>
                    <a class="dropdown-item" href="#programs-tab" data-toggle="tab">Programs</a>
                    <a class="dropdown-item" href="#center-of-excellence-tab" data-toggle="tab">Center of Excellence</a>
                    <a class="dropdown-item" href="#academic-collaboration-tab" data-toggle="tab">Academic Collaboration</a>
                    <a class="dropdown-item" href="#guest-speaker-tab" data-toggle="tab">Guest Speaker</a>
                    <a class="dropdown-item" href="#directory-tab" data-toggle="tab">Directory</a>
                    <a class="dropdown-item" href="#contactus-tab" data-toggle="tab">Contact Us</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Placements</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#placements-overview-tab" data-toggle="tab">Overview</a>                    
                    <a class="dropdown-item" href="#summer-placements-tab" data-toggle="tab">Summer Placements</a>
                    <a class="dropdown-item" href="#final-placements-tab" data-toggle="tab">Final Placements</a>
                    <a class="dropdown-item" href="#list-of-students-tab" data-toggle="tab">List of Students</a>
                    <a class="dropdown-item" href="#placement-helpdesk-tab" data-toggle="tab">Placement Helpdesk</a>
                  </div>
                </li>
                <li class="nav-item"><a href="#faculty-tab" class="nav-link" data-toggle="tab">Faculty</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Research & Training</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#research-publication-tab" data-toggle="tab">Research & Publications</a>
                    <a class="dropdown-item" href="#training-consultancy-tab" data-toggle="tab">Training & Consultancy</a>
                  </div>
                </li>
              </ul>               
            </div>
          </div>  
        </nav>
      </div>  
    </div>

    <div class="tab-content" id="nav-tabcontent">
      <div class="tab-pane active" id="home-tab" role="tabpanel">
        <div id="section1-background">
          <div class="container text-center my-auto" id="section1-content"> 
           <h2 id="school-name">Humanities <br> and <br> Social Sciences</h2>
          </div>
        </div>
        <div class="my-5">
          <div class="container">
            <div class="jumbotron">
              <h1 class="text-center">School of Humanities and Social Sciences</h1>
              <br>
              <p class="text-justify">The School of Humanities and Social Sciences is interdisciplinary in approach. It plays the pivotal role of exposing the students to an environment that is conducive to develop understanding of contemporary social issues through inter-relationship of science, technology and management. The school has a unique and distinctive role of hosting creative educational programme that focus on creating holistic understanding of complexities of life in social context with emphasis on Indian cultural values and Buddhist ethics. The academic programmes, designed in line with the best universities around the world, combine the best practices of pedagogy and class room teaching, complemented by practical training and experiential learning. The school is equipped with the avant-garde facilities for the students and supported by state-of-the-art central library with large collections of books, journals, audio-visual aids and other learning materials.
              </p>
              <br>
            </div>
          </div>
        </div>
            
     
        <div id="section-updates">
          <div class="container py-5">
              <h1 class="text-center">Updates</h1>
          </div>
          <div class="row container mx-auto mb-5">
            <div class="container-fluid col-md-4 my-2">
              <div class="card">
                <div class="card-header text-center">News</div>
                <div class="card-body overflow-auto">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                   <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='news'){%>
                    <a href="/schools/soh/news/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
            <div class="container-fluid col-md-4 my-2">
              <div class="card">
                <div class="card-header text-center">Events</div>
                <div class="card-body overflow-auto">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                    <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='events'){%>
                    <a href="/schools/soh/events/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
            <div class="container-fluid col-md-4 my-2">
              <div class="card">
                <div class="card-header text-center">Notices</div>
                <div class="card-body overflow-auto">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                   <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='notices'){%>
                    <a href="/schools/sovs/notices/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
          </div>
        </div>
        <header class="py-3 mx-auto">
          <h1 id="photo-galary-header" class="pt-3">Photo Gallery</h1>
          <p id="photo-galary-header-p" class="px-5 pt-3">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.<br> Nullam id dolor id nibh ultricies vehicula ut elit.</p>
        </header>
            <!-- carousel  ------>
              <div class="container my-3 pb-5">
                <div id="demo" class="carousel slide" data-ride="carousel">
                        
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="../../img/campuslife1.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../../img/campuslife2.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../../img/campuslife3.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../../img/campuslife4.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                        </div>
                        
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div> 
              </div>

            <!--- carousel end --->
      </div>          
      <div class="tab-pane fade" id="about-overview-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron p-5">
              <h1 class="text-center">Overview</h1>
              <br>
              <p>The School of Humanities and Social Sciences started in 2009-2010, plays the pivotal role of providing the students with an environment that is conducive for developing an understanding of contemporary society and its pertaining vibrant issues through inter-relationship of society, science, language, literature, social work, technology, management and media. The school has a unique and distinctive role of hosting creative educational academic programmes that focus on creating holistic understanding of complexities of life in social context with emphasis on Indian cultural values and Buddhist ethics. The Humanities section shall consist of three core departments while Social Sciences will have eight major core departments.
              </p>
            </div>
            <div class="container py-3">
                  <div class="card">
                    <div class="row ">
                      <div class="col-md-3">
                          <img src="http://placehold.it/560x560" class="w-100">
                          <h4 class="text-center py-3">Dean's Message</h4>
                      </div>
                      <div class="col-md-9 p-4 my-auto">
                        <div class="card-block px-3">
                          
                          <p class="card-text">Welcome to the School of Humanities and Social Sciences. We are proud to be in the plurality of fields being primarily concerned with application of multidirectional education with firm foundation in Humanities and Social Sciences. We expound the essential qualities of language, literature, culture and expression. We have embarked on a journey with a desire of expanding our intellectual horizons.
                          </p>
                          <p class="card-text">School of Humanities and Social Sciences is a dynamic collaboration of faculty and students contributing to ambitious research agenda and striving for the well being of the society. Our education programme creates broad spectrum perspective in our students to transcend traditional disciplines boundaries keeping pace with global development in their respective fields.
                          </p>
                          <p class="card-text">The school chooses its mission to propagate learning and appreciating as well as preserving Buddhist Ethics and Values.
                          </p>
                          <h5 class="card-title float-left"></h5>
                          <button class="btn btn-outline-primary float-right" type="button">Know more</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
      </div>



      <div class="tab-pane fade" id="directory-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Directory | SOHSS</h1>
              <br>
              <table border="1" cellpadding="10px" cellspacing="0" width="100%">
                  <tbody>
                      <tr class="table-txt">
                          <th class="py-1 px-3">Name/Designation/Section</th>
                          <th class="py-1 px-3">Phone No.</th>
                          <th class="py-1 px-3">Ext. No.</th>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr. Neeti Rana(I/C)</td>
                          <td class="py-1 px-3">0120-2346178</td>
                          <td class="py-1 px-3">6178</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr. Om Prakash
                              <br>Head of the Department of Language, Literature and Culture</td>
                          <td class="py-1 px-3">0120-2344423</td>
                          <td class="py-1 px-3">4423</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr. Vinod Kumar Shanwal
                              <br>HOD - Department of Social Sciences</td>
                          <td class="py-1 px-3">0120-2344424</td>
                          <td class="py-1 px-3">4424</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr. Anand Pratap Singh</td>
                          <td class="py-1 px-3">0120-2344426</td>
                          <td class="py-1 px-3">4426</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr. Sumitra Huidrom</td>
                          <td class="py-1 px-3">0120-2344430</td>
                          <td class="py-1 px-3">4430</td>
                      </tr>
                  </tbody>
              </table>

            </div>
        </div>
      </div>


      <div class="tab-pane fade" id="contactus-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Contact Us | SOHSS</h1>
              <br>
              <p>For more information about programme contact us at</p><p><b>Programme Office:</b></p><p><b>Phone No.:</b> 0120-2344223, 0120-2344419</p><p><b>Email:</b> deanhss@gbu.ac.in</p>
            </div>
        </div>
      </div>


      <div class="tab-pane fade" id="guest-speaker-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Guest Speak | SOHSS</h1>
              <br>
              <a href="http://www.gbu.ac.in/Guest Speaker/Guest Lecture 22 03 2012.xlsx"> School of Humanities and Social Sciences Guest Speaker </a>
            </div>
        </div>
      </div>


      <div class="tab-pane fade" id="faculty-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Faculty | SOHSS</h1>
              <br>
              <div class="row py-3">
                <div class="col-sm-12 py-3">One of the biggest strengths of the University is its dedicated, competent and accomplished faculty. The faculty members have distinguished academic achievements in their respective areas and the related basic disciplines and are actively involved in teaching, training, and research. They conduct consultancy assignments to keep in touch with the real-life corporate challenges in public and Private Companies, financial institutions, government agencies and international agencies etc. Dedicated academicians and eminent researchers are also committed to bringing out the latent potential in every student. The faculty members of the university are prepared to take an extra step that separates excellence from merely adequate. As this is a residential campus, the faculty members are available for consultations and guidance outside the classroom as well in an informal and customized level.</div>
              <br><br>
                <table class="mx-3" cellspacing="0" cellpadding="0" rules="all" border="1" width="100%">
                  <tbody>
                      <tr>
                          <th class="py-1 px-3">Title</th>
                          <th class="py-1 px-3">Name of Faculty</th>
                          <th class="py-1 px-3">Designation</th>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Prof .</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Bandana Pandey">Bandana Pandey </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Professor </td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Neeti Rana">Neeti Rana </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Associate Professor and Dean (I/C)</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Om Prakash">Om Prakash </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Assistant Professor</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Vinod Kumar Shanwal">Vinod Kumar Shanwal </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Assistant Professor</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Anand Pratap Singh">Anand Pratap Singh </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Assistant Professor</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Sumitra Huidrom">Sumitra Huidrom </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Assistant Professor</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Vivek Kumar Mishra">Vivek Kumar Mishra </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Assistant Professor</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Pankaj Deep">Pankaj Deep </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Assistant Professor</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Obaidul Ghaffar">Obaidul Ghaffar </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Research / Faculty Associate</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Vibhavari">Vibhavari </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Research / Faculty Associate</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Rehana sultana">Rehana sultana </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Research / Faculty Associate</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Diwakar Garwa">Diwakar Garwa </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Research / Faculty Associate</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Roopali Srivastava">Roopali Srivastava </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Research / Faculty Associate</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Bipasha Som">Bipasha Som </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Research / Faculty Associate</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Ms.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Priyanka Singh">Priyanka Singh </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Research / Faculty Associate</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Khan Muhammad Asif">Khan Muhammad Asif </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Research / Faculty Associate</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Siddaramu B">Siddaramu B </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Research / Faculty Associate</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Ms.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Manjri Suman">Manjri Suman </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Research / Faculty Associate</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Ms.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Riya Raj">Riya Raj </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Research / Faculty Associate</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Prakash Chandra Dilare">Prakash Chandra Dilare </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Research / Faculty Associate</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Ms.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Renu Yadav">Renu Yadav </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Research / Faculty Associate</td>
                      </tr>
                  </tbody>
              </table>
              
            </div>
          </div>
        </div>
      </div>


      <div class="tab-pane fade" id="departments-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Departments | SOHSS</h1>
              <br>
              <p>The School of Humanities and Social Sciences started in 2009-2010, plays the pivotal role of providing the students with an environment that is conducive for developing an understanding of contemporary society and its pertaining vibrant issues through inter-relationship of society, science, language, literature, social work, technology, management and media. The school has a unique and distinctive role of hosting creative educational academic programmes that focus on creating holistic understanding of complexities of life in social context with emphasis on Indian cultural values and Buddhist ethics. The Humanities section shall consist of three core departments while Social Sciences will have eight major core departments.
                  
                  <br>
              </p>


              <h2>1. Humanities</h2>

              <p>
                  Humanities foster an interface between the real life situations and science &amp; technology. It endeavours to develop understanding of the nuances of our own culture as well as contemporary cultures. The department contributes in stimulating aesthetic values through literature and languages. There are three Departments in Humanities Faculty, which are: </p>
              <br>
              <p>• <a href="../SOHSSProfile/SOHSS_EMEL_1July14.pdf" target="_blank">  Department of English and Modern European Languages </a></p>
              <p>• Department of Indian Languages and Literature
                  <br> &nbsp; &nbsp; &nbsp; A. <a href="../SOHSSProfile/SOHSS_Hindi dept_WebIntroduction_28July14.pdf" target="_blank"> Hindi  </a>
                  <br> &nbsp; &nbsp; &nbsp; B. Urdu</p>
              <p> • <a href="../SOHSSProfile/SOHSS_MMC Profile Report_1July14.pdf" target="_blank"> Department of Mass Communication and Media Studies     </a>
                  <br> </p>





              <h2>2. Social Sciences</h2>

              <p>
                  Social Sciences have eight departments as per the following details. The departments impart advanced education and training in the social sciences disciplines. Continuing with the thriving academic endeavour of the university, we are pleased to introduce the M.A. and Ph.D. in five major core areas of Social Sciences and Masters in Social Work. Emphasis has been placed on their academic excellence, coupled with profound stress on the importance of services to others as a meaningful way to develop values that will enrich the society. The students and scholars are trained in these disciplines as per their preference at the time of admission to enhance their knowledge of the society and other developmental processes related to the mankind. </p>
              <br>
              <p>• Department of Economics, Planning and Development</p>
              <p>•<a href="../SOHSSProfile/Department_Education_22Feb19.pdf" target="_blank"> Department of Education and Training</a>
              <br><br>
              Offers Two-Year B.Ed. Programme accredited by the National Council for Teacher Education  (NCTE)<br><br>
              </p>
              <p>• Department of History and Civilization</p>
              <p>• <a href="../SOHSSProfile/SOHSS_Dept_Political Science_23Aug2017.pdf" target="_blank">Department of Political Science and International Relations </a></p>
              <p>• <a href="../SOHSSProfile/SOHSS_DeptPsychology_Mental Health_Web_9Jan15.pdf" target="_blank">  Department of Psychology and Wellbeing  </a></p>
              <p>• Department of Public Administration, Governance and Policy Research</p>
              <p>• Department of Social Work
                  <br> &nbsp; &nbsp; &nbsp; &nbsp; • <a href="SOHSS_DeptSocialWork.aspx?EventId=AboutDepartment"> Department of Social Work</a>
                  <br> &nbsp; &nbsp; &nbsp; &nbsp; • <a href="SOHSS_DeptSocialWork.aspx?EventId=MSWProgInfo"> MSW Programme Information </a>
                  <br> &nbsp; &nbsp; &nbsp; &nbsp; • <a href="SOHSS_DeptSocialWork.aspx?EventId=MSWCourseStructure"> MSW Course Structure </a>
                  <br> &nbsp; &nbsp; &nbsp; &nbsp; • <a href="SOHSS_DeptSocialWork.aspx?EventId=PhDSocialWork"> Ph D Programme in Social Work </a>
                  <br> &nbsp; &nbsp; &nbsp; &nbsp; • <a href="SOHSS_DeptSocialWork.aspx?EventId=FacultyMembers"> FacultyMembers </a>
                  <br> &nbsp; &nbsp; &nbsp; &nbsp; • <a href="SOHSS_DeptSocialWork.aspx?EventId=DepartmentEvents"> Department Events </a>
                  <br> &nbsp; &nbsp; &nbsp; &nbsp; • <a href="../SOHSSProfile/SOHSS_AnnualRepor1213_21April14.pdf" target="_blank"> Annual Report  2012-13 </a>
                  <br> &nbsp; &nbsp; &nbsp; &nbsp; • <a href="../SOHSSProfile/SOHSS_Annual_report_2013-14_12Feb15.pdf" target="_blank"> Annual Report  2013-14 </a>
                  <br> &nbsp; &nbsp; &nbsp; &nbsp; • <a href="../SOHSSProfile/MSW_Students_List_summerplacment_1June2017.pdf" target="_blank"> Summer Internship Placement List of MSW Students</a>
                  <br> &nbsp; &nbsp; &nbsp; &nbsp; • <a href="../SOHSSProfile/MSW_programme structure_1June2017.pdf" target="_blank"> MSW Programme Structure </a>
                  <br> &nbsp; &nbsp; &nbsp; &nbsp; • <a href="../Placements/MSW_placment_brochure_1June2017.pdf" target="_blank"> MSW Placement Brochure 2017 </a>
                  <br> &nbsp; &nbsp; &nbsp; &nbsp; • <a href="../SOHSSProfile/poster_MSW_BSW_admission_1June2017.pdf" target="_blank">MSW and BSW Admission Information 2017-18 </a> <a href="../SOHSSProfile/SOHSS_DSW_admission_brochure_30March2016.pdf" target="_blank"> (For More Details Click Here) </a> </p>
              <p>• Department of Sociology</p>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="academic-collaboration-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Academic Collaboration | SOHSS</h1>
              <br>
              <p><b>MoU with Scottish Qualifications Authority (SQA):</b> As an initiative to strengthen deliverability of the centre we have signed an MoU with Scottish Qualifications Authority on 08 November 2011. SQA develops, assesses and awards qualifications taken in workplaces, colleges and schools. We provide qualifications across Scotland, the UK and internationally. Separately, as SQA Accreditation, it authorises all vocational qualifications (other than degrees) delivered in Scotland. A Chair and Board are appointed by the Scottish Government to oversee and direct SQA.</p>
                <br>
                <p><b>About Professional Development Awards:</b> SQA’s Professional Development Awards (PDAs) are designed to develop and deliver high level skills in a sharp, flexible and focused way. They are ideal for developing the skills of young people, graduates, and other adult learners. They are ideal for Continuing Professional Development (CPD) so employers can use them to enhance the skills of their employees.</p>
                <br>
                <p><b>About PDAs:</b></p>
                <br>
                <p>• Flexible qualifications fit for industry, training and education</p>
                <p>• Specialist skills applicable at all stages of career development</p>
                <p>• Emphasis on strong partnership with employers and industry in their development</p>
                <p>• Focused on professional/vocational, work-based or work-related skills development</p>
                <p>• Supports CPD, so ideal for workforce development</p>
                <p>• Fills skills shortages at advanced SCQF levels</p>
                <p>• Backed by SQA’s world-renowned excellence in developing and quality-assuring qualifications</p>
                <br>
                <p><b>Out of all the modules for continuing Professional Development (CPD) the major areas of Mutual Interest between SQA and GBU are:</b></p>
                <br>
                <p>• English Language Qualifications</p>
                <p>• Soft skills and Professional Development Programmes</p>
                <p>• Training Programmes for Working Professional (MDPs)</p>
                <p>• Public Relations and Advertising</p>
                <p>• Communication and Media</p>
                <p>• Leadership</p>
                <p>• Managing Self and Others</p>
                <p>• Office Administration</p>
                <p>• Office Management and Information Technology</p>
                <p>• Organisational Ethics and Decision Making</p>
                <br>
                <p><b>In addition to these outlined areas we propose to start various MDPs, FDPs, and CPDs as and when approved by the competent authority.</b></p>
            </div>
        </div>
      </div>


      <div class="tab-pane fade" id="center-of-excellence-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Center Of Excellence | SOHSS</h1>
              <br>
              <p><br><span>The School of Humanities and Social Sciences shall have two important knowledge centres focusing on contemporary issues of great importance in the Indian Society. These centres will primarily offer couple of courses that are not covered by our regular curriculums in other departments. These two centres will engage students and scholars in scholarly academic activities like working on research projects and scientific reports at macro and micro levels. Besides, these centres will organize national and international meets, conferences, seminars, conventions and other important events of researchers and scholars from India and abroad.</span><br><br></p>


              <h5>Dr. Ambedkar Centre for the Study of Human Rights</h5>
              <p>
              India has produced a number of Human Rights champions and advocates. But rarely anyone could be compared with Dr. B.R. Ambedkar who not only championed the Human Rights for his oppressed and historically excluded community fellows but also gave a distinct direction to the whole nation to accept that it has victimised humanity for centuries together. The centre will not only study and research on the subject matter related to Dr. Ambedkar’s life and his mission but also focus on the issues pertaining to the oppressed and historically oppressed communities in contemporary Indian society.</p>

              <h5>Dr. Martin Luther King Jr. Centre for the Study of Interfaith and Global Peace</h5>
              <p>
              America has been a land of social protests, revolutions and social change. In this centre, the researchers and scholars will study the intersections of interfaith contributing towards Global peace and harmony that Dr. King envisioned in his historic speech “I have a dream”. Sustainable development of any nation depends on the stable social conditions based on the ethos of peace and harmony. Using the approach of studying the interfaith of various religions and community organizations will bring about positive social changes that are better for human values.
              </p>
              
              <h5>Centre for Professional Development</h5>
              <p>
              The Centre for Professional Development with its various refresher courses and training modules intend to help participants of all levels attain their professional and personal goals by providing learning opportunities which are fixable, responsive, and innovative. The need for establishing this Centre originates from the fact that we receive students from very heterogeneous background with different levels of skills and experiential knowledge. After their enrolment in different programmes of the University, they are required to cope up with the demand of the courses as well as demands of the peer pressure. In order to extend support for such students we need to devise modules and certification for the same. These modules may further be customized to suit various other sector specific candidates in terms of Faculty Development Programmes, Management development Programmes, and Continuing Professional Development Programmes for working professionals.</p>
            </div>
        </div>
      </div>


      <div class="tab-pane fade" id="programs-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Programme | SOHSS</h1>
              <br>
              <table border="1" width="100%">

                <tbody>
                  <tr>
                     <th class="py-1 px-3">S.No.</th>
                     <th class="py-1 px-3">School Name</th>
                     <th class="py-1 px-3">Department</th>
                     <th class="py-1 px-3">Program Name</th>
                     <th class="py-1 px-3">Course Structure/Syllabus</th>
                  </tr>

                </tbody>
                <tbody>
                    <tr>
                            <td class="py-1 px-3">1.</td>
                            <td class="py-1 px-3">School Of Humanities &amp; Social Sciences</td>
                            <td class="py-1 px-3">ET</td>
                            <td class="py-1 px-3">B.Ed. (Bachelors of Education)</td>
                            <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOHSS/BEd_CourseStructure_14Sept19.pdf"> Course Structure</a></td>
                    </tr>
                    <tr>
                            <td class="py-1 px-3">2.</td>
                            <td class="py-1 px-3">School Of Humanities &amp; Social Sciences</td>
                            <td class="py-1 px-3">HC</td>
                            <td class="py-1 px-3">M.A. (History and Civilization)</td>
                            <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOHSS/MHC.pdf"> Course Structure</a></td>
                    </tr>
                    <tr>
                            <td class="py-1 px-3">3.</td>
                            <td class="py-1 px-3">School Of Humanities &amp; Social Sciences</td>
                            <td class="py-1 px-3">EP</td>
                            <td class="py-1 px-3">M.A. (Economics, Planning and Development)</td>
                            <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOHSS/MEP.pdf"> Course Structure</a></td>
                    </tr>
                    <tr>
                            <td class="py-1 px-3">4.</td>
                            <td class="py-1 px-3">School Of Humanities &amp; Social Sciences</td>
                            <td class="py-1 px-3">EN</td>
                            <td class="py-1 px-3">M.A. (English)</td>
                            <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOHSS/MEN.pdf"> Course Structure</a></td>
                    </tr>
                    <tr>
                            <td class="py-1 px-3">5. </td>
                            <td class="py-1 px-3">School Of Humanities &amp; Social Sciences</td>
                            <td class="py-1 px-3">IL</td>
                            <td class="py-1 px-3">M.A. (Hindi)</td>
                            <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOHSS/MHI.pdf"> Course Structure</a></td>
                    </tr>
                    <tr>
                            <td class="py-1 px-3">6.</td>
                            <td class="py-1 px-3">School Of Humanities &amp; Social Sciences</td>
                            <td class="py-1 px-3">IL</td>
                            <td class="py-1 px-3">M.A. (Urdu)</td>
                            <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOHSS/MUD.pdf"> Course Structure</a></td>
                     </tr>
                     <tr>
                            <td class="py-1 px-3">7.</td>
                             <td class="py-1 px-3">School Of Humanities &amp; Social Sciences</td>
                            <td class="py-1 px-3">MC</td>
                            <td class="py-1 px-3">M.A. (Mass Communication)</td>
                            <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOHSS/MMC.pdf"> Course Structure</a></td>
                           
                     </tr>
                     <tr>
                            <td class="py-1 px-3">8.</td>
                            <td class="py-1 px-3">School Of Humanities &amp; Social Sciences</td>
                            <td class="py-1 px-3">SW</td>
                            <td class="py-1 px-3">MSW (Master in Social Work)</td>
                            <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOHSS/MSW.PDF"> Course Structure</a></td>
                           
                     </tr>
                    <tr>
                            <td class="py-1 px-3">9.</td>
                            <td class="py-1 px-3">School Of Humanities &amp; Social Sciences</td>
                            <td class="py-1 px-3">SO</td>
                            <td class="py-1 px-3">M.A. (Sociology)</td>
                            <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOHSS/MSO.pdf"> Course Structure</a></td>
                    
                     </tr>
                     <tr>
                            <td class="py-1 px-3">10.</td>
                            <td class="py-1 px-3">School Of Humanities &amp; Social Sciences</td>
                            <td class="py-1 px-3">PM</td>
                            <td class="py-1 px-3">M.A./ M.Sc. (Applied Psychology) (With a provision of M.Sc. For the candidates with Science background)</td>
                            <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOHSS/MPM.pdf"> Course Structure</a></td>
                        
                     </tr>
                     <tr>
                            <td class="py-1 px-3">11.</td>
                            <td class="py-1 px-3">School Of Humanities &amp; Social Sciences</td>
                            <td class="py-1 px-3">PR</td>
                            <td class="py-1 px-3">M.A. (Political Science and International Relations)</td>
                            <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOHSS/MPR.pdf"> Course Structure</a></td>
                            
                     </tr>
                     <tr>
                            <td class="py-1 px-3">12.</td>
                            <td class="py-1 px-3">School Of Humanities &amp; Social Sciences</td>
                            <td class="py-1 px-3">ET</td>
                            <td class="py-1 px-3">M.A. (Education)</td>
                            <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOHSS/MED.pdf"> Course Structure</a></td>
                         
                      </tr>
                      <tr>
                            <td class="py-1 px-3">13.</td>
                            <td class="py-1 px-3">School Of Humanities &amp; Social Sciences</td>
                            <td class="py-1 px-3">PM</td>
                            <td class="py-1 px-3">M. Phil. (Clinical Psychology)</td>
                            <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOHSS/MCP.pdf"> Course Structure</a></td>
                          
                      </tr>
                        
                </tbody>
                </table>
            </div>
        </div>
      </div>


      <div class="tab-pane fade" id="placements-overview-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Placements | SOHSS</h1>
              <br>
              <p>In this competitive world, managerial leadership requires both excellent functional skills and exceptional outlook. The CRC helps students in finding appropriate summer projects and final placements. The CRC involves students strategically for summer and final placements. GBUSM placement process aims to match the requirements of the recruiters and the aspirations of the students. The two main placement processes conducted are:</p><p><b>Summer Internship</b></p><p><b>Final Placement</b></p><p><b>To Download Placement Brochure</b></p><p><span> </span></p><p><a href="http://www.gbu.ac.in/Placements/Placement_Brochure_21Nov2016.pdf" target="_blank"></span><button class="btn btn-sm btn-primary">Click Here</button></a></p><p><span> </span></p><p><a href="http://www.gbu.ac.in/Placements/PlacementWebmatter2010.pdf" target="_blank"><b>List of Major Recruiters visited for Placement of MBA/M.Tech Students of Batch 2008-10</b></a></p><p><span> </span></p><p><a href="http://www.gbu.ac.in/Placements/PlacementWebmatter2011.pdf" target="_blank"><b>List of Major Recruiters visited for Placement of MBA/M.Tech Students of Batch 2009-11</b></a></p><p><span> </span></p><p><a href="http://www.gbu.ac.in/Placements/PlacementWebmatter2012.pdf" target="_blank"><b>List of Organizations conducted the Recruitment drive for MBA/M.Tech Students passing out in year 2012</b></a></p><p><span> </span></p>
            </div>
        </div>
      </div>


      <div class="tab-pane fade" id="summer-placements-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Summer Placements | SOHSS</h1>
              <br>
              <ul>
                <li><a href="http://www.gbu.ac.in/SOHSSProfile/SOHSS_SummerPlacement_MSW_23April14.pdf" target="_blank">Summer Placement - List of Students 2012-14 </a></li>
                <li><a href="http://www.gbu.ac.in/SOHSSProfile/SOHSS_Summer_placment_of_students_MSW_2013-15_batch%20_12Feb2015.pdf" target="_blank">Summer Placement - List of Students 2013-15 (MSW)</a></li>
                <li><a href="http://www.gbu.ac.in/SOHSSProfile/MSW_Students_List_summerplacment_1June2017.pdf" target="_blank">Summer Internship Placement List of MSW Students 2017</a></li>
              </ul>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="final-placements-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Final Placements | SOHSS</h1>
              <br>
              <ul>
                <li><a href="http://www.gbu.ac.in/SOHSSProfile/SOHSS_Final%20Placemeent_MSW_2012-14_batch_4March15.pdf" target="_blank">Placement record of the MSW students 2012-14 Batch </a></li>
                <li><a href="http://www.gbu.ac.in/SOHSSProfile/placement_final2016_MSW_students_1June2017.pdf" target="_blank">Placement record of the MSW Students Passed out in 2016</a></li>
              </ul>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="list-of-students-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">List of Students | SOHSS</h1>
              <br>
              <ul>
                <li><a href="http://www.gbu.ac.in/SOHSSProfile/SOHSS_List_of_students_MSW_2012-14_batch_23April14.pdf" target="_blank">List of MSW Students Batch 2012-14</a></li>
                <li><a href="http://www.gbu.ac.in/SOHSSProfile/SOHSS_Students_MSW_2013-15_batch_12Feb2015.pdf" target="_blank">List of MSW Students Batch 2013-15</a></li>
                <li><a href="http://www.gbu.ac.in/SOHSSProfile/List_MSW_students_Batch_2015-17_1June2017.pdf" target="_blank">List of MSW Students Batch 2015-17</a></li>
                <li><a href="http://www.gbu.ac.in/SOHSSProfile/List_MSW_students_Batch_2016-18_1June2017.pdf" target="_blank">List of MSW Students Batch 2016-18</a></li>
              </ul>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="placement-helpdesk-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Placement HelpDesk | SOHSS</h1>
              <br>
              <p><b>Dr. Vinay Kumar Litoria</b></p>
              <p>Director,Corporate Relations</p>
              <p>Phone no. +91-120-2344209</p>
              <p>Mobile no. +91-9717195787</p>
              <p><b>Email:</b> crc@gbu.ac.in , vinay.litoria@gbu.ac.in</p>
              <p><b>Web:</b> www.gbu.ac.in</p>
              <br>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="research-publication-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Research and Publications | SOHSS</h1>
              <br>
              <p>The School of Humanities and Social Sciences nurtures a rich tradition of encouraging strong research interests. The vitality of this tradition is reflected by the underlying ethos of dynamism and intellectual curiosity. The Research programme is based on the synergy between generating innovation and promoting value-based growth. It promotes better understanding of complex individual, social, cultural and economic processes and links their application in the area of International Relations and Social Work. The focus is primarily on the topics of pressing public importance from human rights to interaction of languages and societies. The school has carved a niche being a catalyst for promoting unmatched calibre and quality.</p>

              <a href="http://www.gbu.ac.in/SOHSSProfile/Publications_DeptSocialScience.pdf" target="_blank"><img src="http://www.gbu.ac.in/images/pdfphoto.JPG" alt="" width="40" height="40"> Publications of Faculty from Department of Social Sciences </a>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="training-consultancy-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Training and Consultancy | SOHSS</h1>
              <br>
              <p>Dr. Subhasis Bhadra provided consultancy to International Federation of Red Cross and Red Crescent Societies (IFRC), Myanmar Delegation, and Myanmar Red Cross Society (MRCS) on invitation for conducting “Psychosocial support Programme (PSP) Advocacy workshop and for helping the delegation in developing integrated PSP programme” with other areas of interventions, like HIV/AID, Community Based Health Programme, Disaster management and Preparedness from 15th to 21st August, 2010.</p>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center"></h1>
              <br>
              
            </div>
        </div>
      </div>
      

    </div>
    
    <%include footer%>