<!doctype html>
<html lang="en">
  <head>
    <title>GBU-SOICT</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../schools/css/style.css">
     <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins:400,500|Source+Sans+Pro&display=swap" rel="stylesheet">
    </head>
    <body>
   <div class="header sticky-top">
      <div class="global-header">
        <div class="back-to-home justify-content-center">
          <nav class="navbar shadow py-1" id="top-navigation">
            <div class="container">
              <a class="navbar-brand float-left" href="/"><img src="../../img/logo_gbu.png" id="gbu-logo" class="logo ">
                <h5 class="px-2 my-auto" id="gbu-name">Gautam Buddha University</h5>
              </a>
              <form class="form-inline my-1 my-lg-0 d-none d-lg-block">
                <div class="container">
                  <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
          </nav>
        </div>
        <nav class="navbar shadow navbar-expand-lg navbar-bgcolor">

          <div class="container px-3 my-2">
            <a class="navbar-brand my-auto" href="./soict">
              <div class="row">
                <div class="col" id="col-college-name-1">
                  <div class="row justify-content-end">
                    <h5 class="my-auto" id="college-name-1">University</h5>
                  </div> 
                  <div class="row justify-content-end">
                  <h5 class="my-auto " id="college-name-1">School of</h5>
                  </div>
                </div>
                <div class="col my-auto">
                  <h5 class="my-auto float-right" id="college-name-2">ICT</h5>
                </div>
              </div>
              
            </a>

            <button class="navbar-toggler collapsed my-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
              <span ><i class="fa fa-bars"></i></span>
            </button>

            <div class="navbar-collapse collapse" id="collapsibleNavbar">
              <ul class="nav ml-auto text-center justify-content-center" id="nav-tabs" role="tablist">
                <li class="nav-item active"><a href="#home-tab" class="nav-link" data-toggle="tab" role="tab">Home</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"id="navbardrop" data-toggle="dropdown" href="">About Us</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#about-overview-tab" data-toggle="tab">Overview</a>
                    <a class="dropdown-item" href="#departments-tab" data-toggle="tab">Departments</a>
                    <a class="dropdown-item" href="#programs-tab" data-toggle="tab">Programs</a>
                    <a class="dropdown-item" href="#boardofstudies-tab" data-toggle="tab">Board of Studies</a>
                    <a class="dropdown-item" href="#directory-tab" data-toggle="tab">Directory</a>
                    <a class="dropdown-item" href="#laboratories-tab" data-toggle="tab">Laboratories</a>
                    <a class="dropdown-item" href="#guest-speaker-tab" data-toggle="tab">Guest Speaker</a>
                    <a class="dropdown-item" href="#contactus-tab" data-toggle="tab">Contact Us</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Placements</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#placements-overview-tab" data-toggle="tab">Overview</a>
                    <a class="dropdown-item" href="#summer-placements-tab" data-toggle="tab">Summer Placements</a>
                    <a class="dropdown-item" href="#final-placements-tab" data-toggle="tab">Final Placements</a>
                    <a class="dropdown-item" href="#placement-helpdesk-tab" data-toggle="tab">Placement Helpdesk</a>
                  </div>
                </li>
                <li class="nav-item"><a href="#faculty-tab" class="nav-link" data-toggle="tab">Faculty</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Research & Training</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#research-publication-tab" data-toggle="tab">Research & Publications</a>
                    <a class="dropdown-item" href="#training-consultancy-tab" data-toggle="tab">Training & Consultancy</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="tab-content" id="nav-tabcontent">
      <div class="tab-pane active" id="home-tab" role="tabpanel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../img/banner1.png" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../img/banner5.png" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../img/banner3.png" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="my-5">
          <div class="container">
            <div class="jumbotron">
              <h1 class="text-center">School of Information and Communication Technology</h1>
              <br>
              <p class="text-justify">School of Information and Communication Technology (SICT) was established in the year 2009 and produces skilled doctorate, postgraduate and undergraduate professionals in the emerging areas of Information and Communication Technology (ICT). SICT has excellence in research and education, with year-round talks by our distinguished alumni, academicians, and professionals from industry. ICT pervade nearly all aspects of today’s digital society and will continue in the decades ahead to be of critical importance to the nation’s technological infrastructure. We are proud of the accomplishments of our many alumni, including prize-winning researchers, developers and project leaders in world-class multinational organizations like Siemens, Astrea, Qualcomm, Cadence, Nokia, Lucideous, HCL, Sapient, NEC and so on. </p>
              <br>
              <p class="text-justify">The school is focused on preparing students to meet the ever-increasing technological and social challenges with traditional self-discipline, hard work, all-round personality development and a creative approach to problem-solving. We also promote and nurture the spirit of innovation and enterprise in our students from the first semester itself, so as to enable them, not only to be industry ready but also to be job creators, not just job seekers. To this end, we have engaged with industry to provide a flexible and interdisciplinary, credit-based curricular structure to students.
              </p>
              <br>
              <div class="collapse" id="more-content">
                <p class="text-justify">It offers Doctoral programmes, which are very popular, with a substantial number of research scholars, both full time and part-time on the rolls. School also offers postgraduate programme - 2 Years M.Tech. in Information and Communication Technology (ICT) with specialization in Software Engineering (SE) and Artificial Intelligence & Robotics (AIR), M. Tech. in Computer Science (CS), M.Tech. in Electronics and Communication Engineering (ECE) with specialization in Wireless Communication and Networks (WCN), VLSI Design, and RF & Microwaves. It also offers 5 years Integrated Dual Degree B. Tech. program i.e. CSE and ECE with M. Tech./MBA with following specializations at M. Tech. Level: Software Engineering WCN, AIR, and VLSI Design and undergraduate programmes – 4-year B.Tech. in Computer Science and Engineering (CSE), Electronics and Communication Engineering (ECE) and Information Technology (IT) with modern laboratories, which provides students the skills and the knowledge relevant for meeting the challenges posed by the ICT. The School has spacious classrooms as well as state-of-the-art teaching aids including overhead projectors, LCD panels along with the learning management system. Our faculty members are highly qualified, pioneering in teaching and research.
                </p>
                <br>
                <p class="text-justify">Faculty members are involved in world-class research in Software Engineering, Wireless Communication and Networks, Artificial Intelligence & Robotics, and VLSI Design, Machine Learning, IoT, Networking, Cloud Computing, Big Data Analytics and Security and are recipients of numerous national and international awards. Several faculty members serve on the editorial boards/ reviewer of many prestigious journals, including Institute for Electrical and Electronics Engineering (IEEE), Association for Computing Machinery (ACM), Springer, Elsevier, and other national and international journals etc. These are thrilling times for ICT research scholar, postgraduate and graduates students, as the discipline is contributing towards the development of tools and techniques for almost every field of technology and society.
                </p>
              </div>
              <a href="#more-content" class="float-right" data-toggle="collapse"><i class="fa fa-plus"></i></a>
            </div>
          </div>
        </div>

        <div class="my-5">
          <div class="container py-5">
              <h1 class="text-center">Updates</h1>
          </div>
          <div class="row container mx-auto mb-5">
            <div class="container-fluid col-md-4 my-2">
              <div class="card">
                <div class="card-header text-center">News</div>
                <div class="card-body">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                     <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='news'){%>
                    <a href="/schools/soict/news/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
            <div class="container-fluid col-md-4 my-2">
              <div class="card">
                <div class="card-header text-center">Events</div>
                <div class="card-body">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                  <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='events'){%>
                    <a href="/schools/soict/events/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
            <div class="container-fluid col-md-4 my-2">
              <div class="card">
                <div class="card-header text-center">Notices</div>
                <div class="card-body">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                     <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='notices'){%>
                    <a href="/schools/soict/notices/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
          </div>
        </div>

        <header class="py-3 mx-auto">
          <h1 id="photo-galary-header" class="pt-3">Photo Gallery</h1>
          <p id="photo-galary-header-p" class="px-5 pt-3">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.<br> Nullam id dolor id nibh ultricies vehicula ut elit.</p>
        </header>
            <!-- carousel  ------>
              <div class="container my-3 pb-5">
                <div id="demo" class="carousel slide" data-ride="carousel">

                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="../../img/campuslife1.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../../img/campuslife2.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../../img/campuslife3.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../../img/campuslife4.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div>
              </div>

            <!--- carousel end --->
        </div>

      <div class="tab-pane fade" id="about-overview-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron p-5">
              <h1 class="text-center">Overview</h1>
              <br>
              <p>
                School of Information & Communication Technology offers courses aimed to provide excellent opportunity to the candidates to enter in the arena of higher education and research. The school offers unique opportunity to science graduates also to switchover to technical field and contribute in the rapidly advancing areas of Information Technology and communication, and feel proud by participating in the process of nation-building. The courses are designed to develop overall skills of the candidates and prepare them to face the growing challenges of the corporate world and modern day industry.
              </p>
            </div>
            <div class="container py-3">
                  <div class="card">
                    <div class="row ">
                      <div class="col-md-3">
                          <img src="http://placehold.it/560x560" class="w-100">
                          <h4 class="text-center py-3">Dean's Message</h4>
                      </div>
                      <div class="col-md-9 p-4 my-auto">
                        <div class="card-block px-3">

                          <p class="card-text">SICT came in to existence in 2008 with the primary objective of catering all academic/research requirements in fields of electronics communication and computer science first academic session consisting of post graduate program started in July 2009 and at present it is successfully running under graduate post graduate and research programs in all emerging areas related with information & Communication Technology. School is committed towards providing highest quality teaching education and producing technocrats who can work on the latest available technologies in the global context. To fulfil this aim and to provide education according to industrial requirement the extra academic activities like lectures from outside expert / workshops / symposiums / conferences are organized on a regular basis.
                          </p>
                          <p class="card-text">First batch of postgraduate students has success fully passed in 2011, School has wonderful infrastructure having classrooms equipped with state of the art audio visual support and large number of functional laboratories equipped with state of the are instruments/hardware software and highly committed and dedicated faculty. School has already made a roadmap for its development for next 10 years in the form of “ Vision 2020” document and is in real spirit marching on this roadmap for fulfilling the defined objectives. School aims to become a hub of higher end research activities and has started successfully its research program and have many research scholars on its roll, carrying research in all prominent areas of electronics / communication / computer engineering.
                          </p>
                          <p class="card-text">I am more than confident to tell you that the strongest, most effective and finest weapon an academic organization can ever have is “knowledge” and it is a common quote in ICT field that “knowledge is power”. The School of SICT works on the sole objective of acquiring and propagating as much knowledge as possible to the students.</p>
                          <h5 class="card-title float-left">Prof. Sanjay Kumar Sharma</h5>
                          <button class="btn btn-outline-primary float-right" type="button">Know more</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
      </div>

      <div class="tab-pane fade" id="boardofstudies-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Board Of Studies</h1>
              <br>
              <div class="container ">
                <div class="container py-3">
                  <div class="card">
                    <div class="row ">
                      <div class="col-md-4">
                          <img src="http://placehold.it/560x560" class="w-100">
                      </div>
                      <div class="col-md-8 p-4 my-auto">
                        <div class="card-block px-3">
                          <h4 class="card-title">Dr. Indu Uprety</h4>
                          <p class="card-text">Dean (I/C)<br>Associate Professor<br>School of ICT<br>Gautam Buddha University</p>
                          <button class="btn btn-outline-primary" type="button">Know more</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container my-5">
                  <h3 class="text-center">Internal Members</h3>
                </div>
                <div class="card-deck justify-content-center">
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Rajesh Mishra</h5>
                      <p class="card-text">HoD (ECE)<br>Assistant Professor<br>Department of ECE<br>Gautam Buddha University</p>
                      <button class="btn btn-outline-primary" type="button">Know more</button>
                    </div>
                  </div>
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Vidushi Sharma</h5>
                      <p class="card-text">Assistant Professor<br>Department of CSE<br>Gautam Buddha University</p>
                      <button class="btn btn-outline-primary" type="button">Know more</but`ton>
                    </div>
                  </div>
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Anurag Singh Baghel</h5>
                      <p class="card-text">HoD (CSE)<br>Assistant Professor<br>Departent of CSE<br>Gautam Buddha University</p>
                      <button class="btn btn-outline-primary" type="button">Know more</button>
                    </div>
                  </div>
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Neeta Singh</h5>
                      <p class="card-text">Assistant Professor<br>Department of CSE<br>Gautam Buddha University</p>
                      <button class="btn btn-outline-primary" type="button">Know more</button>
                    </div>
                  </div>
                </div>
                <div class="container my-5">
                  <h3 class="text-center">External Members</h3>
                </div>
                <div class="card-deck justify-content-center">
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Dr. RK. Agarwal</h5>
                      <p class="card-text">Professor<br>School of Computer and System Sciences<br>Jawaharlal Nehru University, New Delhi</p>
                      <button class="btn btn-outline-primary" type="button">Know more</button>
                    </div>
                  </div>
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Raj Senani</h5>
                      <p class="card-text">Professor<br>Department of Electronics and Communication Engineering<br>Netaji Subhas Institute of Technology, Delhi</p>
                      <button class="btn btn-outline-primary" type="button">Know more</but`ton>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="programs-tab" role="tabpanel">
        <div class="container my-5">
          <div class="jumbotron">
            <h1 class="text-center py-3">Programs Offerred</h1>
            <table class="table-responsive border-0" class="mx-auto" border="1" width="100%">

        <tbody><tr>
         <th class="py-1 px-3">S.No.</th>
         <th class="py-1 px-3">School Name</th>
         <th class="py-1 px-3">Department</th>
         <th class="py-1 px-3">Program Name</th>
         <th class="py-1 px-3">Course Structure/Syllabus</th>

        
         </tr>

            </tbody><tbody>

                        <tr>
                          <td class="py-1 px-3">1.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">EC</td>
                          <td class="py-1 px-3">Integrated Dual Degree VLSI (ECE)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/ECE Syllabus/Dual Degree VLSI (ECE).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">2.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">EC</td>
                          <td class="py-1 px-3">Integrated Dual Degree WCN (ECE)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/ECE Syllabus/Dual Degree WCN (ECE).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">3.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">EC</td>
                          <td class="py-1 px-3">M.Tech. VLSI Design_Scheme and Syllabi</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/ECE Syllabus/M.Tech. VLSI Design_Scheme and Syllabi.pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">4.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">EC</td>
                          <td class="py-1 px-3">Integrated Dual Degree VLSI (ECE)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/ECE Syllabus/Dual Degree VLSI (ECE).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">5.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">CS</td>
                          <td class="py-1 px-3">SOICT_CourseStruc(17-19)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/CSE Syllabus/2 M.Tech - AIR/SOICT_CourseStruc(17-19).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">6.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">CS</td>
                          <td class="py-1 px-3">MTech SE (2017-19)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/CSE Syllabus/2 Year M.Tech -SE/MTech SE (2017-19).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">7.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">CS</td>
                          <td class="py-1 px-3">SOICT_MTechCS_(2017-19)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/CSE Syllabus/2 Year M.Tech CS/SOICT_MTechCS_(2017-19).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">8.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">CS</td>
                          <td class="py-1 px-3">IT (2016-20)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/CSE Syllabus/4 Year B.Tech (IT)/IT (2016-20).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">9.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">CS</td>
                          <td class="py-1 px-3">IT (2017-21)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/CSE Syllabus/4 Year B.Tech (IT)/IT (2017-21).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">10.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">CS</td>
                          <td class="py-1 px-3">IT (2018-22)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/CSE Syllabus/4 Year B.Tech (IT)/IT (2018-22).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">11.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">CS</td>
                          <td class="py-1 px-3">Dual Degree ISR final (2014-19)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/Dual Degree ISR final (2014-19).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">12.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">CS</td>
                          <td class="py-1 px-3">Dual degree ISR final (2015-20)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/dual degree ISR final (2015-20).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">13.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">CS</td>
                          <td class="py-1 px-3">Dual degree ISR final (2016-21)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/dual degree ISR final (2016-21).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">14.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">CS</td>
                          <td class="py-1 px-3">Dual degree ISR final (2017-22)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/dual degree ISR final (2017-22).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">15.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">CS</td>
                          <td class="py-1 px-3">Dual degree SE final( 2015-20)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/dual degree SE final( 2015-20).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">16.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">CS</td>
                          <td class="py-1 px-3">Dual degree SE final( 2016-21)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/dual degree SE final( 2016-21).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">17.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">CS</td>
                          <td class="py-1 px-3">Dual degree SE final( 2017-22)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/dual degree SE final( 2017-22).pdf"> Course Structure</a></td>
                        </tr>

                        <tr>
                          <td class="py-1 px-3">18.</td>
                          <td class="py-1 px-3">School Of ICT</td>
                          <td class="py-1 px-3">CS</td>
                          <td class="py-1 px-3">Dual degree SE final(14-19)</td>
                          <td class="py-1 px-3"><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/dual degree SE final(14-19).pdf"> Course Structure</a></td>
                        </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="departments-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h2 class="text-center pb-3">Departments | SOICT</h2>
        <!----><div><p><b><span>1. Department of Computer Science &amp; Engineering</span></b></p><p><span>Department of Computer Science and Engineering offers courses in the area of Computer Science as well as Information Technology. Five year integrated courses and in M.Techcourses have been our strength since long. We offer masters courses in Computer Science and in ICT with specialization in Software Engineering. Recently we have started  4 year B.Tech programmes both in Computer Science and Engineering and in Information Technology. Being part of School of ICT, we offer and support interdisciplinary courses. We offer M.Tech. (ICT) with specialization in Artificial Intelligence and Robotics and we support  M.Tech (Electronics) with specialization in Wireless and Communication Networks. We have highly qualified, competent and experienced faculty which is supported by well-equipped labs and infrastructure. Our department carries a vision to groom our studentsinto professionals in their respective area of expertise. To do so, besides curriculum, we expose our students to frequent high quality skill enhancement workshops, industry visits, expert lectures, national and international conferences. Our students have achieved very high ratio of placement in good companies and several of them progressed to pursue further education abroad. We do regular updates in our curriculum to address need of the hour in the industry and to make our students ready for cutting edge technology. Under the supervision of our esteemed faculty, several scholars have completed their Ph.D with high quality research and several are still pursuing. Our students and scholars have explored very deep in latest area in the computer science and information technology. These areas include Cloud Computing, Big Data, Artificial Intelligence, Deep Learning, Pattern Recognition, Decision Making, Sensor Networks, Aspect Oriented Programming, professional level Software Engineering, and many more. </span></p><p><span></span></p><p><span>Dr. Anurag Singh Baghel</span></p><p><span>HoD, CSE</span></p><p><span></span></p><p><span></span></p><p><span></span></p><p><span></span></p><p><span></span></p><p><b><span>2. Department of Electronics &amp; Communication Engineering</span></b><span></span></p><p><span>Electronics and Communication Engineering is one of the most fascinating fields for understanding and practising. Even tiny pieces of device nugget possess incredible magic. A mobile phone takes the electromagnetic signal from the air, converts, compress and processes this information further and shove it again in the air. Jillions of these data in a very short span of time received these messages and sent reliably to the different corner of the globe. Everybody in the universe is connected wirelessly through just one identity number.</span></p><p><span>            </span></p><p><span>The students of the department are nurtured in such a way they can be well recruitable in repute companies or become researchers after completion of their degree from the department. Further, I am confident that this bunch of professional talents, who are going to complete our studies from the department, will be of great value and a big asset to any organization they join.</span></p><p><span></span></p><p><span>Dr. Rajesh Mishra</span></p><p><span>HoD, ECE</span></p>
        </div>

            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="directory-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron text-center">
              <h1 class="text-center strong">Directory | SOICT</h1>
              <br>
              <p ></p><h2></h2><table class="table-responsive border-0" class="MsoTableGrid mx-auto" border="1" cellspacing="0" cellpadding="0" >  <tbody><tr>   <td width="310">   <p><b><span>Name/Designation/Section</span></b><span></span></p>   </td>   <td width="310">   <p><b><span>                          Phone No.</span></b></p>   </td>  </tr>  <tr>   <td width="310">   <p><span>Prof. Pradeep Kumar Yadav, Dean</span></p>   </td>   <td width="310">   <p><span>0120-2346067</span></p>   </td>  </tr>  <tr>   <td width="310">   <p><span>Dr. Rajesh Mishra</span></p>   </td>   <td width="310">   <p><span>0120-2346076</span></p>   </td>  </tr>  <tr>   <td width="310">   <p><span>Dr. Vidushi Sharma</span></p>   </td>   <td width="310">   <p><span>0120-2346077</span></p>   </td>  </tr>  <tr>   <td width="310">   <p><span>Dr. Anurag Singh   Baghel</span></p>   </td>   <td width="310">   <p><span>0120-2346090</span></p>   </td>  </tr>  <tr>   <td width="310">   <p><span>Dr. Neeta Singh</span></p>   </td>   <td width="310">   <p><span>0120-2346080</span></p>   </td>  </tr>  <tr>   <td width="310">   <p><span>Dr. Pardeep Tomar</span></p>   </td>   <td width="310">   <p><span>0120-2346085</span></p>   </td>  </tr>  <tr>   <td width="310">   <p><span>Dr. Arun Solanki</span></p>   </td>   <td width="310">   <p><span>0120-2346083</span></p>   </td>  </tr>  <tr>   <td width="310">   <p><span>Dr. Sandhya Tarar</span></p>   </td>   <td width="310">   <p><span>0120-2346078</span></p>   </td>  </tr>  <tr>   <td width="310">   <p><span>Dr. Navaid Zafar Rizvi</span></p>   </td>   <td width="310">   <p><span>0120-2346086</span></p>   </td>  </tr>  <tr>   <td width="310">   <p><span>Dr. Sandeep Sharma</span></p>   </td>   <td width="310">   <p><span>0120-2346087</span></p>   </td>  </tr>  <tr>   <td width="310">   <p><span>Ms. Nidhi Gulathi</span></p>   </td>   <td width="310">   <p><span>0120-2346079</span></p>   </td>  </tr>  <tr>   <td width="310">   <p><span>Dr. Vimlesh Kumar</span></p>   </td>   <td width="310">   <p><span>0120-2346093</span></p>   </td>  </tr>  <tr>   <td width="310">   <p><span>Ms. Aarti Gautam   Dinkar</span></p>   </td>   <td width="310">   <p><span>0120-2346096</span></p>   </td>  </tr>  <tr>   <td width="310">   <p><span>Mr. Rajendra Bahadur   Singh</span></p>   </td>   <td width="310">   <p><span>0120-2346095</span></p>   </td>  </tr>  <tr>   <td width="310">   <p><span>Dr. Priyanka Goyal</span></p>   </td>   <td width="310">   <p><span>0120-2346098</span></p>   </td>  </tr> </tbody></table><p></p>
            </div>
        </div>
      </div>
       <div class="tab-pane fade" id="laboratories-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Laboratories | SOICT</h1>
              <br>
              <table class="table-responsive border-0" width="100%" height="98%" border="0"><tbody><tr><td><table class="table-responsive border-0" width="100%"><tbody><tr><td><p><span>•<span class="Apple-converted-space"> </span></span><a href="http://www.gbu.ac.in/data/ict/ICT-LAB.pdf" target="_blank">Details of Laboratory</a></p></td></tr><tr><td colspan="3"></td></tr></tbody></table></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td colspan="3"><div><div><ul class="extras"><b></b></ul></div></div></td></tr></tbody></table>
            </div>
        </div>
      </div>
       <div class="tab-pane fade" id="contactus-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Contact Us | SOICT</h1>
              <br>
        <!----><div><p>For Admissions related information contact us at</p><p>Admission Office</p><p>Phone No.: 0120-2344234</p><p>Email : admissions@gbu.ac.in</p><p>For Admissions related information of different programmes in School of Information and</p><p>Communication Technology contact us at</p><p>School Office</p><p>Phone No.: 01202346070</p><p>Email: soict@gbu.ac.in</p>
            </div>
        </div>
      </div>
    </div>
       <div class="tab-pane fade" id="placements-overview-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Placements | SOICT</h1>
              <br>
        <!----><div><p>The corporate relationship center (CRC) involves students strategically and guides them for obtaining appropriate placement. The departmental placement committee which comprises of student representatives supervised by faculty coordinators works in collaboration with the university CRC.</p><p><b>To Download Placement Brochure</b></p><p> </p><p><a href="http://www.gbu.ac.in/Placements/SOICT_placement%20Brochure_31Jan18.pdf" target="_blank"><span class="Apple-converted-space"></span><span><u>Click Here</u></span></a></p><p><a href="http://www.gbu.ac.in/Placements/PlacementWebmatter2012.pdf" target="_blank"><b>List of Organizations conducted the Recruitment drive for MBA/M.Tech Students passing out in year 2012</b></a></p><p> </p><p><a href="http://www.gbu.ac.in/Placements/SOICT_PlacementGlance_2017_31jAN18.pdf" target="_blank"><b>Placement at Glance – SOICT</b></a></p>

            </div>
        </div>
      </div>
    </div>
      <div class="tab-pane fade" id="summer-placements-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Summer Placements | SOICT</h1>
              <br>
              <table class="table-responsive border-0" width="100%" height="98%" border="0"><tbody><tr><td><table class="table-responsive border-0" width="100%"><tbody><tr><td><img alt="" src="http://www.gbu.ac.in/images/bullet.gif"> <a href="http://www.gbu.ac.in/SIT/SOICT_Preplacement%20Activities_31Jan18.pdf" target="_blank"><b>Summer Placements</b></a></td></tr><tr><td colspan="3"></td></tr></tbody></table></td></tr></tbody></table>

            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="final-placements-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Final Placements | SOICT</h1>
              <br>
        <!----><p>The Campus Placement aims to meet the increasing demands of the business organisations. The process spreads from the month of January to May, wherein the companies from diverse sectors evaluate the students before committing to a permanent hire.</p><p>We have pleasure in announcing that we have been able to garner massive support and patronage of industries and corporate world in terms of final placement of our first batch of M.Tech. students for the session 2010-11.</p><p><img alt="" src="http://www.gbu.ac.in/images/bullet.gif"><a href="http://www.gbu.ac.in/SIT/SOICT_List%20of%20Students%20Placement17-18_31Jan%202018.pdf" target="_blank"><b>List of Students 17-18</b> </a></p><p><img alt="" src="http://www.gbu.ac.in/images/bullet.gif"><a href="http://www.gbu.ac.in/SIT/SOICT_List%20of%20Students_16-17_31Jan18.pdf" target="_blank"><b>List of Students 16-17</b> </a></p>

            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="placement-helpdesk-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Placement HelpDesk | SOICT</h1>
              <br>
        <!----><p>Information and Communication Technology is one of the most fascinating fields for understanding and practicing. Even a tiny piece of device nugget possess incredible magic. A mobile phone take electromagnetic signal from the air, convert, compress and process this information and shove it again to air. Jillions of these data in a very short span of time received these message, and sent reliably to different corner of the globe. Everybody throught the universe is just connected wirelessly through just one number identity.</p><p>There are plenty of infrastructure and specialized faculties available in ICT imparting uptodate programs according to the need of the time. The students of ICT are nurtured in such a way they can be well recruitable or become reasearchers after completion of their degree from our School.</p><p>We are very young and a way towards becoming a renowned academic excellence centre in future. We are confident that this bunch of professional talents, who are going to complete our studies from our School, will be of great value and a big asset to any organization they join. We recommend the current batch for your consideration.</p><hr><p><b>Mr. Vinay Kumar Litoria</b></p><p>Manager,Corporate Relations</p><p>Phone no. +91-120-2344209</p><p>Mobile no. +91-9717195787</p><p><b>Email: crc@gbu.ac.in , vinay.litoria@gbu.ac.in</b></p><p><b>Web: www.gbu.ac.in</b></p><hr><p><b>Dr. Navaid Z. Rizvi</b></p><p>Mobile no. +91-9971475401</p><p><b>Email: crc@gbu.ac.in , navaid@gbu.ac.in</b></p><p><b>Web: www.gbu.ac.in</b></p><hr><p><b>Mr. Vimlesh Kumar</b></p><p>Mobile no. +91-9650081596</p><p><b>Email: crc@gbu.ac.in , vimlesh@gbu.ac.in</b></p><p><b>Web: www.gbu.ac.in</b></p>

            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="research-publication-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Research and Publications | SOICT</h1>
              <br>
              <table class="table-responsive border-0" border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td><p>School of Information &amp; Communication Technology provides a rich platform for the Research associates to carry out the research initiatives.Currently research in following themes are being carried out.</p></td></tr></tbody></table><table class="table-responsive border-0" border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td></td></tr><tr><td>1. <a href="http://www.gbu.ac.in/SIT/PhD%20resesearch%20Scholars%20-School%20of%20ICT_5Dec2016.pdf" target="_blank"><img src="http://www.gbu.ac.in/images/pdfphoto.JPG" alt="" width="40" height="40"> List of Ph.D. Research Scholars –School of ICT</a></td></tr></tbody></table></td></tr></tbody></table>
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="faculty-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Faculty | SOICT</h1>
              <br>
              <p>One of the biggest strengths of the School of Information Technology is its dedicated, competent and accomplished faculty. The faculty members have distinguished academic achievements in their respective areas and the related basic disciplines and are actively involved in teaching, training, and research. They conduct consultancy assignments to keep in touch with the real-life corporate challenges in public and Private Companies, financial institutions, government agencies and international agencies etc. Dedicated academicians and eminent researchers are also committed to bringing out the latent potential in every student. The faculty members of the university are prepared to take an extra step that separates excellence from merely adequate. As this is a residential campus, the faculty members are available for consultations and guidance outside the classroom as well in an informal and customized level.</p>


        <table class="table-responsive border-0" class="center mx-auto " border="1">
            <tbody>
                <tr>
                    <th scope="col" class="py-1 px-3">Title</th>
                    <th scope="col" class="py-1 px-3">Name of Faculty</th>
                    <th scope="col" class="py-1 px-3">Designation</th>
                </tr>
                <tr>
                    <td class="py-1 px-3">Prof.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Pradeep Kumar Yadav">Pradeep Kumar Yadav</a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Professor and Dean </td>
                </tr>
                <tr>
                    <td class="py-1 px-3">Prof.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Sanjay Kumar Sharma">Sanjay Kumar Sharma</a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Professor  </td>
                </tr>
                <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Rajesh Mishra">Rajesh Mishra </a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Assistant Professor </td>
                </tr>
                <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Vidushi Sharma">Vidushi Sharma </a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Assistant Professor</td>
                </tr>
                <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Anurag Singh Baghel">Anurag Singh Baghel </a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Assistant Professor </td>
                </tr>
                <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Pradeep Tomar">Pradeep Tomar </a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Assistant Professor</td>
                </tr>
                <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Neeta Singh">Neeta Singh </a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Assistant Professor</td>
                </tr>
                <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Sandhya Tarar">Sandhya Tarar </a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Research / Faculty Associate</td>
                </tr>
                <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Arun Solanki">Arun Solanki </a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Research / Faculty Associate</td>
                </tr>
                <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Navaid Zafar Rizvi">Navaid Zafar Rizvi </a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Research / Faculty Associate</td>
                </tr>
                <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Sandeep Sharma">Sandeep Sharma </a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Research / Faculty Associate</td>
                </tr>
                <tr>
                    <td class="py-1 px-3">Ms.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Nidhi Gulati">Nidhi Gulati </a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Research / Faculty Associate</td>
                </tr>
                <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Vimlesh Kumar">Vimlesh Kumar Ray </a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Research / Faculty Associate</td>
                </tr>
                <tr>
                    <td class="py-1 px-3">Ms.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Aarti Gautam Dinker">Aarti Gautam Dinker </a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Research / Faculty Associate</td>
                </tr>
                <tr>
                    <td class="py-1 px-3">Mr.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Rajendra Bahadur Singh">Rajendra Bahadur Singh </a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Research / Faculty Associate</td>
                </tr>
                <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="td-txt py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Priyanka Goyal">Priyanka Goyal </a>
                        <br>
                    </td>
                    <td class="td-txt py-1 px-3">Research / Faculty Associate</td>
                </tr>
            </tbody>
        </table>


            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="guest-speaker-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Guest Speaker</h1>
              <br>
                <a href="http://www.gbu.ac.in/Guest Speaker/Guest Lecture 22 03 2012.xlsx"> School of Information &amp; Communication Technology Guest Speaker </a>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="training-consultancy-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Training and Consultancy | SOICT</h1>
              <br>
              <br>
        <!----><table class="table-responsive border-0" width="100%"><tbody><tr><td><h5>School of ICT provides Corporate Consultancy, Training, FDP's, Workshop in the fields of</h5><p>NETWORKING</p><p>ARTIFICIAL INTELLIGENCE</p><p>INFORMATION MANAGEMENT</p><p>COMMUNICATION TECHNOLOGIES</p><p>SOFTWARE ENGINEERING</p></td></tr></tbody></table>

            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Contact Us</h1>
              <br>

            </div>
        </div>
      </div>



    </div>

<%include footer%>
