<!doctype html>
<html lang="en">
  <head>

    <title>GBU</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../schools/css/style.css">
     <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins:400,500|Source+Sans+Pro&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <div class="header sticky-top">

      <div class="global-header">
        
        <div class="back-to-home justify-content-center">
          <nav class="navbar shadow py-1" id="top-navigation">
            <div class="container">
              <a class="navbar-brand float-left" href="/"><img src="../../img/logo_gbu.png" id="gbu-logo" class="logo ">
                <h5 class="px-2 my-auto" id="gbu-name">Gautam Buddha University</h5>
              </a>
              <form class="form-inline my-1 my-lg-0 d-none d-lg-block">
                <div class="container">
                  <input class="form-control  form-control-sm" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
          </nav>
        </div>
        <nav class="navbar shadow navbar-expand-lg navbar-bgcolor">

<<<<<<< HEAD
          <div class="container px-3 my-2">
            <a class="navbar-brand my-auto" href="./soljg">
=======
          <div class="container px-3">
            <a class="navbar-brand my-auto" href="/soljg">
>>>>>>> fdddc78d390d454dbc3218906656818ffd0c8328
              <div class="row">
                <div class="col" id="col-college-name-1">
                  <div class="row justify-content-end">
                    <h5 class="my-auto" id="college-name-1">University</h5>
                  </div> 
                  <div class="row justify-content-end">
                  <h5 class="my-auto " id="college-name-1">School</h5>
                  </div>
                </div>
                <div class="col my-auto">
                  <h5 class="my-auto float-right" id="college-name-2">LJG</h5>
                </div>
              </div>
              
            </a>

            <button class="navbar-toggler collapsed my-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
              <span ><i class="fa fa-bars"></i></span>
            </button>

            <div class="navbar-collapse collapse" id="collapsibleNavbar">
              <ul class="nav ml-auto text-center justify-content-center" id="nav-tabs" role="tablist">
                <li class="nav-item active"><a href="#home-tab" class="nav-link" data-toggle="tab" role="tab">Home</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"id="navbardrop" data-toggle="dropdown" href="">About Us</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#about-overview-tab" data-toggle="tab">Overview</a>
                    <a class="dropdown-item" href="#programs-tab" data-toggle="tab">Programs</a>
                    <a class="dropdown-item" href="#admissions-tab" data-toggle="tab">Admissions</a>
                    <a class="dropdown-item" href="#boardofstudies-tab" data-toggle="tab">Board of Studies</a>
                    <a class="dropdown-item" href="#bci-approved-letter-tab" data-toggle="tab">BCI Approved Letter</a>
                    <a class="dropdown-item" href="#contactus-tab" data-toggle="tab">Contact Us</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Placements</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#placements-overview-tab" data-toggle="tab">Overview</a>
                  </div>
                </li>
                <li class="nav-item"><a href="#faculty-tab" class="nav-link" data-toggle="tab">Faculty</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Research</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#research-publication-tab" data-toggle="tab">Research & Publications</a>
                  </div>
                </li>
              </ul>               
            </div>
          </div>  
        </nav>
      </div>  
    </div>

    <div class="tab-content" id="nav-tabcontent">
      <div class="tab-pane active" id="home-tab" role="tabpanel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../img/banner1.png" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../img/banner5.png" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../img/banner3.png" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="my-5">
          <div class="container">
            <div class="jumbotron">
              <h1 class="text-center">School of Law Justice and Governance</h1>
              <br>
              <p class="text-justify">Gautam Buddha University-which has been legislatively conceived as “a centre of excellence”-has started its ambitious multidisciplinary academic programme with the establishment of its School of Law, Justice & Governance in 2011. It is a university for people who have the ideas that make a difference in the world and who love to bring change. The School envisions to foster advancement of learning, teaching and research in the fields of law, justice and governance.</p>
              <br>
              <p class="text-justify">The five-year integrated BA LLB programme has been running since July 2012. To nurture the spirit of innovation and research the university has started its Ph.D programme in 2016 and LL.M program in 2017.
              </p>
              <br>
              <div class="collapse" id="more-content">
                <p class="text-justify">The ongoing programme of the School attempts to strike a right balance between the compulsory subjects prescribed by the Bar Council of India and subjects underscoring the interface between Law, Justice and Governance. The School aims to blend the theoretical knowledge with practical learning and development of skills and professional attitude through clinical legal education.</p>
                <br>
                <p class="text-justify">As the law is increasingly becoming multifaceted and in certain areas more global, so the students are guided to participate in moot-court practice, debate, essay writing and project works. With this, the School also aims to provide an opportunity to the students to explore the undiscovered nuances of legal profession and to engage in setting new standards in legal education.
                </p>
                <br>
                <p class="text-justify">The department currently employs highly motivated and dedicated full-time academicians, who have doctoral degrees in various fields of law and social sciences from different reputed universities. The Faculty tries to maintain the balance between the classroom teaching and changing practical approach of law and also prepare our student community for the various law related career opportunities.
                </p>
              </div>
              <a href="#more-content" class="float-right" data-toggle="collapse"><i class="fa fa-plus"></i></a>
            </div>
          </div>
        </div>

            <!--- carousel end --->
      
        <div id="section-updates">
          <div class="container py-5">
              <h1 class="text-center">Updates</h1>
          </div>
          <div class="row container mx-auto mb-5">
            <div class="container-fluid col-md-4 my-2">
              <div class="card">
                <div class="card-header text-center">News</div>
                <div class="card-body overflow-auto">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                    <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='news'){%>
                    <a href="/schools/soljg/news/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
            <div class="container-fluid col-md-4 my-2">
              <div class="card">
                <div class="card-header text-center">Events</div>
                <div class="card-body overflow-auto">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                    <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='events'){%>
                    <a href="/schools/soljg/events/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
            <div class="container-fluid col-md-4 my-2">
              <div class="card">
                <div class="card-header text-center">Notices</div>
                <div class="card-body overflow-auto">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                    <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='notices'){%>
                    <a href="/schools/soljg/notices/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <header class="py-3 mx-auto">
          <h1 id="photo-galary-header" class="pt-3">Photo Gallery</h1>
          <p id="photo-galary-header-p" class="px-5 pt-3">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.<br> Nullam id dolor id nibh ultricies vehicula ut elit.</p>
        </header>


            <!-- carousel  ------>
              <div class="container my-3 pb-5">
                <div id="demo" class="carousel slide" data-ride="carousel">
                        
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                          <li data-target="#demo" data-slide-to="3"></li>

                        </ul>
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="../../img/campuslife1.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../../img/campuslife2.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../../img/campuslife3.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../../img/campuslife4.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                        </div>
                        
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div> 
              </div>


        </div>

        
      <div class="tab-pane fade" id="about-overview-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron p-5">
              <h1 class="text-center">Overview</h1>
              <br>
              <p>The University has started its ambitious multidisciplinary academic programmes with the establishment of its School of Law, Justice & Governance. The School has been established for the advancement of learning, teaching, research and diffusion of knowledge in the fields of law, justice and governance.</p>
              <br>
              <p>The academic programmes are scheduled to begin in the academic year 2012–13 with a five-year integrated BA LLB programme, commencing in July 2012. The compulsory subjects prescribed by the Bar Council of India are to be taught with subjects underscoring the interface between law, justice and governance. Given the fact that law does not exist in vacuum, the emphasis is to investigate its linkages with politics, hidivory and society for accomplishing the cherished goal of a well-ordered and just society. Throughdivlinical legal education, the aim is to blend the theoretical knowledge with practical learning and the development of skills and right professional attitude. Optional subjects are structured to help the students in opting for the required number of optional subjects not only from the Bar Council of India-designated groups of Constitutional Law, Business Law, Law and Agriculture, Intellectual Property Law, International Law, International Trade Law (WTO Law) but also from a group of subjects covering law-science interface, national security & national security laws, and comparative law. The subjects are shapdiv with great care to make them knowledge and skills-oriented. With this, an endeavour has been made todivater to the complex needs of the society by developing professional skills of students intending to make a career in legal advocacy, management, judicial and other legal services.</p>
              <br>
              <p>The School also provides an opportunity to explore the undiscovered nuances of the legal profession and to engage in setting new standards in legal education. The approach is to impart the education of law and governance with the needs of the time.
              </p>
              <br>
              <h4>Objectives</h4>
              <ul>
                <li>To advance and disseminate the knowledge of law, justice and governance and research with a view to ensuring their role in national development
                </li> 
                <li>To comprehend the socio-political context of the legal structure of the Indian society to achieve social justice.
                </li>
              </ul>
            </div>
            <div class="container py-3">
              <div class="card">
                <div class="row ">
                  <div class="col-md-4">
                      <img src="http://placehold.it/560x560" class="w-100">
                      <h4 class="text-center py-3">Dean's Message</h4>
                  </div>
                  <div class="col-md-8 p-4 my-auto">
                    <div class="card-block px-3">
                      
                      <p class="card-text">School of Law, Justice & Governance is one of the premier legal institution of India. School has best faculty members who had obtained their degree from top institution of the country. Majority faculty members have Ph.D. degree with substantial teaching experience. Articles of faculty members have been published in National and International peer review journals. School has world class infrastructure, 100% ICT enabled class room, Wi-Fi controlling and facility and air conditioned building. Students have single seated hostel accommodation which is being managed by the faculty members, who ensure then very good food and clean environment. Periodical monitoring of food quality and cleanliness is being done by Hon’ble Vice Chancellor and Dean Students affairs. University also take care of the health of each students for that we have qualified doctors. Adjacent to university we have Government medical institute, who is doctors have been given accommodation in the campus. I myself personally take care about well being of each student. I always ensure that teachers come well prepared to deliver their lectures & always try to maintain very positive environment in the school. Justice is ensured to each student’s faculty member, & employee so that there is positive atmosphere in the school. The school striving very hard to prepare the students for future lawyers and judges. The legal education which is being impacted to them is capable of making the masters of all subject. We also provide moot court training so that they learn advocacy skill. Apart from there moral education is also being provided by very experts in this field, even yogi Aditynath Hon’ble Chancellor & Chief Minister of this university. Gautam Buddha University is proud to have a very capable, honest, devoted, hard working and a saint Vice Chancellor Dr. Prabhat Kumar (IAS), who not by his teachings, but by his conduct is providing very good leadership to this university.
                      </p>
                      <p class="card-text">Through these words I can vouch that the future of each students of Gautam Buddha University as well as students of School of Law, Justice & Governance is very safe & secure.</p>
                      <button class="btn btn-outline-primary float-right" type="button">Know more</button>
                      <h5 class="card-title">Prof.(Dr.) S.K.Singh</h5>
                      <h6 class="card-title">LL.M., Ph.D<br>Dean<br>School of Law, Justice & Governance</h6>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="boardofstudies-tab" role="tabpanel">
        <div class="container my-5">
           <div class="jumbotron">
              <h1 class="text-center">Board Of Studies</h1>
              <br>
              <div class="container ">
                <div class="container py-3">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4">
                          <img src="http://placehold.it/560x560" class="w-100">
                      </div>
                      <div class="col-md-8 p-4 my-auto">
                        <div class="card-block px-3">
                          <h4 class="card-title">Prof. (Dr.) S.K. Singh </h4>
                          <p class="card-text">Chairman<br>Dean (SoLJ& G)<br>Gautam Buddha University</p>
                          <button class="btn btn-outline-primary" type="button">Know more</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>  
                <div class="container my-5">
                  <h3 class="text-center">Internal Members</h3>
                </div>
                <div class="card-deck justify-content-center">
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Mamta Sharma</h5>
                      <p class="card-text">HoD<br>School of SoLJ&G<br>Gautam Buddha University</p>
                      <button class="btn btn-outline-primary" type="button">Know more</button>
                    </div>
                  </div>
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Akshay Kumar Singh</h5>
                      <p class="card-text">Assistant Professor<br>School of SoLJ&G<br>Gautam Buddha University</p>
                      <button class="btn btn-outline-primary" type="button">Know more</but`ton>
                    </div>
                  </div>
                </div>
                <div class="container my-5">
                  <h3 class="text-center">External Experts</h3>
                </div>
                <div class="card-deck justify-content-center">
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body"> 
                      <h5 class="card-title">Prof. (Dr.) G.S. Bajpai </h5>
                      <p class="card-text">Registrar<br>National Law University, New Delhi</p>
                      <button class="btn btn-outline-primary" type="button">Know more</button>
                    </div>
                  </div>
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Prof. (Dr.) Ved Kumari</h5>
                      <p class="card-text">Dean<br>Faculty of Law<br>Delhi University, New Delhi</p>
                      <button class="btn btn-outline-primary" type="button">Know more</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="programs-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Programme | SOLJG</h1>
              <br>
              <table class="table-responsive border-0" border="1" width="100%">

                <tbody>
                  <tr>
                   <th class="py-1 px-3">S.No.</th>
                   <th class="py-1 px-3">School Name</th>
                   <th class="py-1 px-3">Department</th>
                   <th class="py-1 px-3">Program Name</th>
                   <th class="py-1 px-3">Course Structure/Syllabus</th>
                  </tr>

                </tbody>
                <tbody>

                  <tr>
                      <td class="py-1 px-3">1.</td>
                      <td class="py-1 px-3">School Of Law Justice &amp; Governance</td>
                      <td class="py-1 px-3">LJ</td>
                      <td class="py-1 px-3">Integrated Dual Degree Programme BA-LLB</td>
                      <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOLJG/IBL.pdf"> Course Structure</a></td>
                     
                  </tr>
                   <tr>
                      <td class="py-1 px-3">3.</td>
                      <td class="py-1 px-3">School Of Law Justice &amp; Governance</td>
                      <td class="py-1 px-3">LJ</td>
                      <td class="py-1 px-3"> LLM (MASTER OF LAWS)</td>
                      <td class="py-1 px-3"> <a href="http://gbu.ac.in/AcadProg/SOLJG/LLMCourseStructure_4March2016.pdf"> Course Structure </a> </td>
                     
                  </tr>
                  <tr>
                      <td class="py-1 px-3">4.</td>
                      <td class="py-1 px-3">School Of Law Justice &amp; Governance</td>
                      <td class="py-1 px-3">LJ</td>
                      <td class="py-1 px-3"> Ph.D in Law</td>
                      <td class="py-1 px-3"> <a href="http://gbu.ac.in/AcadProg/SOLJG/PhDCourseStucture_4March2016.pdf"> Course Structure </a> </td>
                     
                  </tr>
                        
                </tbody>
              </table>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="admissions-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Admission | SOLJG</h1>
              <br>
              <h5>Addmission Eligiblity</h5>
                <p><b><span lang="EN-US">BALL.B</span></b><span lang="EN-US">:  </span><span lang="EN-US">10+2 in any stream from School/College with securing minimum 45% marks for Gen, 42% for OBC (Non-creamy layer), (40% for SC/ST) or equivalent grade.</span></p><p><span lang="EN-US">Mode of selection: Written Test</span></p><p><span lang="EN-US">Number of seats: 120</span></p><p><b><span lang="EN-US">LL.M</span></b><span lang="EN-US">:</span><span lang="EN-US"> </span><span lang="EN-US">Law Degree or an equivalent degree from any recognized University with not less than 50% marks in aggregate (45% for SC/ST category) or equivalent grade</span><span lang="EN-US">.</span></p><p><span lang="EN-US">Mode of selection: Written Test</span></p><p><span lang="EN-US">Number of seats: 30</span></p><p><b><span lang="EN-US">Ph.D</span></b><span lang="EN-US">:</span><span lang="EN-US"> </span><span lang="EN-US">Master's Degree in Law with minimum 55% aggregate marks (50% in case of SC/ST/OBC (non-creamy layer)/ Differently-abled) or its equivalent grade.</span></p><p><span lang="EN-US">Mode of selection: Written Test and Interview</span></p><p><span lang="EN-US">Number of seats: Declared every year on the basis of availability.</span></p>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="bci-approved-letter-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">BCI Approved Letter | SOLJG</h1>
              <br>
              <ol>
                <li><a href="http://www.gbu.ac.in/UniversityDoc/Bar_Council_India_Approval_Letter1_5Aug13.jpg">Letter 1</a></li>
                <li><a href="http://www.gbu.ac.in/data/law/BCI%20Letter%20Page%202.jpg">Letter 2</a></li>
                </ol>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="placements-overview-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Placements | SOLJG</h1>
              <br>
              <p><b><span lang="EN-US">Companies:</span></b><span lang="EN-US"></span><span></span></p><p><span>·<span>       <span> </span></span></span><span>ShardulAmarchand Mangaldas &amp; Co., New Delhi</span></p><p><span>•<span>     <span> </span></span></span><span>Lexis Nexis, New Delhi</span></p><p><span>•<span>     <span> </span></span></span><span>Lawctopus.com</span></p><p><span>•<span>     <span> </span></span></span><span>Karanjawala &amp; Co., New Delhi</span></p><p><span>•<span>     <span> </span></span></span><span>AP&amp;J Law Firm, New Delhi</span></p><p><span>•<span>     <span> </span></span></span><span>SNG &amp; Partners, New Delhi</span></p><p><span>•<span>     <span> </span></span></span><span>ASA Legal, New Delhi</span></p><p><span>•<span>     <span> </span></span></span><span>Dhir &amp; Dhir Associates, New Delhi</span></p><p><span>•<span>     <span> </span></span></span><span>Kochar &amp; Co., New Delhi</span></p><p><span>•<span>     <span> </span></span></span><span>Hammurabi &amp; Solomon, New Delhi</span></p><p><span>•<span>     <span> </span></span></span><span>Louis Breyfus Co., Gurugram</span></p><p><span>•<span>     <span> </span></span></span><span>I Tech Business Solutions</span></p><p><span>•<span>     <span> </span></span></span><span>Brookfield, Gurugram</span></p><p><span>•<span>     <span> </span></span></span><span>Tata Power- DDL- Corporate Legal Department</span></p><p><b><span>Judges</span></b><span></span></p><p><span>•<span>     <span> </span></span></span><span>Honble Justice Arun Kumar Srivastava, Allahabad High Court, Lucknow Bench</span></p><p><span>•<span>     <span> </span></span></span><span>Honble Justice Arun Tandon, Allahabad High Court</span></p><p><span>•<span>     <span> </span></span></span><span>Honble Justice V.K. Shukla, Allahabad High Court</span></p><p><span>•<span>     <span> </span></span></span><span>Honble Justice Sudhir Agarwal, Allahabad High Court</span></p><p><b><span>Lawyers</span></b><span></span></p><p><span>•<span>     <span> </span></span></span><span>Advocate-on-Record: Saurabh Shyam Shasherry – Additional Advocate General of Rajasthan</span></p><p><span>•<span>     <span> </span></span></span><span>Advocate I.H Farooqui- Former Assistant Solicitor General of India</span></p><p><span>•<span>     <span> </span></span></span><span>Advocate Ram Kumar- Counsel for Union of India</span></p><p><span>•<span>     <span> </span></span></span><span>Attorney General’s Chamber of the Republic of Seychelles, New Delhi</span></p><p><b><span>Ministries and Commissions</span></b></p><p><span>•<span>     <span> </span></span></span><span>Institute of Legislative Drafting and Research, Ministry of Law and Justice</span></p><p><span>•<span>     <span> </span></span></span><span>Ministry of Social Justice and Empowerment</span></p><p><span>•<span>     <span> </span></span></span><span>Uttar Pradesh Human Rights Commission</span></p><p><span>•<span>     <span> </span></span></span><span>Bihar Human Rights Commission</span></p><p><b><span>NGOs</span></b></p><p><span>•<span>     <span> </span></span></span><span>Association for Advocacy and Legal Initiatives (AALI), Lucknow</span></p><p><span>•<span>     <span> </span></span></span><span>Human Unity Movement, Lucknow</span></p><p><span>•<span>     <span> </span></span></span><span>Janhit Foundation, Meerut</span></p>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="faculty-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Faculty | SOLJG</h1>
              <br>
              <table class="table-responsive border-0" width="100%"><tbody><tr><td><p>One of the biggest strengths of the University is its dedicated, competent and accomplished faculty. The faculty members have distinguished academic achievements in their respective areas and the related basic disciplines and are actively involved in teaching, training, and research. They conduct consultancy assignments to keep in touch with the real-life corporate challenges in public and Private Companies, financial institutions, government agencies and international agencies etc. Dedicated academicians and eminent researchers are also committed to bringing out the latent potential in every student. The faculty members of the university are prepared to take an extra step that separates excellence from merely adequate. As this is a residential campus, the faculty members are available for consultations and guidance outside the classroom as well in an informal and customized level.</p></td></tr></tbody></table><p><br></p><p><br></p>

              <table class="table-responsive border-0" width="100%" border="1">
                  <tbody>
                      <tr>
                          <th class="py-1 px-3" scope="col">Title</th>
                          <th class="py-1 px-3" scope="col">Name of Faculty</th>
                          <th class="py-1 px-3" scope="col">Designation</th>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Prof.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Surendra Kumar Singh">Surendra Kumar Singh </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Professor and Dean</td>
                      </tr>
                      
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Chandrabhanu Bharas">Chandrabhanu Bharas </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Assistant Professor</td>
                      </tr>
                      
                     
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Mamta Sharma">Mamta Sharma </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Assistant Professor and HoD</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Akshay Kumar Singh">Akshay Kumar Singh </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Assistant Professor</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Sumitra Huidrom">Sumitra Huidrom </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Assistant Professor</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Krishna Kant Dwivedi">Krishna Kant Dwivedi </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Assistant Professor</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Rama Sharma">Rama Sharma </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Assistant Professor</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Santosh Kumar Tiwari">Santosh Kumar Tiwari </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Assistant Professor</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Satish Chandra">Satish Chandra </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Assistant Professor</td>
                      </tr>
                      <tr>
                          <td class="py-1 px-3">Dr.</td>
                          <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Poonam Verma">Poonam Verma </a>
                              <br>
                          </td>
                          <td class="py-1 px-3">Assistant Professor</td>
                      </tr>
                  </tbody>
              </table>

            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="research-publication-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Research and Publications | SOLJG</h1>
              <br>
              <a href="http://www.gbu.ac.in/UniversityDoc/Law-Publication-List.pdf">Research And Publication List</a></div>
            </div>
        </div>
      </div>
    </div>
<%include footer%>