<!doctype html>
<html lang="en">
  <head>

    <title>GBU | Management</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" type="image/gif/png" href="../../../../../img/logo_gbu.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../schools/css/style.css">
     <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins:400,500|Source+Sans+Pro&display=swap" rel="stylesheet">
        <script async src="https://cse.google.com/cse.js?cx=014142162027795520387:rpatngdrvw9"></script>
      <script type="text/javascript">
      function executeQuery() {
    var input = document.getElementById('form-search-input');
    console.log(input)
    var element = google.search.cse.element.getElement('searchresults-only0');
    if (input.value == '') {
      element.clearAllResults();
    } else {
      element.execute(input.value);
    }
    return false;
  }
    </script>
  </head>
  <body>
    
   <div class="header sticky-top">

      <div class="global-header">
        
        <div class="back-to-home justify-content-center">
          <nav class="navbar shadow py-1" id="top-navigation">
            <div class="container">
              <a class="navbar-brand float-left" href="/"><img src="../../img/logo_gbu.png" id="gbu-logo" >
                <h5 class="px-2 my-auto" id="gbu-name">Gautam Buddha University</h5>
              </a>
              <form class="form-inline my-1 my-lg-0 d-none d-lg-block" onsubmit="return executeQuery();">
                <div class="container">
                  <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" id="form-search-input">
                  <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
          </nav>
        </div>
        <nav class="navbar shadow navbar-expand-lg navbar-bgcolor">
          <div class="container px-3 my-3">
            <a class="navbar-brand my-auto" href="/schools/som">
              <div class="row">
                <div class="col" id="col-college-name-1">
                  <div class="row justify-content-end">
                    <h5 class="my-auto" id="college-name-1">University</h5>
                  </div> 
                  <div class="row justify-content-end">
                  <h5 class="my-auto " id="college-name-1">School of</h5>
                  </div>
                </div>
                <div class="col my-auto">
                  <h5 class="my-auto float-right" id="college-name-2">Management</h5>
                </div>
              </div>
              
            </a>

            <button class="navbar-toggler collapsed my-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
              <span ><i class="fa fa-bars"></i></span>
            </button>

            <div class="navbar-collapse collapse" id="collapsibleNavbar">
              <ul class="nav ml-auto text-center justify-content-center" id="nav-tabs" role="tablist">
                <li class="nav-item active"><a href="#home-tab" class="nav-link" data-toggle="tab" role="tab">Home</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"id="navbardrop" data-toggle="dropdown" href="">About Us</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#about-overview-tab" data-toggle="tab">Overview</a>
                    <a class="dropdown-item" href="#deanmsg-tab" data-toggle="tab">Dean's Message</a>
                    <a class="dropdown-item" href="#boardofstudies-tab" data-toggle="tab">Board of Studies</a>
                    <a class="dropdown-item" href="#departments-tab" data-toggle="tab">Departments</a>
                    <a class="dropdown-item" href="#programs-tab" data-toggle="tab">Programs</a>
                    <a class="dropdown-item" href="#guest-speaker-tab" data-toggle="tab">Guest Speaker</a>
                    <a class="dropdown-item" href="#directory-tab" data-toggle="tab">Directory</a>
                    <a class="dropdown-item" href="#contactus-tab" data-toggle="tab">Contact Us</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Placements</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#placements-overview-tab" data-toggle="tab">Overview</a>                    
                    <a class="dropdown-item" href="#summer-placements-tab" data-toggle="tab">Summer Placements</a>
                    <a class="dropdown-item" href="#final-placements-tab" data-toggle="tab">Final Placements</a>
                    <a class="dropdown-item" href="#list-of-students-tab" data-toggle="tab">List of Students</a>
                    <a class="dropdown-item" href="#placement-calender-tab" data-toggle="tab">Placements Calender</a>
                    <a class="dropdown-item" href="#placement-helpdesk-tab" data-toggle="tab">Placement Helpdesk</a>
                  </div>
                </li>
                <li class="nav-item"><a href="#faculty-tab" class="nav-link" data-toggle="tab">Faculty</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Research & Trainings</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#crcsom-tab" data-toggle="tab">Corporate Resource Center</a>
                    <a class="dropdown-item" href="#research-publication-tab" data-toggle="tab">Research & Publications</a>
                    <a class="dropdown-item" href="#training-consultancy-tab" data-toggle="tab">Training & Consultancy</a>
                  </div>
                </li>
              </ul>               
            </div>
          </div>  
        </nav>
      </div>  
    </div>

    <div class="tab-content" id="nav-tabcontent">
      <div class="tab-pane active" id="home-tab" role="tabpanel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img  width="100%" id="fill-image" src="../img/banner1.png" alt="First slide">
            </div>
            <div class="carousel-item">
              <img  width="100%" id="fill-image" src="../img/banner5.png" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img  width="100%" id="fill-image" src="../img/banner3.png" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="my-5">
          <div class="container">
            <div class="jumbotron">
              <h1 class="text-center">School of Management</h1>
              <br>
              <p class="text-justify">The School of Management commenced its first batch of MBA in August 2008 with 120 students.Since then, it has been marching on with an integrated focus on exploring and creating new avenues for young aspirants through strategic collaborations with institutions and enterprises of national and international repute.GBUSM has state of the art classroom and computing facilities, supported by an extensive library of books, journals, films and databases, and a meditation centre.All academic programmes of GBU are fully residential.The serene and pollution - free campus, with extensive sports and co - curricular facilities, is well equipped to meet all the essential requirements of the residents.The curriculum of all its academic activities has international and cross cultural focus.At present, the school offers three programmes in management, which are Master in Business Administration(2 year full time), Integrated MBA(five year), Dual Degree BBA + MBA(with exit option) and Doctoral Programme.                
              </p>
            </div>
          </div>
        </div>
            
        
        <div id="section-updates">
          <div class="container py-5">
              <h1 class="text-center">Updates</h1>
          </div>
          <div class="row container mx-auto mb-5">
            <div class="container-fluid col-md-4 my-2">
              <div class="card" id="card-height">
                <div class="card-header text-center">News</div>
                <div class="card-body overflow-auto">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                    <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='news'){%>
                    <a href="/schools/som/news/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
            <div class="container-fluid col-md-4 my-2">
              <div class="card" id="card-height">
                <div class="card-header text-center">Events</div>
                <div class="card-body overflow-auto">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                   <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='events'){%>
                    <a href="/schools/som/events/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
            <div class="container-fluid col-md-4 my-2">
              <div class="card" id="card-height">
                <div class="card-header text-center">Notices</div>
                <div class="card-body overflow-auto">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                    <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='notices'){%>
                    <a href="/schools/som/notices/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
          </div>
        </div>
          
          
        <header class="py-3 mx-auto">
          <h1 id="photo-galary-header" class="pt-3">Photo Gallery</h1>
        </header>
            <!-- carousel  ------>
              <div class="container my-3 pb-5">
                <div id="demo" class="carousel slide" data-ride="carousel">
                        
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="../schools/img/som/som1.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/som/som2.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/som/som3.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/som/som4.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/som/som5.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/som/som6.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/som/som7.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/som/som8.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/som/som9.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/som/som10.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/som/som11.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../schools/img/som/som12.jpg" id="carousel-item-img" class="img-fluid" width="100%" height="400">
                          </div>
                          
                        </div>
                        
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div> 
              </div>

            <!--- carousel end --->
        </div>

      <div class="tab-pane fade" id="about-overview-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron p-5">
              <h1 class="text-center">Overview</h1>
              <br>
              <p>The School of Management commenced is first batch of MBA in August 2008 with 120 students. Since then, it has been marching on with an integrated focus on exploring and creating new avenues for young aspirants through strategic collaborations with institutions and enterprises of national and international repute. GBUSM has state of the art classroom and computing facilities, supported by an extensive library of books, journals, films and databases, and a meditation centre. All academic programmes of GBU are fully residential. The serene and pollution-free campus, with extensive sports and co-curricular facilities, is well equipped to meet all the essential requirements of the residents. The curriculum of all its academic activities has international and cross cultural focus. At present , the school offers four programmes in management, which are Master in Business Administration (2 year full time), Integrated MBA (five year), Dual Degree BBA+MBA (with exit option) and Doctoral Programme.
              </p>
              <p>The MBA programme with specialisation in Finance, Human Resource Management, Strategic Management, Marketing Management, Operations Management etc has been developed in line with leading Business of national and international repute.The five year integrated MBA has been designed for students who want to develop themselves as professionally skilled global business managers.
              </p>
              <p>The Doctoral programme encourages all working professionals, teachers, and other aspirants to pursue a meaningful and productive research in all functional areas of management.
              </p>
            </div>
            
          </div>
      </div>

      <div class="tab-pane fade" id="deanmsg-tab" role="tabpanel">
          <div class="container py-3">
                <div class="card">
                  <div class="row ">
                    <div class="col-md-3">
                        <center><img src="../schools/img/sob/shwetaanand.png" class="w-100 m-auto"  id="card-image"></center>
                        <h4 class="text-center py-3">Dean's Message</h4>
                    </div>
                    <div class="col-md-9 p-4 my-auto">
                      <div class="card-block px-3">
                        
                        <p class="card-text">Today, business managers have to work in an ever changing environment. In such a scenario, the future can only be envisaged and not foreseen. The students at Gautam Buddha University School of Management (GBUSM) are trained to believe in the credo “change is the only constant”. Competent and experienced faculty at GBUSM inculcates in its students the habit of finding patterns in what initially looks random and chaotic. With its focus on four core values - Character, Creativity, Competence, and Commitment - GBUSM imparts cutting edge value-based education in different management streams that is relevant globally as well as locally. It envisions to set international standards to deliver management education and research with strong ethical values.
                        </p>
                        <p class="card-text">The five year integrated MBA programme focuses on preparing students to be management professionals. We consistently focus upon intensive training for complete development of the students to meet the vibrant challenges of complex global business problems.
                        </p>
                        <p class="card-text">We aim to create an Integrated Management School, which devotes adequate resources on creating new knowledge and influence practices. With this view GBUSM commenced its first batch of Doctoral degree programme from August 2009.
                        </p>
                        <p>The school follows a case-based teaching methodology. The students are encouraged to think out of the box and emerge on top of any given situation. Interaction with leaders from various walks of life gives students a glimpse of situations in the real world and helps them develop holistically into future business leaders who understand the other nuances in life besides business.
                        </p>
                        <h5 class="card-title float-left">Prof. Shweta Anand</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      </div>

      <div class="tab-pane fade" id="boardofstudies-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Board of Studies</h1>
              <br>
              <div class="container">
                <div class="container py-3">
                  <div class="card">
                    <div class="row ">
                      <div class="col-md-4">
                      </div>
                      <div class="col-md-8 p-4 my-auto">
                        <div class="card-block px-3">
                          <h4 class="card-title">Prof. Shweta Anand</h4>
                          <p class="card-text">Dean & Professor<br>School of Management<br>Gautam Buddha University</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!--   
                <div class="container my-5">
                  <h3 class="text-center">Internal Members</h3>
                </div>
                <div class="card-deck justify-content-center">
                  <div class="card my-3">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Indu Uprety</h5>
                      <p class="card-text">Associate Professor<br>School of Management<br>Gautam Buddha University</p>
                    </div>
                  </div>
                </div> -->
                <div class="container my-5">
                  <h3 class="text-center">External Members</h3>
                </div>
                <div class="card-deck justify-content-center">
                  <div class="card my-3">
                    <div class="card-body">
                      <h5 class="card-title">Prof . Amit Mukherjee</h5>
                      <p class="card-text">Professor<br>IIM Lucknow<br>Noida Campus</p>
                    </div>
                  </div>
                  <div class="card my-3">
                    <div class="card-body">
                      <h5 class="card-title">Retd. Prof S.N. Gupta</h5>
                      <p class="card-text">Professor<br>University of South Pacific<br>Noida based</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="programs-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Programme | SOM</h1>
              <br>
              <div class="text-justify table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>S.No.</th>
                          <th>Program Name</th>
                          <th>Course Structure/Syllabus</th>
                        </tr>
                      </thead>
                      <tbody >
                        <tr>
                          <td>1.</td>
                          <td>Integrated Dual Degree Programme BBA-MBA</td>
                          <td><a href="../../../../gbudata/AcadProg/SOM/IBM.pdf"> Course Structure</a></td>
                        </tr>
                        <tr>
                          <td>2. </td>
                          <td>MBA</td>
                          <td><a href="../../../../gbudata/AcadProg/SOM/MBA.pdf"> Course Structure</a></td>
                        </tr>
                        <tr>
                          <td>3.</td>
                          <td>MBA (Tourism and Travel)</td>
                          <td> <a href="#"> Course Structure </a> </td>
                        </tr>
                        <tr>
                          <td>4. </td>
                          <td>Ph.D. (Business Management)</td>
                          <td> <a href="../../../gbudata/AcadProg/SOM/Ph.D.rar"> Course Structure </a> </td>
                        </tr>
                        <tr>
                          <td>5. </td>
                          <td>MBA (Data Mining)</td>
                          <td><a href="../../../gbudata/AcadProg/SOM/Course Outline data mining revised final.pdf">Course Structure </a> </td>
                        </tr>
                        <tr>
                          <td>6. </td>
                          <td>MBA (Business Intelligence)</td>
                          <td><a href="../../../gbudata/AcadProg/SOM/Course outline-Business Intelligence.pdf">Course Structure </a></td>
                        </tr>
                        <tr>
                          <td>7 </td>
                          <td>MBA I Sem Sec-A</td>
                          <td><a href="../../../gbudata/AcadProg/SOM/MBA I Sem Sec-A.rar">Course Structure </a></td>
                        </tr>
                        <tr>
                          <td>8 </td>
                          <td>MBA I Sem Sec-B</td>
                          <td><a href="../../../gbudata/AcadProg/SOM/MBA I Sem Sec-B.rar">Course Structure </a></td>
                        </tr>
                        <tr>
                          <td>9 </td>
                          <td>Integrated MBA</td>
                          <td><a href="../../../gbudata/AcadProg/SOM/Integreted MBA.zip">Course Structure </a></td>
                        </tr>
                        <tr>
                          <td>10 </td>
                          <td>Dual Degree MBA</td>
                          <td><a href="../../../gbudata/AcadProg/SOM/Dual Degree MBA I Sem.rar">Course Structure </a></td>
                        </tr>
                        <tr>
                          <td>11 </td>
                          <td>B.com Hons Section-A</td>
                          <td><a href="../../../gbudata/AcadProg/SOM/B.com Hons Section- A.rar">Course Structure </a></td>
                        </tr>
                        <tr>
                          <td>12 </td>
                          <td>B.com Hons Section-B</td>
                          <td><a href="../../../gbudata/AcadProg/SOM/B.com Hons  Sec- B.rar">Course Structure </a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="departments-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Departments | SOM</h1>
              <br>
              <p>At present, the School of Management has one Department – <b>Department of Business Management</b>:</p>
              <h5>Department of Business Management</h5>
              <p>Department of Business Management focuses on multi-disciplinary and actionable business management programs. Presently, it runs programmes: Master in Business Administration (2 year full time), Integrated MBA (five year), Dual Degree BBA+MBA (with exit option) and Doctoral Programme.. The Department ensures that the education imparted to its students is relevant at all times to businesses, so as to deliver well trained business leaders and managers who are able to influence management practices across organizational boundaries. The department has full commitment to high quality research and hence, continuously invests in research activities in all major functional areas of business management: Finance and Economics, Human Resource Management, Marketing and International Business, Operations Management, Strategy and Entrepreneurship, and General Management.</p>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="directory-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Directory | SOM</h1>
              <br>
              <table class="table-responsive border-0" width="100%">
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td align="justify" valign="top">
                      <table class="table-responsive border-0" border="1" cellpadding="4px" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <th class="py-1 px-3">Name</th>
                            <th class="py-1 px-3">Phone No.</th>
                            <th class="py-1 px-3">Ext. No.</th>
                          </tr>
                          <tr>
                              <td class="py-1 px-3">  Prof. Shweta Anand (Dean)</td>
                              <td class="py-1 px-3">  0120-2346142</td>
                              <td class="py-1 px-3">  6142</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Prof. Pradeep Yadav</td>
                              <td class="py-1 px-3">  0120-2346150</td>
                              <td class="py-1 px-3">  6150</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Dr. Indu Uprety</td>
                              <td class="py-1 px-3">  0120-2346178</td>
                              <td class="py-1 px-3">  6178</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Dr. Neeti Rana</td>
                              <td class="py-1 px-3">  0120-2346151</td>
                              <td class="py-1 px-3">  6151</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Admission Office</td>
                              <td class="py-1 px-3">  0120-2344234</td>
                              <td class="py-1 px-3">  4234            </td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Academic Office</td>
                              <td class="py-1 px-3">  0120-2346144</td>
                              <td class="py-1 px-3">  6144</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Dr. Dinesh Kr. Sharma</td>
                              <td class="py-1 px-3">  0120-2346154</td>
                              <td class="py-1 px-3">  6154</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Dr. Lovy Sarikwal</td>
                              <td class="py-1 px-3">  0120-2346155</td>
                              <td class="py-1 px-3">  6155</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Dr. Manisha Sharma</td>
                              <td class="py-1 px-3">  0120-2346156</td>
                              <td class="py-1 px-3">  6156</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Dr. Rakesh Srivastava            </td>
                              <td class="py-1 px-3">  0120-2346159            </td>
                              <td class="py-1 px-3">  6159</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Dr. Varsha Dixit            </td>
                              <td class="py-1 px-3">  0120-2346158            </td>
                              <td class="py-1 px-3">  6158</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Dr. Subhojit Banerjee            </td>
                              <td class="py-1 px-3">  0120-2346162            </td>
                              <td class="py-1 px-3">  6162</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Dr. Satish Mittal           </td>
                              <td class="py-1 px-3">  0120-2346170            </td>
                              <td class="py-1 px-3">  6170</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Dr. Ajay Kansal            </td>
                              <td class="py-1 px-3">  0120-2346168            </td>
                              <td class="py-1 px-3">  6168</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Dr. Naveen Kumar            </td>
                              <td class="py-1 px-3">  0120-2346160</td>
                              <td class="py-1 px-3">  6160</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Dr. Ombir Singh            </td>
                              <td class="py-1 px-3">  0120-2346161            </td>
                              <td class="py-1 px-3">  6161</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Dr. Kavita Singh            </td>
                              <td class="py-1 px-3">  0120-2346164</td>
                              <td class="py-1 px-3">  6163</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Dr. Samar Raqshin            </td>
                              <td class="py-1 px-3">  0120-2346165            </td>
                              <td class="py-1 px-3">  6165</td>
                            </tr>
                            <tr>
                              <td class="py-1 px-3">  Dr. Monika Bhati            </td>
                              <td class="py-1 px-3">  0120-2346166</td>
                              <td class="py-1 px-3">  6166</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="guest-speaker-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Guest Speaker | SOM</h1>
              <br>
              <table class="table-responsive border-0" border="1" cellpadding="10px" cellspacing="0" width="100%">
                                <tbody>
                                  <tr>
                                    <th class="py-1 px-3">S.NO.</th>
                                    <th class="py-1 px-3">Person Name</th>
                                    <th class="py-1 px-3">Designation</th>
                                    <th class="py-1 px-3">Company</th>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">1.</td>
                                    <td class="py-1 px-3">Mr.Ram Nomula</td>
                                    <td class="py-1 px-3">COO</td>
                                    <td class="py-1 px-3">Moserbaer India Ltd</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">2.</td>
                                    <td class="py-1 px-3">Mr. Uttam Bose</td>
                                    <td class="py-1 px-3">CEO &amp; MD</td>
                                    <td class="py-1 px-3">Caparo</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">3.</td>
                                    <td class="py-1 px-3">Mr. Abhay Saxena</td>
                                    <td class="py-1 px-3">AVP-HR</td>
                                    <td class="py-1 px-3">Hero Corporate Services</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">4.</td>
                                    <td class="py-1 px-3">Mr. Gaurav Gupta</td>
                                    <td class="py-1 px-3">Dealing Head</td>
                                    <td class="py-1 px-3">Edelweiss Broking Ltd.</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">5.</td>
                                    <td class="py-1 px-3">Ms. Pooja Singhal</td>
                                    <td class="py-1 px-3">CEO</td>
                                    <td class="py-1 px-3">Maarg Management Services</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">6.</td>
                                    <td class="py-1 px-3">Ms. Sarika Singh</td>
                                    <td class="py-1 px-3">Sr-Manager-HR</td>
                                    <td class="py-1 px-3">Birlasoft</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">7.</td>
                                    <td class="py-1 px-3">Mr. Gurcharan Singh</td>
                                    <td class="py-1 px-3">Divisional Manager</td>
                                    <td class="py-1 px-3">Carrier Airconditioning &amp; Refrigeration Ltd.</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">8.</td>
                                    <td class="py-1 px-3">Mr. Sandeep Mishra</td>
                                    <td class="py-1 px-3">Branch Head</td>
                                    <td class="py-1 px-3">Birla Sun Life</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">9.</td>
                                    <td class="py-1 px-3">Mr. Subhajit Banerji</td>
                                    <td class="py-1 px-3">Export Manager</td>
                                    <td class="py-1 px-3">Whirlpool of India Ltd</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">10.</td>
                                    <td class="py-1 px-3">Dr. Vishesh Rawat</td>
                                    <td class="py-1 px-3">General Manager</td>
                                    <td class="py-1 px-3">Aerens Gold Souk International Ltd.</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">11.</td>
                                    <td class="py-1 px-3">Mr. Atul Gandotra</td>
                                    <td class="py-1 px-3">CEO</td>
                                    <td class="py-1 px-3">Metro Hospital</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">12.</td>
                                    <td class="py-1 px-3">Mr. Pooran Chandra Pandey</td>
                                    <td class="py-1 px-3">Director</td>
                                    <td class="py-1 px-3">Bennet, Coleman &amp; company's Times Foundation</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">13.</td>
                                    <td class="py-1 px-3">Mr. Rajiv Sahdev</td>
                                    <td class="py-1 px-3">VP- HR</td>
                                    <td class="py-1 px-3">Moserbaer India Ltd</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">14.</td>
                                    <td class="py-1 px-3">Mr. Samar Vijay</td>
                                    <td class="py-1 px-3">CEO</td>
                                    <td class="py-1 px-3">Invest Care</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">15.</td>
                                    <td class="py-1 px-3">Mr. Rakesh Sharma</td>
                                    <td class="py-1 px-3">Head-HR</td>
                                    <td class="py-1 px-3">Motherson Sumi Infotech&amp; Design Ltd.</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">16.</td>
                                    <td class="py-1 px-3">Mr. Deepak Bhatia</td>
                                    <td class="py-1 px-3">Manager-HR</td>
                                    <td class="py-1 px-3">India Glycols Ltd.</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">17.</td>
                                    <td class="py-1 px-3">Dr Ajay Singh</td>
                                    <td class="py-1 px-3">Sr. Manager-Plant Peronnel</td>
                                    <td class="py-1 px-3">Asian Paints Ltd</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">18.</td>
                                    <td class="py-1 px-3">Mr. SN Mishra</td>
                                    <td class="py-1 px-3">Director</td>
                                    <td class="py-1 px-3">Jasper Capital Pvt. Ltd.</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">19.</td>
                                    <td class="py-1 px-3">Mr. Ravinder K Paul</td>
                                    <td class="py-1 px-3">Sr.GM-Marketing</td>
                                    <td class="py-1 px-3">Bharat Bijlee Ltd.</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">20.</td>
                                    <td class="py-1 px-3">Mr. Anupam Bhasin</td>
                                    <td class="py-1 px-3">Wholetime Director</td>
                                    <td class="py-1 px-3">Hero Corporate Services</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">21.</td>
                                    <td class="py-1 px-3">Mr. Naveen Nayak</td>
                                    <td class="py-1 px-3">Project Manager</td>
                                    <td class="py-1 px-3">Dell-Perot System</td>
                                  </tr>
                                  <tr>
                                    <td class="py-1 px-3">22.</td>
                                    <td class="py-1 px-3">Mr. Pankaj Kumar</td>
                                    <td class="py-1 px-3">Team Head- Plant-HR</td>
                                    <td class="py-1 px-3">LG Elec. India Pvt. Ltd</td>
                                  </tr>
                                </tbody>
                </table>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="faculty-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Faculty | SOM</h1>
              <br>
              <p>One of the biggest strengths of the University is its dedicated, competent and accomplished faculty. The faculty members have distinguished academic achievements in their respective areas and the related basic disciplines and are actively involved in teaching, training, and research. They conduct consultancy assignments to keep in touch with the real-life corporate challenges in public and Private Companies, financial institutions, government agencies and international agencies etc. Dedicated academicians and eminent researchers are also committed to bringing out the latent potential in every student. The faculty members of the university are prepared to take an extra step that separates excellence from merely adequate. As this is a residential campus, the faculty members are available for consultations and guidance outside the classroom as well as in an informal and customized level.</p>
              <br>
              <p>The University in its full capacity, will have about 550 faculty members associated to one or more of the following schools and departments: Finance & Accounts, Marketing, Information Technology, Operations Management, Human Resource Management, Strategic Management, Behavioural Science, Economics, School of Bio Technology, School of Information Technology, School of Law & Social Justice, School of Vocational Studies, School of Engineering & Design, and School of Buddhist Studies & Civilization.</p>
              <br>
              <table class="table-responsive border-0" border="1" width="100%" class="mx-auto">
                <tbody>
                    <tr>
                        <th class="py-1 px-3">Title</th>
                        <th class="py-1 px-3">Name of Faculty</th>
                        <th class="py-1 px-3">Designation</th>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Prof.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Shweta Anand">Shweta Anand </a></td>
                        <td class="py-1 px-3">Professor and Dean</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Prof.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Pradeep Kumar Yadav">Pradeep Kumar Yadav </a></td>
                        <td class="py-1 px-3">Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Neeti Rana">Neeti Rana </a></td>
                        <td class="py-1 px-3">Associate Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Indu Uprety">Indu Uprety </a></td>
                        <td class="py-1 px-3">Associate Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Dinesh Kumar Sharma">Dinesh Kumar Sharma </a></td>
                        <td class="py-1 px-3">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Lovy Sarikwal">Lovy Sarikwal </a></td>
                        <td class="py-1 px-3">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Manisha Sharma">Manisha Sharma </a></td>
                        <td class="py-1 px-3">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Varsha Dixit">Varsha Dixit </a></td>
                        <td class="py-1 px-3">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Subhojit Banerjee">Subhojit Banerjee </a></td>
                        <td class="py-1 px-3">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Naveen Kumar">Naveen Kumar </a></td>
                        <td class="py-1 px-3">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Ombir Singh">Ombir Singh </a></td>
                        <td class="py-1 px-3">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Rakesh Kumar Srivastava">Rakesh Kumar Srivastava </a></td>
                        <td class="py-1 px-3">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Satish Kumar Mittal">Satish Kumar Mittal </a></td>
                        <td class="py-1 px-3">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Ajay Kumar Kansal">Ajay Kumar Kansal </a></td>
                        <td class="py-1 px-3">Assistant Professor</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Kavita Singh">Kavita Singh </a></td>
                        <td class="py-1 px-3">Research / Faculty Associate</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Samar Raqshin">Samar Raqshin </a></td>
                        <td class="py-1 px-3">Research / Faculty Associate</td>
                    </tr>
                    <tr>
                        <td class="py-1 px-3">Dr.</td>
                        <td class="py-1 px-3"><a href="../../gbudata/faculty/Monika Bhati">Monika Bhati </a></td>
                        <td class="py-1 px-3">Research / Faculty Associate</td>
                    </tr>
                </tbody>
            </table>


            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="placements-overview-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Placements | SOM</h1>
              <br>
              <p>In this competitive world, managerial leadership requires both excellent functional skills and exceptional outlook. The CRC helps students in finding appropriate summer projects and final placements. The CRC involves students strategically for summer and final placements. GBUSM placement process aims to match the requirements of the recruiters and the aspirations of the students. The two main placement processes conducted are:</p>
              <ul>
                <li>Summer Internship</li>
                <li>Final Placement</li>
              </ul>
              <ul>
                <li><a href="../../gbudata/Placements/PlacementWebmatter2010.pdf" target="_blank"><b>List of Major Recruiters visited for Placement of MBA/M.Tech Students of Batch 2008-10</b></a></li>
                <li><a href="../../gbudata/Placements/PlacementWebmatter2011.pdf" target="_blank"><b>List of Major Recruiters visited for Placement of MBA/M.Tech Students of Batch 2009-11</b></a></li>
                <li><a href="../../gbudata/Placements/PlacementWebmatter2012.pdf" target="_blank"><b>List of Organizations conducted the Recruitment drive for MBA/M.Tech Students passing out in year 2012</b></a></li>
              </ul>
              <a href="../../gbudata/Placements/Placement_Brochure_21Nov2016.pdf"><button class="btn btn-sm btn-outline-primary"> Placement Brochure</button></a>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="summer-placements-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Summer Placements | SOM</h1>
              <br>
              <p>The curriculum of our MBA programme envisages exposure to the current trends in the industry practices through industrial and corporate training and help students get experiential learning in the process. The summer internship for a period of 8-10 weeks aims at widening student perspective towards nuances of Management practices by providing an exposure to organizations and real life situations. This in turn helps organizations in building a meaningful and productive Education-Work alliance and thereby helps us create skilled human resources.</p>
              <p>Gautam Buddha University School of Management (GBUSM) had an extremely successful Summer Placement season in very first year. The list of a few major companies, where the students are doing their summer internship, is mentioned below:</p>
              <table class="table-responsive border-0" class="mx-auto" width="100%" border="1" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td class="py-1 px-3">S.NO.</td>
                    <td class="py-1 px-3">Company Name</td>
                    <td class="py-1 px-3">S. NO.</td>
                    <td class="py-1 px-3">Company Name</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">1</td>
                    <td class="py-1 px-3">Adani Power Ltd</td>
                    <td class="py-1 px-3">24</td>
                    <td class="py-1 px-3">Indian Oil Corporation</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">2</td>
                    <td class="py-1 px-3">Aircel</td>
                    <td class="py-1 px-3">25</td>
                    <td class="py-1 px-3">Jaiprakash Associates Ltd</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">3</td>
                    <td class="py-1 px-3">Albert David Ltd</td>
                    <td class="py-1 px-3">26</td>
                    <td class="py-1 px-3">Jubilant Organosys</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">4</td>
                    <td class="py-1 px-3">Anand Rathi</td>
                    <td class="py-1 px-3">27</td>
                    <td class="py-1 px-3">Judgement Today</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">5</td>
                    <td class="py-1 px-3">Auth Bridge Research Services Pvt Ltd</td>
                    <td class="py-1 px-3">28</td>
                    <td class="py-1 px-3">Karvy Stock Broking Ltd</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">6</td>
                    <td class="py-1 px-3">Aviva Life Insurance</td>
                    <td class="py-1 px-3">29</td>
                    <td class="py-1 px-3">L G Electronics India Ltd</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">7</td>
                    <td class="py-1 px-3">B H E L</td>
                    <td class="py-1 px-3">30</td>
                    <td class="py-1 px-3">Mirc Elec.Ltd</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">8</td>
                    <td class="py-1 px-3">Bank of Baroda</td>
                    <td class="py-1 px-3">31</td>
                    <td class="py-1 px-3">Moser Baer</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">9</td>
                    <td class="py-1 px-3">Bharat Petroleum Corp.Ltd</td>
                    <td class="py-1 px-3">32</td>
                    <td class="py-1 px-3">Mother Dairy</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">10</td>
                    <td class="py-1 px-3">Bhushan Steel</td>
                    <td class="py-1 px-3">33</td>
                    <td class="py-1 px-3">N T P C</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">11</td>
                    <td class="py-1 px-3">Central Electronic Limited</td>
                    <td class="py-1 px-3">34</td>
                    <td class="py-1 px-3">New Holland Fiat Ltd</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">12</td>
                    <td class="py-1 px-3">Caparo Engineering</td>
                    <td class="py-1 px-3">35</td>
                    <td class="py-1 px-3">REI Six Ten</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">13</td>
                    <td class="py-1 px-3">Caravel Logisitc Pvt Ltd.</td>
                    <td class="py-1 px-3">36</td>
                    <td class="py-1 px-3">Reliance Money</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">14</td>
                    <td class="py-1 px-3">Coca Cola</td>
                    <td class="py-1 px-3">37</td>
                    <td class="py-1 px-3">Reliance Power Ltd</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">15</td>
                    <td class="py-1 px-3">DCM Shriram</td>
                    <td class="py-1 px-3">38</td>
                    <td class="py-1 px-3">Religare Securities Ltd</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">16</td>
                    <td class="py-1 px-3">HDFC SLIC</td>
                    <td class="py-1 px-3">39</td>
                    <td class="py-1 px-3">Sharekhan</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">17</td>
                    <td class="py-1 px-3">Hero Motors</td>
                    <td class="py-1 px-3">40</td>
                    <td class="py-1 px-3">State Bank Of India</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">18</td>
                    <td class="py-1 px-3">Hindalco Industries.Ltd</td>
                    <td class="py-1 px-3">41</td>
                    <td class="py-1 px-3">SSIPL</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">19</td>
                    <td class="py-1 px-3">Hindustan Aeronotics Ltd</td>
                    <td class="py-1 px-3">42</td>
                    <td class="py-1 px-3">Talyor &amp; Francis Group</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">20</td>
                    <td class="py-1 px-3">Honda SIEL Cars India Ltd</td>
                    <td class="py-1 px-3">43</td>
                    <td class="py-1 px-3">Tata AIG Life</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">21</td>
                    <td class="py-1 px-3">I G O Marketing</td>
                    <td class="py-1 px-3">44</td>
                    <td class="py-1 px-3">Tata Tele Services Ltd</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">22</td>
                    <td class="py-1 px-3">India Infoline</td>
                    <td class="py-1 px-3">45</td>
                    <td class="py-1 px-3">UCO Bank</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">23</td>
                    <td class="py-1 px-3">India Yamaha Motors Pvt Ltd</td>
                    <td class="py-1 px-3">46</td>
                    <td class="py-1 px-3">Unicon Investment Solutions</td>
                  </tr>
                </tbody>
              </table>

            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="final-placements-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Final Placements | SOM</h1>
              <br>
              <p>The Campus Placement aims to meet the increasing demands of the business organisations. The process spreads from the month of January to May, wherein the companies from diverse sectors evaluate the students before committing to a permanent hire.</p>
              <p>We have pleasure in announcing that we have been able to garner massive support and patronage of industries and corporate world in terms of final placement of our second batch of MBA students for the session 2010-11. Following is the list of companies which has visited for campus recruitment drive of MBA students.</p>
              <p>
                <a href="../../gbudata/Placements/Placement_Website_30June18.pdf" target="_blank"><b> Placement 2017-18</b></a> <img src="../../gbudata/images/new.gif"> 
                <br>
                <a href="../../gbudata/Placements/Placement16 -17_13July2017.pdf" target="_blank"><b> Placement 2016-17</b></a> <img src="../../gbudata/images/new.gif"> 
                <br>
                <a href="../../gbudata/Placements/CRC_Placement_21July2016.pdf" target="_blank"> <b> Placement 2016 </b> </a> 
                <br>
                <a href="../../gbudata/Placements/Website_Placement_28July 2015.pdf" target="_blank"> <b> Placement 2015 </b> </a>
                <br>
                <a href="../../gbudata/Placements/Placement 2014 Link_1stDecember14.pdf" target="_blank"> <b> Placement 2014 </b> </a> 
                <br> 
                <a href="../../gbudata/Placements/Placement 2013_1st December14.pdf" target="_blank"><b> Placement 2013 </b></a> 
                <br> 
                <a href="../../gbudata/Placements/Placement link 2012_24August2015.pdf" target="_blank"><b>Placement 2012</b></a>
                 <br>
                <a href="../../gbudata/Placements/PlacementWebmatter2011.pdf" target="_blank"><b> Placement 2011</b></a>
                 <br>
                <a href="../../gbudata/Placements/PlacementWebmatter2010.pdf" target="_blank"><b> Placement 2010</b></a>
                <br>    
              </p>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="list-of-students-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">List of Students | SOM</h1>
              <br>
              <p><a href="../../gbudata/data/management/MBA_STUDENT_LIST.pdf" target="blank"><b>1: List of MBA 2017-19 and Integrated B.tech+ MBA (2014-19)</b></a></p>
              <p><a href="../../gbudata/data/management/SOM_BBA2014-19List.pdf" target="blank"><b>2: List of students for MBA and Integrated program 2014-19</b></a></p>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="placement-calender-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Placement Callender | SOM</h1>
              <br>
              <table class="table-responsive border-0" class="mx-auto" width="100%" border="1" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <th class="py-1 px-3">Activities</th>
                    <th class="py-1 px-3">Dates</th>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Invitation to Companies</td>
                    <td class="py-1 px-3">Oct 2018</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Pre-placement Presentation by Companies</td>
                    <td class="py-1 px-3">Nov 2018 - May 2019</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Interviews</td>
                    <td class="py-1 px-3">Nov 2018 - Onwards</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="placement-helpdesk-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Placement HelpDesk | SOM</h1>
              <br>
              <p>
                <b>Dr. Vinay Kumar Litoria</b>
              </p>
              <p>Director,Corporate Relations</p>
              <p>Phone no. +91-120-2344209</p>
              <p>Mobile no. +91-9717195787</p>
              <p>
                <b>Email:</b> crc@gbu.ac.in , vinay.litoria@gbu.ac.in
              </p>
              <p>
                <b>Web:</b> www.gbu.ac.in
              </p>
              <hr>
              <p>
                  <b>Mr. Abhinav Sharma</b>
                </p>
                <p>Corporate Resource Center</p>
                <p>Phone no. +91-120-2344327</p>
                <p>
                  <b>Email:</b> crc@gbu.ac.in
                </p>
                <p>
                  <b>Web:</b> www.gbu.ac.in
                </p>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="research-publication-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Research and Publications | SOM</h1>
              <br>
              <p>The University aspires to make a distinct identity at both national and international levels as an integrated academic and research institution of excellent repute. The University promotes research and explorations of possibilities that can prepare students endowed with innovative and entrepreneurial orientations and a deeply rooted faith in human values. Thus the University is dedicated to create an educated and progressive society which provides equal opportunities to all.</p>
              <p>Research being at the core, the University patronizes attempts to provide new theoretical frameworks which enable reassessment and refinement of current practices and theory. The path-breaking interdisciplinary research by the faculty helps directly enhance qualitatively teaching-learning environment of the University and caters to the needs of the practicing professionals in the field. More attention is paid to the relevance, objectivity, and depth of research. In addition to conduct research internally, the faculty is encouraged to undertake several projects which are commissioned and funded by the institutions/companies of national / international repute. Faculty of the University also commit themselves to supervise the research work by the scholars under the Ph. D. programme conducted in the modes such as, faculty/research associates, JRF/UGC sponsored projects, CSIR projects, and other research funding organizations.</p>

              <h5 class="text-center py-3">Publication List | SOM</h5>
              <table class="table-responsive border-0" class="mx-auto" border="1" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td class="py-1 px-3">Title</td>
                    <td class="py-1 px-3">Name of Faculty</td>
                    <td class="py-1 px-3">Designation</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Prof.</td>
                    <td class="py-1 px-3"> Shweta Anand</td>
                    <td class="py-1 px-3">Professor and Dean</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Prof.</td>
                    <td class="py-1 px-3"> Pradeep Kumar Yadav</td>
                    <td class="py-1 px-3">Professor</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="py-1 px-3">Neeti Rana</td>
                    <td class="py-1 px-3">Associate Professor </td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="py-1 px-3">Indu Uprety</td>
                    <td class="py-1 px-3">Associate Professor</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="py-1 px-3">Dinesh Kumar Sharma</td>
                    <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="py-1 px-3">Lovy Sarikwal</td>
                    <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="py-1 px-3">Manisha Sharma</td>
                    <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="py-1 px-3">Varsha Dixit</td>
                    <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="py-1 px-3">Subhojit Banerjee</td>
                    <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="py-1 px-3">Naveen Kumar</td>
                    <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="py-1 px-3">Ombir Singh</td>
                    <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="py-1 px-3">Rakesh Kumar Srivastava</td>
                    <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="py-1 px-3">Satsh Mittal</td>
                    <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="py-1 px-3">Ajay Kansal</td>
                    <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="py-1 px-3">Kavita Singh</td>
                    <td class="py-1 px-3">Research / Faculty Associate</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="py-1 px-3">Samar Raqshin</td>
                    <td class="py-1 px-3">Research / Faculty Associate</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr.</td>
                    <td class="py-1 px-3">Monika Bhati</td>
                    <td class="py-1 px-3">Research / Faculty Associate</td>
                  </tr>
                </tbody>
              </table>
              <h5 class="py-3">Research and Developement | SOM</h5>
              <hr>
              <p>
                1. <a href="../../gbudata/data/management/PhDNAACdata8092018.pdf">List of Research Scholars Awarded PhD</a><br>
                2. <a href="../../gbudata/data/management/PhDNAACdata8092018persuing.pdf">List of Research Scholars Pursuing PhD</a>
              </p>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="training-consultancy-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Training and Consultancy | SOM</h1>
              <br>
              <p>
                1. <a href="../../gbudata/data/management/PhDNAACdata8092018.pdf">List of Research Scholars Awarded PhD</a> <br>
                2. <a href="../../gbudata/data/management/PhDNAACdata8092018persuing.pdf">List of Research Scholars Pursuing PhD</a>
              </p>
              <h5>International Collaboration</h5>
              <hr>
              <p>International Collaboration Cell’ of Gautam Buddha University is involved in developing academic collaboration with Universities abroad. We have already signed ‘Memorandum of Understanding (MOU) with Sheffield Hallam University, Manchester Metropolitan University U.K., Queensland University (Australia) and Academy of Business Studies (Denmark), and are in process of developing such relationship with certain other Universities in Netherland, U.K. and U.S.A. Our Collaboration covers students and faculty collaboration in teaching, research and professional development areas. The U.P. Govt. provides full financial support to students belonging to SC/ST categories & BPL students of General, OBC & Minorities. The financial support includes passage, boarding and all academic fees & expenditures for studying abroad for one semester. Our second batch of such students is undergoing their studies at Shaffield Hallam University, U.K.</p>

            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="crcsom-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Corporate Resource Center | SOM</h1>
              <br>
              <p>
                Continuous interaction with the industry helps students to build strong relationship with the industry professionals. This also helps students to understand the corporate world better and develop themselves as per the needs of the industry.
              </p>
              <p>The Corporate Resource Centre (CRC) at GBU intends to be the face of the University to the Corporate/Industry. It aims to facilitate the process of close Industry-University interactions and actively promote new avenues in experiential learning. The CRC endeavors to bridge the gap between academia and corporate world. It engages leaders, entrepreneurs, executives, and policy makers to address students to facilitate practical learning. The CRC also helps students by counseling them to choose appropriate career options depending on their aptitude and interest. The CRC helps students in finding appropriate summer projects and final placements. The CRC involves students strategically for various events, summer and final placements.</p>
            </div>
        </div>
      </div>


      <div class="tab-pane fade" id="contactus-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Contact Us</h1>
              <br>
              <p>For Admissions related information contact us at</p><p><b>Admission Office</b></p><p>Phone No.: 0120-2344234/47</p><p>Email : admissions@gbu.ac.in</p><p>For more information about MBA programme contact us at</p><p><b>Programme Office</b></p><p>Phone No.: 0120-2346144</p>
            </div>
        </div>
      </div>
      

    </div>
     <div class="gcse-searchresults-only"></div>
        <script type="text/javascript" src="../schools/js/school_main.js"></script>

    <%include footer%>