<!doctype html>
<html lang="en">
  <head>

    <title>GBU</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../schools/css/style.css">
     <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins:400,500|Source+Sans+Pro&display=swap" rel="stylesheet">
  </head>
  <body>
    
   <div class="header sticky-top">

      <div class="global-header">
        
        <div class="back-to-home justify-content-center">
          <nav class="navbar shadow py-1" id="top-navigation">
            <div class="container">
              <a class="navbar-brand float-left" href="/"><img src="../../img/logo_gbu.png" id="gbu-logo" class="logo ">
                <h5 class="px-2 my-auto" id="gbu-name">Gautam Buddha University</h5>
              </a>
              <form class="form-inline my-1 my-lg-0 d-none d-lg-block">
                <div class="container">
                  <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
          </nav>
        </div>
        <nav class="navbar shadow navbar-expand-md navbar-bgcolor">

          <div class="container px-3 my-2">
            <a class="navbar-brand my-auto" href="/sovs">
              <div class="row">
                <div class="col" id="col-college-name-1">
                  <div class="row justify-content-end">
                    <h5 class="my-auto" id="college-name-1">University</h5>
                  </div> 
                  <div class="row justify-content-end">
                  <h5 class="my-auto " id="college-name-1">School</h5>
                  </div>
                </div>
                <div class="col my-auto">
                  <h5 class="my-auto float-right" id="college-name-2">Vocational</h5>
                </div>
              </div>
              
            </a>

            <button class="navbar-toggler collapsed my-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
              <span ><i class="fa fa-bars"></i></span>
            </button>

            <div class="navbar-collapse collapse" id="collapsibleNavbar">
              <ul class="nav ml-auto text-center justify-content-center" id="nav-tabs" role="tablist">
                <li class="nav-item active"><a href="#home-tab" class="nav-link" data-toggle="tab" role="tab">Home</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"id="navbardrop" data-toggle="dropdown" href="">About Us</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#about-overview-tab" data-toggle="tab">Overview</a>
                    <a class="dropdown-item" href="#departments-tab" data-toggle="tab">Departments</a>
                    <a class="dropdown-item" href="#programs-tab" data-toggle="tab">Programs</a>
                    <a class="dropdown-item" href="#laboratories-tab" data-toggle="tab">Laboratories</a>
                    <a class="dropdown-item" href="#departmental-activities-tab" data-toggle="tab">Departmental Activities</a>
                    <a class="dropdown-item" href="#academic-collaboration-tab" data-toggle="tab">Academic Collaborations</a>
                    <a class="dropdown-item" href="#boardofstudies-tab" data-toggle="tab">Board of Studies</a>
                    <a class="dropdown-item" href="#guest-speaker-tab" data-toggle="tab">Guest Speaker</a>
                    <a class="dropdown-item" href="#directory-tab" data-toggle="tab">Directory</a>
                    <a class="dropdown-item" href="#contactus-tab" data-toggle="tab">Contact Us</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Placements</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#placements-overview-tab" data-toggle="tab">Overview</a>                    
                    <a class="dropdown-item" href="#list-of-students" data-toggle="tab">List of Students</a>
                    <a class="dropdown-item" href="#placement-helpdesk-tab" data-toggle="tab">Placement Helpdesk</a>
                  </div>
                </li>
                <li class="nav-item"><a href="#faculty-tab" class="nav-link" data-toggle="tab">Faculty</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Research & Trainings</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#research-publications-tab" data-toggle="tab">Research & Publications</a>
                  </div>
                </li>
              </ul>               
            </div>
          </div>  
        </nav>
      </div>  
    </div>

    <div class="tab-content" id="nav-tabcontent">
      <div class="tab-pane active" id="home-tab" role="tabpanel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../img/banner1.png" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../img/banner5.png" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../img/banner3.png" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="my-5">
          <div class="container">
            <div class="jumbotron">
              <h1 class="text-center">School of Vocational Studies and Applied Sciences</h1>
              <br>
              <p class="text-justify">The School of Vocational Studies and Applied Sciences has been established to inculcate and promote an inquisitive thinking towards science and its applicability in various interdisciplinary subjects amongst young minds of today and tomorrow. The school is committed to provide cutting edge technology and research in partnership with the industries, laboratories and institute of national and international repute.</p>
              <br>
              <p class="text-justify">The School of Vocational Studies & Applied Sciences comprises the primary disciplines of Chemistry, Mathematics, and Physics along with two inter disciplinary subjects, Environmental Science, and Food Processing & Technology. All academic programmes emphasize the integration of the theoretical knowledge with practical applications. Through its academic and research staff, the school possesses a depth and breadth of scientific knowledge. Our breadth of offerings integrate basic sciences to provide a fertile ground for new discoveries and innovative research, drawing together individual expertise and diverse ideas from a variety of fields. The School offers core courses in physical sciences to graduate students of all branches of Engineering, Biotechnology, Management, Information and Communication Technology. The school is all set to start postgraduate/doctoral programmes that support specialized inter disciplinary fields of teaching, research and industry engagement in polymer chemistry, green chemistry, pharmaceutical chemistry, environmental science, food technology, photonics & optoelectronics, nanotechnology, computational fluid dynamics, financial mathematics and industrial Mathematics.
              </p>
              <br>
            </div>
          </div>
        </div>
            
       
        <div id="section-updates">
          <div class="container py-5">
              <h1 class="text-center">Updates</h1>
          </div>
          <div class="row container mx-auto mb-5">
            <div class="container-fluid col-md-4 my-2">
              <div class="card">
                <div class="card-header text-center">News</div>
                <div class="card-body overflow-auto">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                  <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='news'){%>
                    <a href="/schools/sovs/news/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
            <div class="container-fluid col-md-4 my-2">
              <div class="card">
                <div class="card-header text-center">Events</div>
                <div class="card-body overflow-auto">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                   <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='events'){%>
                    <a href="/schools/sovs/events/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
            <div class="container-fluid col-md-4 my-2">
              <div class="card">
                <div class="card-header text-center">Notices</div>
                <div class="card-body overflow-auto">
                  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
                   <%entities.forEach(function(entity){%> 
                  <%if(entity.type=='notices'){%>
                    <a href="/schools/sovs/notices/<%=entity._id%>"><p><%=entity.title%></p></a>
                     <%}});%>
                  </marquee>
                </div>
              </div>
            </div>
          </div>
        </div>
        <header class="py-3 mx-auto">
          <h1 id="photo-galary-header" class="pt-3">Photo Gallery</h1>
          <p id="photo-galary-header-p" class="px-5 pt-3">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.<br> Nullam id dolor id nibh ultricies vehicula ut elit.</p>
        </header>
            <!-- carousel  ------>
              <div class="container my-3 pb-5">
                <div id="demo" class="carousel slide" data-ride="carousel">
                        
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="../../img/campuslife1.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../../img/campuslife2.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../../img/campuslife3.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                          <div class="carousel-item">
                            <img src="../../img/campuslife4.jpg" class="img-fluid" width="100%" height="400">
                          </div>
                        </div>
                        
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div> 
              </div>
        </div>

      <div class="tab-pane fade" id="about-overview-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron p-5">
              <h1 class="text-center">Overview</h1>
              <br>
              <p>
               The school is running in its own building equipped with the latest facilities of class rooms, conference room and laboratories. The school is supported by the central library with large collections of books, journals and central computer facility.
              </p>
              <p>
                The School of Vocational Studies and Applied Sciences has been established to inculcate and promote an inquisitive thinking towards science and its applicability in various interdisciplinary subjects amongst young minds of today and tomorrow. The school is committed to provide cutting edge technology and research in partnership with industries, laboratories and institute of national and international repute.
              </p>
              <p>
                The school is presently running in the building of School of Engineering. Very soon the school will have its own building equipped with the latest facilities of class rooms, conference room and laboratories. The school is supported by the central library with large collections of books, journals and central computer facility.
              </p>
              <p>
                The syllabus of all the courses is designed to cater the basic needs of the various PG programs of the University and to strengthen the background and also to fill essential new skills in Applied Sciences, which are relevant to the need of Science, Engineering and Technology. The lively academic environment is nurtured by strongly motivated faculty members and will provide an opportunity to pursue research leading to Ph.D. degree in front line areas of basic sciences as well as in interdisciplinary areas of science and technology.
              </p>
            </div>
            <div class="container py-3">
                  <div class="card">
                    <div class="row ">
                      <div class="col-md-3">
                          <img src="http://placehold.it/560x560" class="w-100">
                          <h4 class="text-center py-3">Dean's Message</h4>
                      </div>
                      <div class="col-md-9 p-4 my-auto">
                        <div class="card-block px-3">
                          
                          <p class="card-text"> It is my immense pleasure to welcome you to the website of School of Applied Sciences, established in 2010 at Gautam Buddha University. At present, the School of Applied Sciences is running in the building of School of Engineering. It is expected that the School will shift in its own building in 2012.
                          </p>
                          <p class="card-text">Engineering is the application of Science and Mathematics to the solution of the relevant problems in our society, in other words Applied Science is the essence of Engineering. The School is offering different courses of Applied Mathematics, Applied Physics and Applied Chemistry in School of Engineering, School of ICT, School of Biotechnology and Operation Research in School of Management.
                          </p>
                          <p class="card-text">We are committed to provide quality education to our students from a diverse range of backgrounds and experience on the subjects to meet the need –based demand of the 21st century. We are also planning to run Postgraduate and Doctoral degree programs, from the next session. This website offers you, the information you need to make your decisions about the right program of your study.I hope that your experience with us will not only see you to achieve your career, but will also serve to stretch your imagination.
                          </p>
                          <p>Finally, faculty members come to Gautam Buddha University because of the opportunity to work with bright, inquisitive students and to collaborate with colleagues at the head of their professions. We welcome your participation and support as we shall create more opportunity for successive generations of students and faculty.
                          </p>
                          <h5 class="card-title float-left">Prof. N.P. Melkania</h5>
                          <button class="btn btn-outline-primary float-right" type="button">Know more</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
      </div>

      <div class="tab-pane fade" id="boardofstudies-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Board Of Studies</h1>
              <br>
              <div class="container ">
                <div class="container py-3">
                  <div class="card">
                    <div class="row ">
                      <div class="col-md-4">
                          <img src="http://placehold.it/560x560" class="w-100">
                      </div>
                      <div class="col-md-8 p-4 my-auto">
                        <div class="card-block px-3">
                          <h4 class="card-title">Prof. N.P. Melkania</h4>
                          <p class="card-text">Dean<br>Professor<br>School of Vocational Studies & Applied Sciences<br>Gautam Buddha University</p>
                          <button class="btn btn-outline-primary" type="button">Know more</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>  
                <div class="container my-5">
                  <h3 class="text-center">Internal Members</h3>
                </div>
                <div class="card-deck justify-content-center">
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Rajesh Mishra</h5>
                      <p class="card-text">HoD (ECE)<br>Assistant Professor<br>Department of ECE<br>Gautam Buddha University</p>
                      <button class="btn btn-outline-primary" type="button">Know more</button>
                    </div>
                  </div>
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Vidushi Sharma</h5>
                      <p class="card-text">Assistant Professor<br>Department of CSE<br>Gautam Buddha University</p>
                      <button class="btn btn-outline-primary" type="button">Know more</but`ton>
                    </div>
                  </div>
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Anurag Singh Baghel</h5>
                      <p class="card-text">HoD (CSE)<br>Assistant Professor<br>Departent of CSE<br>Gautam Buddha University</p>
                      <button class="btn btn-outline-primary" type="button">Know more</button>
                    </div>
                  </div>
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Neeta Singh</h5>
                      <p class="card-text">Assistant Professor<br>Department of CSE<br>Gautam Buddha University</p>
                      <button class="btn btn-outline-primary" type="button">Know more</button>
                    </div>
                  </div>
                </div>
                <div class="container my-5">
                  <h3 class="text-center">External Members</h3>
                </div>
                <div class="card-deck justify-content-center">
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Dr. RK. Agarwal</h5>
                      <p class="card-text">Professor<br>School of Computer and System Sciences<br>Jawaharlal Nehru University, New Delhi</p>
                      <button class="btn btn-outline-primary" type="button">Know more</button>
                    </div>
                  </div>
                  <div class="card my-3">
                    <img src="http://placehold.it/560x560" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Raj Senani</h5>
                      <p class="card-text">Professor<br>Department of Electronics and Communication Engineering<br>Netaji Subhas Institute of Technology, Delhi</p>
                      <button class="btn btn-outline-primary" type="button">Know more</but`ton>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      
      <div class="tab-pane fade" id="departments-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Departments | SOVAS</h1>
              <br>
              <h5>The School of Vocational Studies and Applied Sciences has following departments:</h5>
              <ul>
                <li>Department of Applied Mathematics</li>
                <li>Department of Applied Chemistry</li>
                <li>Department of Applied Physics</li>
                <li>Department of Environmental Sciences</li>
                <li>Department of Vocational Studies</li>
                <li>Department of Food Processing and Technology</li>
              </ul>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="programs-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Programme | SOVAS</h1>
              <br>
              <table class="table-responsive border-0" border="1">

        <tbody>
          <tr>
           <th class="py-1 px-3">S.No.</th>
           <th class="py-1 px-3">School Name</th>
           <th class="py-1 px-3">Department</th>
           <th class="py-1 px-3">Program Name</th>
           <th class="py-1 px-3">Course Structure/Syllabus</th>  
          </tr>
        </tbody>
          <tbody>

            <tr>
                <td class="py-1 px-3">1.</td>
                <td class="py-1 px-3">School Of Vocational Studies &amp; Applied Sciences</td>
                <td class="py-1 px-3">FT</td>
                <td class="py-1 px-3">Integrated Dual Degree Programme B.Tech - M.Tech/MBA (Food Processing and Technology)</td>
                <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOVSAS/IFT.pdf"> Course Structure</a></td>
            </tr>
            <tr>
                <td class="py-1 px-3">2.</td>
                <td class="py-1 px-3">School Of Vocational Studies &amp; Applied Sciences</td>
                <td class="py-1 px-3">FT</td>
                <td class="py-1 px-3">M.Tech. Food Processing and Technology</td>
                <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOVSAS/MFT.pdf"> Course Structure</a></td>

            </tr>
            <tr>
                <td class="py-1 px-3">3.</td>
                <td class="py-1 px-3">School Of Vocational Studies &amp; Applied Sciences</td>
                <td class="py-1 px-3">AC</td>
                <td class="py-1 px-3">M.Sc. Applied Chemistry</td>
                <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOVSAS/MAC.pdf"> Course Structure</a></td>

            </tr>
            <tr>
                <td class="py-1 px-3">4.</td>
                <td class="py-1 px-3">School Of Vocational Studies &amp; Applied Sciences</td>
                <td class="py-1 px-3">AP</td>
                <td class="py-1 px-3">M.Sc. Applied Physics</td>
                <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOVSAS/MAP.pdf"> Course Structure</a></td>

            </tr>
            <tr>
                <td class="py-1 px-3">5.</td>
                <td class="py-1 px-3">School Of Vocational Studies &amp; Applied Sciences</td>
                <td class="py-1 px-3">AM</td>
                <td class="py-1 px-3">M.Sc. Applied Mathematics</td>
                <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOVSAS/MAM.pdf"> Course Structure</a></td>

            </tr>
            <tr>
                <td class="py-1 px-3">6.</td>
                <td class="py-1 px-3">School Of Vocational Studies &amp; Applied Sciences</td>
                <td class="py-1 px-3">ES</td>
                <td class="py-1 px-3">M.Sc. Environmental Science</td>
                <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOVSAS/MES.pdf"> Course Structure</a></td>

            </tr>
            <tr>
                <td class="py-1 px-3">7.</td>
                <td class="py-1 px-3">School Of Vocational Studies &amp; Applied Sciences</td>
                <td class="py-1 px-3">FT</td>
                <td class="py-1 px-3">M.Sc. Food Science</td>
                <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOVSAS/MFS.pdf"> Course Structure</a></td>

            </tr>
             <tr>
                <td class="py-1 px-3">8.</td>
                <td class="py-1 px-3">School Of Vocational Studies &amp; Applied Sciences</td>
                <td class="py-1 px-3">PS </td>
                <td class="py-1 px-3">B.Sc Physical Sciences</td>
                <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOVSAS/SOVSAS_BSc_Syllabus_final_12Aug2016.pdf"> Course Structure &amp; Syllabus</a></td>

            </tr>
            <tr>
                <td class="py-1 px-3">9.</td>
                <td class="py-1 px-3">School Of Vocational Studies &amp; Applied Sciences</td>
                <td class="py-1 px-3">AP</td>
                <td class="py-1 px-3">Ph.D. (Applied Physics)</td>
                <td class="py-1 px-3"> <a href="http://gbu.ac.in/AcadProg/SOVSAS/PAP.pdf"> Course Structure </a> </td>
            </tr>
            <tr>
                <td class="py-1 px-3">10.</td>
                <td class="py-1 px-3">School Of Vocational Studies &amp; Applied Sciences</td>
                <td class="py-1 px-3">AC</td>
                <td class="py-1 px-3">Ph.D. (Applied Chemistry)</td>
                <td class="py-1 px-3"> <a href="http://gbu.ac.in/AcadProg/SOVSAS/MFT.pdf pac"> Course Structure </a> </td>

            </tr>
            <tr>
                <td class="py-1 px-3">11.</td>
                <td class="py-1 px-3">School Of Vocational Studies &amp; Applied Sciences</td>
                <td class="py-1 px-3">AM</td>
                <td class="py-1 px-3">Ph.D. (Applied Mathematics)</td>
                <td class="py-1 px-3"><a href="http://gbu.ac.in/AcadProg/SOVSAS/PAM.pdf"> Course Structure</a></td>

           </tr>
          </tbody>
        </table>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="laboratories-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Laboratories | SOVAS</h1>
              <br>
              <p><b>Chemistry Laboratory</b></p><p>1. Undergraduate Laboratory</p><p>2. Post-graduation laboratory I</p><p>3. Post-graduation laboratory II</p><p>4. Advanced Chemistry Laboratory</p><p><b>Physics Laboratory</b></p><p>5. Applied Physics Laboratory I</p><p>6. Applied Physics Laboratory II</p><p>7. Applied Physics Laboratory III</p><p><b>Mathematics Laboratory</b></p><p>8. Mathematics Laboratory I</p><p>9. Mathematics Laboratory II</p><p><b>Food Science Laboratory</b></p><p>10. Food Processing and Technology Laboratory</p><p>11. Advanced Food Analysis Laboratory</p><p>12. Cereals Pulses and Oilseeds Laboratory</p><p>13. Food Microbiology Laboratory</p><p>14. Dairy Technology Laboratory</p><p><b>Environmental Science Laboratory</b></p><p>15. Environmental Laboratory I</p><p>16. Environmental Laboratory II</p><p><b>Applied Chemistry Laboratory</b></p><p>1. Post Graduate Laboratory I</p><p>2. Post Graduate Laboratory II</p><p>3. Post Graduate Laboratory III</p><p>4. Under Graduate Laboratory I</p><p>5. Under Graduate Laboratory II</p><p><b>Applied Physics Laboratory</b></p><p>1. Post Graduate Laboratory I</p><p>2. Post Graduate Laboratory II</p><p>3. Post Graduate Laboratory III</p><p>4. Under Graduate Laboratory I</p><p>5. Under Graduate Laboratory II</p><p>6. Under Graduate Laboratory III</p><p><a href="http://www.gbu.ac.in/Guest%20Speaker/Guest%20Lecture%2022%2003%202012.xlsx" target="_blank"></a></p>
            </div>
        </div>
      </div>
    
      <div class="tab-pane fade" id="departmental-activities-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Departmental Activities | SOVAS</h1>
              <br>
              <a href="http://www.gbu.ac.in/SOA/Programmes organized_4Oct18.pdf">Programmes Organized</a>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="academic-collaboration-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Academic Collaboration | SOVAS</h1>
              <br>
              <h5>Academic collaborations:</h5>
              <ol>
                <li>MOU is signed with Department of Food Processing and Technology, Maharana Pratap University of Agriculture and Technology for five years in January 2017.</li>
              </ol>
              <h5>Patents:</h5>
              <ol>
                <li>POLYSACCHARIDE AGENTS AND METHODS FOR REMOVING SOLIDS FROM WATER, US Patent Application No. 61/909,864, filed on November 27, 2013</li>
              </ol>
              <h5>Collaborators:</h5>
              <ol>
                <li>Prof. James H Clark, Green Chemistry Centre of Excellence, University of York UK.</li>
                <li>Department of Chemistry, Texas A & M University, USA.</li>
                <li>Department of Phytochemistry, NBRI, India.</li>
                <li>Department of Chemistry, Texas A & M University, USA.</li>
                <li>Institute of Pesticide Formulation Technology, Ministry of Chemical and Fertilizer, Gurgaon, India.</li>
              </ol>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="guest-speaker-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Guest Speak | SOVAS</h1>
              <br>
              <p>1. As a member of seminar organizing committee organized the following talks: <br><br>a. "Anecdotes about Great Scientists (Novel Laureates)" By Dr. D.S. Dhar, Retd. Professor IIT Kanpur ,Feb. 2, 2016 <br><br><b>Indian Scientists Memorial Lecture Series 2016-17 </b><br><br><b>22nd August 2016 </b><br><br>(a) C.V. Raman Memorial Lecture entitled, “YEAR OF LIGHT AND FIBER OPTICS” by Professor Ajoy Ghatak (former Professor &amp; Head, Deptt. of Physics, IITD <br><br>(b)Salim Ali Memorial Lecture entitled, “BUILD THE LAST FIRST” by Professor N.P. Melkania Deptt. of Environmental Science, GBU. <br><br><b>10th April 2017</b><br><br>(a.) P.C.Ray memorial Lecture entitled “"Inception of sustainable Approaches/Green Chemistry: Application in the Synthesis of Biologically Important Scaffolds"by Professor Akhilesh Kumar Verma (D.U.) <br><br>(b.)Full day workshop on "Intellectual Property Rights and Scientific Research" <br><br><br>2. Dr. Sanjay Sengupta, NISCAIR, NISCAIR activities, writing scientific papers and science communications on 18.10.14. <br><br>3.    Delivered a talk on “Material for Defense Applications” by Dr. T. C. Shami, Scientist-F, DRDO and Additional Director, DMSRD Kanpur on 6th February, 2014. <br><br>4. National Science Day celebration on 28th February, 2014 was organized by School of Vocational Studies and Applied Sciences. Various Programs were organized including lectures by Eminent Scientists Prof. D. S. Rawat, Department of Chemistry, Delhi University, and Dr. Shubhendu Ghosh, Scientist-G from the Inter University Accelerator Centre, New Delhi, debate and quiz competitions involving students of School of Biotechnology and School of Engineering and School of Vocational Studies and Applied Sciences. The basic objective of National Science Day was to spread the message of importance of science and applications among the people. <br><br>5. <a href="http://www.gbu.ac.in/Guest%20Speaker/Guest%20Lecture%2022%2003%202012.xlsx" target="_blank">School of Vocational Studies and Applied Sciences Guest Speakers 2010,2011,2012</a></p>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="placements-overview-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Placements | SOVAS</h1>
              <br>
                <p>The corporate relationship center (CRC) involves students strategically and guides them for obtaining appropriate placement. The departmental placement committee which comprises of student representatives supervised by faculty coordinators works in collaboration with the university CRC.</p>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="list-of-students" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">List of Students | SOVAS</h1>
              <br>
              <a href="http://www.gbu.ac.in/UniversityDoc/SOVSAS_Placement_list%20of%20student_10Nov14.pdf" target="_blank"><img src="http://www.gbu.ac.in/images/pdfphoto.JPG" alt="" width="40" height="40"> Placement Record of Students of SoVSAS (First Batch 2012-2014)</a>
            </div>
        </div>
      </div>

      <div class="tab-pane fade" id="placement-helpdesk-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Placement Helpdesk | SOVAS</h1>
              <br>
              <p><b>Dr. Vinay Kumar Litoria</b></p>
              <p>Director,Corporate Relations</p>
              <p>Phone no.: +91-120-2344209</p>
              <p>Mobile no.: +91-9717195787</p>
              <p><b>Email:</b> crc@gbu.ac.in , vinay.litoria@gbu.ac.in</p>
              <p><b>Web:</b> <a href="http://www.gbu.ac.in/">www.gbu.ac.in</a></p>
                            
            </div>
        </div>
      </div>
  

      <div class="tab-pane fade" id="directory-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Directory | SOVAS</h1>
              <br>
              <table class="table-responsive border-0" border="1" cellpadding="10px" cellspacing="0" width="100%">
                <tbody>
                  <tr class="table-txt">
                    <th class="py-1 px-3">Name/Designation/Section</th>
                    <th class="py-1 px-3">Phone No.</th>
                    <th class="py-1 px-3">Ext. No.</th>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dean</td>
                    <td class="py-1 px-3">0120-2344341</td>
                    <td class="py-1 px-3">4341</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr. Sushil Kumar</td>
                    <td class="py-1 px-3">0120-2344350</td>
                    <td class="py-1 px-3">4350</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr. Vivek Kumar Shukla</td>
                    <td class="py-1 px-3">0120-2344348</td>
                    <td class="py-1 px-3">4348</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr. Jaya Maitra</td>
                    <td class="py-1 px-3">0120-2344349</td>
                    <td class="py-1 px-3">4349</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr. Upma Singh</td>
                    <td class="py-1 px-3">0120-2344352</td>
                    <td class="py-1 px-3">4352</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr. Vandana Singh</td>
                    <td class="py-1 px-3">0120-2344351</td>
                    <td class="py-1 px-3">4351</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr. Pratiksha Saxena</td>
                    <td class="py-1 px-3">0120-2344353</td>
                    <td class="py-1 px-3">4353</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr. Amit K Awasthi</td>
                    <td class="py-1 px-3">0120-2344357</td>
                    <td class="py-1 px-3">4357</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr. Amit Ujlayan</td>
                    <td class="py-1 px-3">0120-2344360</td>
                    <td class="py-1 px-3">4360</td>
                  </tr>
                  <tr>
                    <td class="py-1 px-3">Dr. Bhawana Joshi</td>
                    <td class="py-1 px-3">0120-2344355</td>
                    <td class="py-1 px-3">4355</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
  
      <div class="tab-pane fade" id="faculty-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Faculty | SOVAS</h1>
              <br>
              <p>One of the biggest strengths of the University is its dedicated, competent and accomplished faculty. The faculty members have distinguished academic achievements in their respective areas and the related basic disciplines and are actively involved in teaching, training, and research. They conduct consultancy assignments to keep in touch with the real-life corporate challenges in public and Private Companies, financial institutions, government agencies and international agencies etc. Dedicated academicians and eminent researchers are also committed to bringing out the latent potential in every student. The faculty members of the university are prepared to take an extra step that separates excellence from merely adequate. As this is a residential campus, the faculty members are available for consultations and guidance outside the classroom as well in an informal and customized level.</p>
              <table class="table-responsive border-0" class="mx-auto" border="1" width="100%">
              <tbody>
                  <tr>
                      <th class="py-1 px-3">Title</th>
                      <th class="py-1 px-3">Name of Faculty</th>
                      <th class="py-1 px-3">Designation</th>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Prof.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/N. P. Melkania">N. P. Melkania </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Professor and Dean</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Prof.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Anuradha Mishra">Anuradha Mishra </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Professor </td>
                  </tr>
                
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Vivek Kumar Shukla">Vivek Kumar Shukla </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Vandna Singh">Vandna Singh </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Sushil Kumar">Sushil Kumar </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Amit Kumar Awasthi">Amit Kumar Awasthi </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Amit Ujlayan">Amit Ujlayan </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Upma Singh">Upma Singh </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Pratiksha Saxena">Pratiksha Saxena </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Manmohan Singh Shishodia">Manmohan Singh Shishodia </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Bhawana Joshi">Bhawana Joshi </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Ashish Kumar Keshari">Ashish Kumar Keshari </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Rajesh Kumar Gupta">Rajesh Kumar Gupta </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Dipti Singh">Dipti Singh </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Mausumi Pohit">Mausumi Pohit </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Fahed Zulfeqarr">Fahed Zulfeqarr </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Jaya Maitra">Jaya Maitra </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Alpa Yadav">Alpa Yadav </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                 <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Dr. Manju Sharma">Manju Sharma </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Assistant Professor</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Dr.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Deepti Goyal">Deepti Goyal </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Research / Faculty Associate</td>
                  </tr>
                  <tr>
                      <td class="py-1 px-3">Ms.</td>
                      <td class="py-1 px-3"><a href="http://www.gbu.ac.in/faculty/Tanvi Vats">Tanvi Vats </a>
                          <br>
                      </td>
                      <td class="py-1 px-3">Research / Faculty Associate</td>
                  </tr>
                 
              </tbody>
          </table>

            </div>
        </div>
      </div>
  
      <div class="tab-pane fade" id="research-publications-tab" role="tabpanel">
        <div class="container my-5">
            <div class="jumbotron">
              <h1 class="text-center">Research and Publications | SOVAS</h1>
              <br>
              <table class="table-responsive border-0" width="100%"><tbody><tr><td><p><br></p><h5><b><a href="http://www.gbu.ac.in/SOA/SOVSAS_ResearchPublications_31Aug18.pdf" target="_blank">3.4.5 NUMBER OF RESEARCH PAPERS PER TEACHER IN THE JOURNALS NOTIFIED ON UGC WEBSITE DURING THE LAST FIVE YEARS (20)</a></b></h5><br><br><p></p><p></p><h5><b>PROF. ANURADHA MISHRA</b></h5><p></p><br><p><b>List of Books and Research articles Published/Under publication:</b></p><br><p>• ‘Green Materials for Sustainable Water Remediation and Treatment’, Anuradha Mishra and James H. Clark (Editors), (2013), (ISBN: 978-1-84973-621-3), RSC Publishing, Royal Society of Chemistry, Cambridge, UK</p><br><p>• ‘Approach towards Cleaner Environent’, Anuradha Mishra and Abha Dubey (Editors), (2013), Durga Publication (ISBN: 81-8428-016-5), India</p><br><p><b>Research Articles:</b></p><br><p>• "Application of dried plant biomass as novel low cost adsorbent for removal of Cadmium from Aqueous solution" Anuradha Mishra, Abha Dubey, Shiwani, IJEST, DOI: 10.1007/s13762-013-0278-0, Springer (2013).</p><br><p>• “Tamarind Seed Xyloglucan: A Food Hydrocolloid for Water Remediation” Anuradha Mishra, J. Biobased Mater. Bioenergy 7, 12-18 (2013).</p><br><p>• “Greening the Blue: How the World is Addressing the Challenge of Green Remediation of Water” Anuradha Mishra, James Clark in ‘Green Materials for Sustainable Water Remediation and Treatment’ RSC Publishing, Royal Society of Chemistry, Cambridge, UK (2013).</p><br><p>• “Applications of Ionic Liquids in Metal Extraction” Geeta Durga, Deepti Goyal, Anuradha Mishra, in ‘Green Materials for Sustainable Water Remediation and Treatment’ RSC Publishing, Royal Society of Chemistry, Cambridge, UK (2013).</p><br><p>• “Nanomaterials for Water Remediation” Deepti Goyal, Geeta Durga, Anuradha Mishra, in ‘Green Materials for Sustainable Water Remediation and Treatment’ RSC Publishing, Royal Society of Chemistry, Cambridge, UK (2013).</p><br><p>• “Zeolites in Wastewater Treatment” Abha Dubey, Deepti Goyal, Anuradha Mishra, in ‘Green Materials for Sustainable Water Remediation and Treatment” RSC Publishing, Royal Society of Chemistry, Cambridge, UK (2013).</p><br><p>• “Sustainable Polymer Chemistry: An Introduction to Microwave Heating as a Tool for Polymerization” Anuradha Mishra in ‘Approach towards Cleaner Environent’ Durga Publication, India (2013).</p><br><p>• “Graft Copolymers of Xyloglucan and Methyl methacrylate” Anuradha Mishra, Annu Vij Malhotra, Carbohydrate Polymers, 87(3), 1899-1904 (2012).</p><br><p>• “Green Polymer Synthesis: An Overview on Use of Microwave-Irradiation” Anuradha Mishra and Rashmi Dubey, in “Green Chemistry for Environmental Remediation” Rashmi Sanghi &amp; Vandana Singh (Editors), Wiley Scrivener Publishing LLC (2011).</p><br><p>• “Biosorption of Chromium (VI) from aqueous solutions using waste plant biomass” Anuradha Mishra, Abha Dubey, Shiwani, (Under Revision), IJEST, D-12-00844, Sringer (2013).</p><br><p>• “Adsorption of Chromium ions from aqueous solution on green material beads” Anuradha Mishra, Deepti Goyal, Communicated, ARABJC-D-13-01025 (2013).</p><br><p><b>Conferences / workshops:</b></p><br><p>• Attended a Workshop on Demonstration of Green Chemistry Experiments DGCE-2012 as Resource Person organized by MMH College, Ghaziabad in collaboration with GCNC, Delhi University on Feb 19, 2012.</p><br><p>• Delivered an invited lecture in International Conference on Global Trends in Pure &amp; Applied Chemical sciences, organized under the auspices of Asian J Chemistry at Udaipur during March 3-4, 2012.</p><br><p>• Chaired Session I in International Workshop on Chemistry for a Sustainable Future, jointly organized by University of Rajasthan and MNIT Jaipur during Dec 10-12, 2012.</p><br><p>• Chaired a scientific session in International Conference on Global Trends in Pure &amp; Applied Chemical sciences, organized under the auspices of Asian J Chemistry at Udaipur during March 3-4, 2012.</p><br><p>• Chaired Session I in International Workshop on Chemistry for a Sustainable Future, jointly organized by University of Rajasthan and MNIT Jaipur during Dec 10-12, 2012.</p><br><p><b>Patents:</b></p><br><p>• POLYSACCHARIDE AGENTS AND METHODS FOR REMOVING SOLIDS FROM WATER, US Patent Application No. 61/909,864, filed on November 27, 2013</p><br><p><b>Collaborators:</b></p><br><p>• Prof. James H Clark, Green Chemistry Centre of Excellence, University of York UK.</p><br><p>• Department of Chemistry, Texas A &amp; M University, USA.</p><br><p>• Department of Phytochemistry, NBRI, India.</p><br><p>• Institute of Pesticide Formulation Technology, Ministry of Chemical and Fertilizer, Gurgaon, India.</p><br><br><br><p></p><h5><b>DR. VIVEK KUMAR SHUKLA</b></h5><p></p><br><p><b>International refereed journals:</b></p><br><p>• Satyendra Kumar, A. K. Biswas, V. K. Shukla, A. Awasthi, R. S. Anand, J. Narain, “Application of Spectroscopic Ellipsometry to probe the environmental and photo-oxidative degradation of PPV”, Synthetic Metals 139 (2003) 751.</p><br><p>• Satyendra Kumar, Vivek Kumar Shukla, Ashutosh Tripathi, “Ellipsometric investigations on the light induced effects on tris (8-hydroxyquinoline) Aluminium (Alq3)” Thin Solid Films 477 (2005) 240.</p><br><p>• Vivek Kumar Shukla, Satyendra Kumar and Dinesh Deva “Light Induced Effects on the Morphology and Optical Properties of 8-hydroxyquinoline Aluminium (Alq3) Small Molecular Thin Films” Synthetic Metals 156 (2006) 387.</p><br><p>• Vivek Kumar Shukla ,Satyendra Kumar and Dinesh Deva, “AFM Studies on Formation of New Phase Responsible for Enhanced Photoluminescence in a Light Emitting Small Molecular Thin Film”, Journal of Luminescence 121 (2006) 132.</p><br><p>• Vivek Kumar Shukla and Satyendra Kumar “Light induced effects on photoluminescence and optical constants of Inq3 thin film used in organic light emitting devices” Optical Materials, 29 12 (2007)1809.</p><br><p>• Vivek Kumar Shukla and Satyendra Kumar, “Investigations of environmental induced effects on Alq3 thin films by phase imaging” Applied Surface Science, 253 16 (2007) 6848.</p><br><p>• E. Margapoti, V. Shukla, A. Valore A. Sharma, C. Dragonetti, C.C.Kitts, D. Roberto, M.Murgia, R. Ugo and M. Muccini “Excimer emission in single layer electroluminescent devices based on [Ir(4,5 diphenyl-2-methyl-thiazolo)2(5-methyl–1,10-phenanthroline)]+[PF6]-”J. Phys. Chem. C, 113 (2009) 12517.</p><br><p>• Vivek Kumar Shukla and Satyendra Kumar “Conversion of a green light emitting Zinc-quinolate complex thin film to a stable and highly packed blue emitter” Synthetic Metals, 160 (2010) 450.</p><br><p>• Vivek Kumar Shukla, Debjit Datta, Vibha Tripathi, and Satyendra Kumar “Structural, Optical and Morphological studies on organic semiconducting material (Zinc-quinolate complex) used in photonic devices” 2011 (under review).</p><br><br><p><b>International conference Proceedings:</b></p><br><p>• Vivek Kumar Shukla and Satyendra Kumar, “Optical studies on environmental and light induced effects on 8-hydroxyquinoline derivative metal complex small molecular thin films” presented in 7th International conference on optoelectronics, fiber optics &amp; photonics, Kerala, India. Photonics-2004, India, Proceedings, p.439.</p><br><p>• Vivek Kumar Shukla, Dinesh Deva and Satyendra Kumar, “AFM Studies on Formation of New Phase Responsible for Enhanced Photoluminescence in a Light Emitting Small Molecular Thin Film” and</p><br><p>• “Light induced effects on photoluminescence and optical constants of Inq3 thin film used in organic light emitting devices” presented in 3rd International Conference on Materials for Advanced Technologies (ICMAT) &amp; International union of material research societies (IUMRS), 9th International Conference on Advance Materials (ICAM), ICMAT-2005, IUMRS-ICAM 2005, Singapore. Proceedings, p.56.</p><br><p>• Vivek Kumar Shukla and Satyendra Kumar “Influence of substrate temperature on morphology and optical properties of Alq3”, 50th Annual DAE Solid State Physics Symposium (December 5–9, 2005) Bhabha Atomic Research Centre, Mumbai, India, Proceedings, p.419.</p><br><p>• Vivek Kumar Shukla and Satyendra Kumar “Blue shift in photoluminescence peak position on tris (8-hydroxyquinoline)metal complex thin films used as emitting layer in organic light emitting devices”. Thirteenth International Workshop on Physics of Semiconductor Devices (IWPSD), New Delhi, Dec. 2005, in Physics of Semiconductor Devices, Vol I, Eds. V. Kumar and P.K. Basu, (Allied, N.Delhi) (2005) p.211.</p><br><p>• Vivek Kumar Shukla and Satyendra Kumar “Study of optical properties and light induced effects on Inq3 thin film used in organic light emitting devices”, The 9th Asian Symposium on Information display, October 2006, New Delhi, India, ASID’06 Proceedings, p.248.</p><br><p><b>International conferences Presentations:</b></p><br><p>• Vivek Kumar Shukla and Satyendra Kumar, ”Environmental and light induced effects on 8-hydroxyquinoline derivative metal complex small molecules” presented in Indo-Italian workshop on organic semiconductors, IIWOS-2003, India.</p><br><p>• Vivek Kumar Shukla and Satyendra Kumar, “Ellipsometric investigations on the light induced effects on tris (8-hydroxyquinoline) Aluminium(Alq3)”, presented in 2nd International Conference on Materials for Advanced Technologies &amp; IUMRS – International Conference in Asia 2003, ICMAT-2003, Singapore.</p><br><p>• Vivek Kumar Shukla, Abhishek Sharma, Adriana Valore, Claudia Dragonetti, Michele Muccini, Stefania Righetto, Dominique Roberto, Renato Ugo “Organic Light-emitting Electrochemical Cells (OLECs) based on a cataionic organometallic Iridium complex”, FIRB-November 2007, Milan, Italy.</p><br><p>• Adriana Valore, Claudia Dragonetti, Michele Muccini, Stefania Righetto, Dominique Roberto, Abhishek Sharma, Vivek Kumar Shukla, Renato Ugo “Interesting luminescent properties of a new cyclometallated Ir(III) complex and the prototype of the related electroluminescence device”Photonics Europe-2008, Strasbourg.</p><br><br><br><p></p><h5><b>DR.JAYA MAITRA</b></h5><p></p><br><p><b>Publications</b></p><br><p>• "Synthesis and characterization of extran-g-2-acrylamido-2-methyl-1-propanesulphonic acid using potassium monopersulphate/thiourea redox pair"A. Srivastava, J. Banerjee, A. Srivastava and K. Behari, Journal of Designed Monomers and Polymers Volume 8, Number 4, pp. 335-345(11) 2005.</p><br><p>• "Studies on graft coplymerization of N-vinyl formamide onto Guar-gum initiated by bromate/ascorbic acid redox pair” Kunj Behari,Jaya Banerjee,Aarti Srivastava &amp; Dinesh Kumar Mishra, Indian Journal Of Chemical Technology,Vol,12, Nov 2005, pp.</p><br><p>• Polymerization of N- vinyl formamide by using an initiator 2,2’- Azobis [2-(2-imidazolin-2-yl) propane] dihydrochloride , Jaya Banerjee, Arti Srivastava and Kunj Behari Polymer Preprint ACS.</p><br><p>• Graft Copolymerization of 2–Acrylamido–2–Methyl–1–Propanesulphonic acid onto Carboxymethylcellulose(Sodium Salt) using Bromate/ Thiourea redox pair, Jaya Banerjee, Rajesh Kumar Abhishek Srivastava and Kunj Behari?, Journal of Applied Polymer Sciences Volume 100, Issue 1 , Pages 26 – 34, 2005.</p><br><p>• Studies on synthesis and chacterization of xanthan gum –g-N –vinyl formamide using PMS/Ag(I) system. Jaya Banerjee, , Arti Srivastava, Abhishek Srivastava and Kunj Behari*,Journal of Applied Polymer Sciences, Volume 101, Issue 3 , Pages 1637 – 1645, 2006.</p><br><p>• Radiation induced graft co-polymerization of vinyl monomers and their binary mixture onto rayon fiber. Sunita Rattan, Jaya Maitra et.al, Journal of Applied Polymer Sciences, Volume 08 , Issue 5 , Pages3104 - 3113Feb 2008</p><br><br><p></p><h5><b>DR. VANDNA SINGH</b></h5><p></p><br><p>• D P Singh a, Vandna Malika and Krishan Kumara “Trivalent Transition Metal Ion Directed Macro Cyclic Complexes Derived from 2, 6 – diaminopyridine Isatin” 98th Indian Science Congress, 189, p.126 Part II January 3-7 (2011)</p><br><p>• D. P. Singh a, V. Malika, R. Kumara, and K. Kumara “Synthesis and spectral study of biologically active macrocyclic complexes of divalent transition metal ions.” Russian J. Coord. Chem., 36, 220-225 (2010)</p><br><p>• D. P. Singha, Vandna Malika, R. Kumara and K. Kumara “Template synthesis of macrocyclic complexes of Co(II), Ni(II), Cu(II), Zn(II) and Cd(II): Spectroscopic, antibacterial and antifungal studies” J. Serb. Chem. Soc.75, 763-772 (2010)</p><br><p>• D.P. Singha, Vandna Malika, Krishan Kumara, Chetan Sharmab, K.R. Anejab “Macrocyclic metal complexes derived from 2,6-diaminopyridine and isatin with their antibactrial and spectroscopic studies.” Spectrochimica Acta Part A:, 76 A, 45-49 (2010)</p><br><p>• D.P. Singha, Vandna Malika, Ramesh Kumara, and Krishana and Saurabh Sudha Dhimanb “Synthesis, characterization, antibacterial and antifungal studies of some tetraazamacrocyclic complexes” J. Serb. Chem. Soc. 75 (10) 1396-1380 (2010)</p><br><p>• D.P. Singha, Vandna Malika, Ramesh Kumara, and Krishan Kumara “Divalent metal ion directed synthesis and characterization of hexaazamacrocyclic complexes.” Rasayan J. Chem., 2, 133-138 (2009)</p><br><p>• D.P. Singha, Vandna Malika, Ramesh Kumara, and Krishan Kumara “Synthesis, spectral and antibacterial studies of bivalent transition metal ion macrocyclic complexes.” Russian J. Coord. Chem., 35, 740-745 (2009)</p><br><p>• D.P. Singha, Vandna Malika, Ramesh Kumara, and Krishan Kumara and Jitender Singhb “Synthesis, spectroscopic and antibacterial activity of tetraazamacrocyclic complexes of trivalent chromium, manganese and iron.” J. Enzym. Inhib. Med. Chem., 24, 1201-1206 (2009) 2002.</p><br><p>• Dharam Pal Singha, Vandna Malika, and Ramesh Kumara “Synthesis and characterization of Biologically Active 10-Membered Tetraazamacrocyclic Complexes of Cr(III), Mn(III) and Fe(III).” Research Lett. Inorg. Chem., DOI: 10,1155/2009/824561 2002.</p><br><p>• D.P. Singha, Vandna Malika and Ramesh Kumara “Template synthesis, characterization and biological studies of tetraazamacrocyclic complexes.” 28th Annual Conference of Indian Council of Chemists, Hemchandracharya North Gujrat University, Patan (2009)</p><br><p>• D.P. Singha, Vandna Malika, Ramesh Kumara, and Krishan Kumara “One pot template synthesis and characterization of trivalent transition metal ion complexes derived from diaminopyridine and glyoxal”. Rasayan J. Chem., 1, 349-354 (2008)</p><br><p>• D.P. Singha, Vandna Malika, Ramesh Kumara, and Krishan Kumara “Synthesis and characterization of divalent transition metal complexes of tetraazamacrocycle.” 27th Annual Conference of Indian Council of Chemists, Gurukul Kangri University Haridwar, IP-CYSA-03, p. 42 (2008)</p><br><p>• D.P. Singha, Vandna Malika , Ramesh Kumara and Krishan Kumara “Tetraazamacrocyclic complexes of Co(II), Ni(II) and Cu(II) derived from diaminopyridine and benzyl” Ist Rashtreeya Yuva Vaigyanic Sammelan, NIT, Kurukshetra, November 28-30, (2008).</p><br><p>• D.P. Singha, Ramesh Kumara Vandna Malika and Parikshit Tyagirb “Template, synthesis, spectroscopic studies and biological activities of macrocyclic complexes derived from thiocarbohydrazide and glyoxal” Journal of Enzymes, Inhibition and Medicinal Chemistry, 22, 177(2007)</p><br><p>• D.P. Singha, Vandna Malika and Ramesh Kumara “Synthesis and characterization of Co(II), Ni(II), Cu(II), Zn(II) and Cd(II) with macrocycle 3,4,11,12-tetraoxo-1,2,5,6,10,13,14-octaaza- cyclohexadeca-6,8,14,16-tetraene and their biological screening” Transition Metal Chemistry, 32, 1051(2007)</p><br><p>• D.P. Singha, Vandna Malika and Ramesh Kumara “Characterization of metal complexes by analytical techniques” National Symposium on Recent Advances in Analytical Science and Application, Himachal Pradesh University, Shimla , April 9-11,2007 2002.</p><br><p>• D.P. Singha, Ramesh Kumara and Vandna Malika “Synthesis, characterization of macrocyclic ligand and study of its complexes with divalent metal salts” International Journal of Chemical Sciences, 4, 1031(2006)</p><br><p>• D.P. Singha, Ramesh Kumara and Vandna Malika “Synthesis, characterization of Macrocyclic ligand and study of its complexes with divalent metal salts”National Symposium on New Challenges in Chemistry, G.N.D.U. Amritsar, March 20-21, 2006</p><br><p>• D.P. Singha, Ramesh Kumara and Vandna Malika “Template, synthesis, Spectroscopic studies and biological screening of Macrocyclic complexes derived from thiocarbazide and benzyl” International Conference on Molecules to Materials, SLIET, Longowal, March 3-4, 2006</p><br><br><p></p><h5><b>DR. SUSHIL KUMAR</b></h5><p></p><br><p><b>International refereed journals/Proceedings:</b></p><br><br><p>• Kumar, S., Jayaraman, G.: Method of moments for laminar dispersion in an oscillatory flow through curved channels with absorbing walls. Heat and Mass Transfer,44, 1323-1336, (2008).</p><br><p>• Sushil Kumar and Girija Jayaraman, Method of moments for laminar dispersion in curved channels, Proceedings of International Conference on Environmental Fluid Mechanics, (ICEFM’05), Allied publishers Pvt. Ltd., IIT Guwahati, pp 291-297, March 3-5, 2005.</p><br><p>• Girija Jayaraman and Sushil Kumar, Longitudinal dispersion in meandering channels, Proceedings of International Conference on Environmental Fluid Mechanics, (ICEFM’05), Allied publishers Pvt. ltd., IIT Guwahati, pp 86-92, March 3-5, 2005.</p><br><p><b>International conferences Presentations:</b></p><br><p>• Method of moments for laminar dispersion in curved channels with boundary absorption, IMPA 2006 February 13-17, 2006 at IIT Delhi.</p><br><p>• Method of moments for laminar dispersion in curved channels, ICEFM ’05, March 3-5, 2005 at IIT Guwahati.</p><br><p>• Method of moments for laminar dispersion in curved channels, 70th IMS December 2004 at Jodhpur.</p><br><p>• Contaminant Dispersion in a Meandering Channel - Application to Respiratory Mechanics, ICMB 2004 February 19-21, 2004, at IIT Kanpur.</p><br><br><br><p></p><h5><b>DR. PRATIKSHA SAXENA</b></h5><p></p><br><p><b>Book Publication:</b></p><br><p>• Saxena Pratiksha, “Modeling and Simulation”, Narosa Publication, , ISBN 978-81-7319-906-6, India 2010.</p><br><p>• Saxena Pratiksha, “Analysis”, Vikas Publishing House Pvt. Ltd., ISBN 978-81-259-4595-6, India 2011.</p><br><p>• Saxena Pratiksha, “Animal Diet Formulation Using Nonlinear Programming”, Lambert Academic Publishing, ISBN 978-3-8443-3024-3, Germany 2011.</p><br><p>• Co-Authored: “Topology” Vikas Publishing House Pvt. Ltd., ISBN 978-93-259-5461-8, India 2012.</p><br><p>• A Chapter in “Integration Theory and Functional Analysis” Vikas Publishing House Pvt. Ltd., ISBN 978-93-259-5455-7, India 2012.</p><br><p>• Saxena Pratiksha, “Differential Calculus”, McGraw Hill Education (India) Private Limited, ISBN-13:978-1-25-906267-4, India 2014.</p><br><p><b>International Publications:</b></p><br><p>• Saxena Pratiksha, Simulation Tool for Queuing Models: QSIM, International Journal of Computers and Technology, Vol. 5, No.2, ISSN 2277-3061, 74-79, May- June 2013.</p><br><p>• Saxena Pratiksha, Use of Computer Programming in Animal Diet Formulation, Grain and Feed Milling Technology, Vol. 124, No.1, ISSN 1462-3872, 34-36, January- February 2013.</p><br><p>• Saxena Pratiksha, Pathak V, Kumar V, Animal Feed Formulation Using Non-Linear Programming and MATLAB, Journal of Veterinary Science and Technology, 1:345 Vol1, No. 7, doi:10.4172/scientificreports.345, USA, 2012.</p><br><p>• Saxena Pratiksha, Pathak V, Kumar V, Programming Technique for Animal Diet Formulation: A Non-Linear Approach, International Journal of Food Science and Nitrition Engineering, ISSN: 2166-5168, Vol. 2, No. 5, 85-88, USA, 2012.</p><br><p>• Saxena Pratiksha, M. Chandra, Animal Diet Formulation: A Review (1950-2010), CAB Reviews: Perspectives in Agriculture, Veterinary Science, Nutrition and Natural Resources, ISSN 1749-8848, Vol. 06, No. 057, 1-9, UK, 2011.</p><br><p>• Saxena Pratiksha, Comparison of Linear and Nonlinear Programming Techniques for Animal Diet, Applied Mathematics, p-ISSN: 2163-1409, e-ISSN: 2163-1425, Vol. 1, No. 1, 106-108, USA, 2011.<br>Online URL: http://article.sapub.org/10.5923.j.food.20110101.03.html</p><br><p>• Saxena Pratiksha, Application of Nonlinear Programming for Optimization of Nutrient Requirements for Maximum Weight Gain in Buffaloes, International Journal of Food Science and Nutrition Engineering, Vol. 1, No. 1, 8-10, USA, 2011, p-ISSN: 2166-5168 e-ISSN: 2166-5192.<br>http://article.sapub.org/10.5923.j.am.20110102.17.html</p><br><p>• Saxena Pratiksha, A survey paper for simulation software: Real world application, International Transactions in Applied Sciences, ISSN 0974-7273, Vol.2, Issue 1, pp. 79-85, January 2011.</p><br><p>• Saxena Pratiksha, Inventory Management Simulation, International Transactions in Applied Sciences, ISSN 0974-7273, Vol.2, Issue 2, pp. 327-334, April 2010.</p><br><p>• Saxena Pratiksha, Theoretical Aspects of Animal Diet Formulation: Mathematical Modeling using Non-Linear Programmig, Feedtech, International feed production and technology, ISSN 0928124X, Switzerland, Vol.14, Issue 1, 19-21, 2010.</p><br><p>• Saxena Pratiksha, Feed formulation software :A comparative Study, Feedtech, International feed production and technology, ISSN 0928124X, Switzerland, Vol. 1, Issue 8, 20-21, 2010.</p><br><p>• Saxena Pratiksha, An innovative approach to animal diet formulation, Grain Feed Milling Technology, Vol. 121, No. 5, ISSN- 1466-3872, September 2010, pp. 28-31, UK.</p><br><p>• Saxena Pratiksha, Optimization techniques for animal diet formulation, Gate2Biotech, e-portal, February 2011, Vol. 1, No. 2, pp. 1-5, ISSN 1802-2685, Europe.</p><br><p>• Saxena Pratiksha, Synthesis of animal feed formulation techniques: Linear and Non-Linear Model, Grain Feed Milling Technology, ISSN- 1466-3872, Vol. 122, No.3, May 2011, pp. 10-12, UK.</p><br><p>• Saxena Pratiksha, Database for animal diet formulation techniques: A glance to last decade, Grain Feed Milling Technology, ISSN- 1466-3872, Vol. 122, No.6, December 2011, pp. 16-19, UK.</p><br><p><b>National Publications:</b></p><br><p>• Saxena Pratiksha, Application of nonlinear programming in the field of animal nutrition: A problem to maximize the weight gain in sheep, National Academy Science Letters, ISSN 0250-541X, 2006, vol. 29, no1-2, pp. 59-64 .</p><br><p>• Saxena Pratiksha, Application of nonlinear programming in the field of animal nutrition: A problem to maximize the milk yield in cow, IMS Manthan, Volume 5, issue 1, 2010, pp. 30-43.</p><br><p>• Saxena Pratiksha, Animal nutrition Formulations, Agriculture &amp; Industry Survey, Vol. 21, No. 1, Banglore- India, January 2011.</p><br><p>• Saxena Pratiksha, Validation and Verification Techniques for Simulation Based Model: A theritical Outlook” Science India, ISSN 0972-8287, Vol. 14, No. 2, pp.30-39, February 2011.</p><br><p>• Saxena Pratiksha, Development of Conceptual model: Simulation composability, Science India, ISSN 0972-8287, Vol. 14, No. 10, pp.28-35, October 2011.</p><br><p>• Saxena Pratiksha, Tulsi Kushwaha, Simulation of ship autopilot, Science India, ISSN 0972-8287, Vol. 15, No. 12, pp. 25-28, December 2012.</p><br><p>• Saxena Pratiksha, Anjali Yadav, Simulation of single server queuing model, Science India, ISSN 0972-8287, Vol. 16, No. 6, pp 37-42, June 2013.</p><br><br><br><p></p><h5><b>DR. ANUJ KUMAR SHARMA</b></h5><p></p><br><p><b>Published/Accepted in Refereed International Journals (4):</b></p><br><p>• R. Jha and Anuj K. Sharma, “Design considerations for plasmonic-excitation based optical detection of liquid and gas media in infrared” Sensors and Actuators A: Physical 165, 271-275 (2011). [Equal Contribution Article] (1.841)*</p><br><p>• Anuj K. Sharma, “Plasmonic biosensor for detection of hemoglobin concentration in human blood: Design considerations” Journal of Applied Physics 114, 044701 (2013). (2.210)</p><br><p>• Anuj K. Sharma and A.Gupta, “Design of a plasmonic optical sensor probe for humidity-monitoring” Sensors and Actuators B: Chemical 188, 867-871 (2013). (3.535)</p><br><p>• S. Banerjee and Anuj K. Sharma, “Improving Unsustainable Livelihood Through Marketing Interventions: A Case on Rickshaw Puller’s" Accepted in Journal of Management Development (To be published in April 2013 issue). (0.268)</p><br><p><b>Published in National Journals (1) :</b></p><br><p>• Anuj K. Sharma, “Optical sensors based on surface plasmon resonance for biomedical detection of human blood-groups" Kiran 23 (3), 31-34 (2012).</p><br><p><b>In International Conference Proceedings (1):</b></p><br><p>• Anuj K. Sharma and A. Gupta, “Plasmonics-based optical monitoring of relative humidity in environment” Third Pole Demands Protection (HOPE-2013), September 12-14, 2013, Department of Geology, Kumaun University, Nainital, India. (Oral Presentation)</p><br><br><p></p><h5><b>DR. DEEPTI GOYAL</b></h5><p></p><br><p><b>Patent:</b></p><br><p>• Anita Sharma, Deepti jain and Ashu Rani -Fly ash supported bimetallic catalyst (Ni-Co): An efficient and recyclable solid acid catalyst for esterification reaction. Indian Patent No. 3749/DEL/2011.</p><br><p><b>Publications:</b></p><br><p>• Deepti Jain, Renu Hada and Ashu Rani, Surface Modification of Fly Ash for Active Catalysis, Journal of Catalysts, Volume 2013, Article ID 723957, 9 pages.</p><br><p>• Deepti Jain and Ashu Rani Renuka jain, Ca-MgO/fly ash as Basic Catalysts in Cyanoethylation Processes, A National Conference on Upcoming trends in chemical science, 6-7 Sep. 2013, Sri Anand College of Science, M.S.</p><br><p>• Deepti Jain, Manish Kumar Mishra and Ashu Rani, Synthesis and characterization of novel aminopropylated fly ash catalyst and its beneficial application in base catalyzed C-C bond forming reactions, Fuel Processing Technology, 95, 2012, 119-126.</p><br><p>• Deepti Jain, Chitralekha Khatri and Ashu Rani, Synthesis and characterization of novel solid base catalyst from fly ash, Fuel, 90(6) 2011, 2083-2088.</p><br><p>• Deepti Jain and Ashu Rani, MgO enriched coal fly ash as highly active heterogeneous base catalyst for Claisen-Schmidt condensation reaction, American Chemical Science Journal, 1(2) 2011.</p><br><p><b>Book chapters:</b></p><br><p>• “Applications of Ionic Liquids in Metal Extraction” Geeta Durga, Deepti Goyal, Anuradha Mishra, in ‘Green Materials for Sustainable Water Remediation and Treatment, Anuradha Mishra and James H. Clark (Editors), 2013, RSC Publishing, Royal Society of Chemistry, Cambridge, UK.</p><br><p>• “Nanomaterials for Water Remediation” Deepti Goyal, Geeta Durga, Anuradha Mishra, in Green Materials for Sustainable Water Remediation and Treatment’, Anuradha Mishra and James H. Clark (Editors), 2013, RSC Publishing, Royal Society of Chemistry, Cambridge, UK.</p><br><p>• “Zeolites in Wastewater Treatment” Abha Dubey, Deepti Goyal, Anuradha Mishra, in ‘Green Materials for Sustainable Water Remediation and Treatment’, Anuradha Mishra and James H. Clark (Editors), 2013, RSC Publishing, Royal Society of Chemistry, Cambridge, UK.</p><br><p><b>Conference Proceedings and Contributions:</b><br><b>International</b></p><br><p>• Deepti Jain and Ashu Rani. A novel way of utilization of solid waste fly ash as an ecofriendly base catalyst, Paper accepted for oral presentation at World of Coal Ash International Symposium (WOCA), held on May 9-12, 2011 in Covington, University of Kentucky, Kentucky, USA.</p><br><p>• Deepti Jain, Chitralekha Khatri and Ashu Rani. Condensation of Benzaldehyde to Cyclohexanone Using Fly Ash as Solid Base Catalyst. Paper accepted for oral presentation at World of Coal Ash International Symposium (WOCA), held on May 4-7, 2009 in Denver, CO, USA.</p><br><p><b>National</b></p><br><p>• Sakshi Kabra, Deepti Jain and Ashu Rani, Development of activation techniques of fly ash and volcanic ash for adsorption of environmental hazardous dyes and heavy metals. National Conference on Emerging Views in Advanced Chemistry, Dept. of Chemistry, M.L.V. Govt. College, Bhilwara, 17-19 Dec. 2011</p><br><p>• Deepti Jain, Anita Sharma and Ashu Rani, Environmental Benign Route for the Synthesis of Sulphuric Acid Treated Fly Ash Catalyst, National Symposium on Recent Trends in Chemical Sciences, University of Kota, Kota, 7-8 Jan 2011.</p><br><p>• Deepti Jain, Anita Sharma and Ashu Rani, Environmental Benign Route for the Synthesis of Sulphuric Acid Treated Fly Ash Catalyst: Highly Active and Selective for Esterification Reaction, RCEW, Jaipur, 20-21 Aug. 2010.</p><br><p>• Deepti Jain, Chitralekha Khatri, Anita Sharma and Ashu Rani, Fly ash supported calcium oxide as recyclable solid base catalyst for Knoevenagel condensation reaction, Bhartiya Vigyan Sammelan, Indore, 1-5 Dec. 2009.</p><br><p><b>Training School</b></p><br><p>• Attended 8 days summer school (SAC-6, School of Analytical Chemistry) at BARC, Mumbai (13-20 May 2013).</p><br><br><p></p><h5><b>MS. SHWETA NAGAL</b></h5><p></p><br><p><b>Abstract :</b></p><br><p>• Shweta Nagal, Shweta Walia , Jashbir Singh , Balraj Singh, Suresh Walia, Charanjit Kaur “Free radical scavenging activity, total phenolics and hypoglycemic potential of Capsicum annuum in relation to maturity stage” in Book of abstracts at 7th nutra summit, Banglaore (organized by international union of food science and technology) from 15-17th March, 2012.</p><br><p>• Best poster award for “Novel Bread with Carotene and Anthocyanin as Functional Ingredients: Antioxidant and Sensory Properties” by Charanjit Kaur, Suresh Walia, Shweta Nagal, Jashbir Singh, Supradeep Saha , in book of abstracts at 7th nutra summit, Banglaore (organized by international union of food science and technology) from 15-17th March, 2012.</p><br><p><b>Research Publications:</b></p><br><p>• C. Kaur, S. Walia, S. Nagal, S. Walia, J. Singh, B.B. Singh, S. Saha, B. Singh, P. Kalia, S. Jaggi, Sarika.(2013). Functional quality and antioxidant composition of selected tomato (solanum lycopersicon l) cultivars grown in northern india. LWT-Food Science and Technology- Elsevier Publication. –50 (2013) 139-145.(Impact factor-3.107)</p><br><p>• Charanjit Kaur, Shweta Nagal, Jyoti Nishad, Ravinder Kumar, Sarika. (2013) Evaluating eggplant (Solanum melongena L) genotypes for bioactive properties: A chemometrics approach. Food Research International- Elsevier Publication. (Impact factor-3.378)- Accepted.</p><br><p>• S. Nagal, C. Kaur , H. Choudhary, J. Singh, B. B. Singh, K.N Singh. (2012). Lycopene content, antioxidant activity and color attributes of selected watermelon cultivars grown in India. International journal of food science and nutrition – Volume 63, Number 8, December 2012 , pp. 996-1000(5) .(Impact Factor-1.257).</p><br><p>• T. K. Koley, C. Kaur, S. Nagal, S. Walia, S. Jaggi, Sarika.(2011). Antioxidant activity and phenolic content in genotypes of Indian jujube (Zizyphus mauritiana Lamk). Arabian journal of chemistry- Elsevier Publication. (Impact Factor– 2.266).</p><br><p><b>Review Article:</b></p><br><p>• Sonali Nagar and Shweta Nagal. (2013) Importance of whey based beverages. International Journal of Food and Fermentation Technology. New Delhi Publisher (ISSN NO: 2249-1570)- Accepted.</p><br><br><p></p><h5><b>DR. ALPA YADAV</b></h5><p></p><br><p><b>Paper published in referred Research Journals :</b></p><br><p>• Biodegradable graft copolymers of fenugreek mucilage and polyacrylamide:A renewable reservoir to biomaterials. Anuradha Mishra, AlpaYadav, Sunita Pal, Anushrita Singh. Carbohydrate Polymers 65(2006)58-63(U.K.)</p><br><p>• Plantago psyllium grafted polyacrylonitriles: synthesis, Characterization and its uses for Solid removal from sewage wastewater. Anuradha Mishra, AlpaYadav, Monika Agarwal and Ranjani srinivasan.Chinese Journals of Polymer Science Vol.23,No.1, 113-118 (2005) (China)</p><br><p>• Fenugreek mucilage for solid removal from tannery effluent. A.Mishra, A.Yadav, M.Agarwal, M.Bajpai, Reactive and Functional Polymers 59(2004)99-104(U.K.)</p><br><p>• Polyacrylonitrile grafted Plantago psyllium mucilage for the removal of suspended and dissolved solids from tannery effluent. A.Mishra, A.Yadav, M.Agarwal, S.rajani. Colloid and Polymer Science, (2004)282:300-303 (Japan)</p><br><p>• Fenugreek mucilage as a flocculating agent for sewage treatment. Anuradha Mishra, Monika Agarwal, Alpa Yadav Colloid and Ploymer Science, 281,164(2003) (Japan)</p><br><p><b>Books Published:</b></p><br><p>• Experiments in Biotechnology &amp; Plant Tissue Culture. Alpa Yadav and Arvind Yadav. Edition 1st, 2012, Nirmal Publication, Delhi. ISBN: 81-86400-152-4.</p><br><p>• Parayawaran Chintan Ravindra Nath Yadav and Alpa Yadav Edition 1st, 2009, Nirmal Publication, Delhi.</p><br></td></tr></tbody></table>
            </div>
        </div>
      </div>
  
    </div>
    
    <%include footer%>